<div class="dist-style">
  <div class=" row justify-content-between distIcon-style">
    <div class="col-sm-2 col-md-2 col-lg-2 ">
      <h4 class="left">
        <i class="fa fa-commenting-o" aria-hidden="true"></i> Notification</h4>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 right">
      <!-- <button md-raised-button color="primary"><i class="fa fa-plus fa-2" aria-hidden="true"></i></button> -->
      <a class="cursor logo-color " title=" Notification Scheduler" (click)="openSmsDialog()">
        <i class="fa fa-plus fa-2 plus-style" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class='pd-15'>
    <div class="row brd-box-box" id="Preordrlist" *ngFor="let smslist of smsListDetails; let i = index" [attr.data-index]="i">
      <div class="col-5 left bg-color-bg brd-left-5">
        <div class="row">
          <div class="col-6">

            <b class="left">Name: <span class="grayd">{{smslist.name}}</span></b>
            <br>
            <b>Status:</b> 
            <span class="left capital grayd">
              {{smslist.status}}</span>
            <br>
            <b>Type:</b>
            <span class="left capital grayd">
              {{smslist.smstype}}</span>
            <br>
          </div>
          <div class="col-6">
            <span class="left">
              <span class="fa fa-phone"></span>
              <span *ngFor="let mobile of smslist.mobileno">
                {{mobile.mobileno}} {{item}}{{i ? '' : ', '}} </span>
              <span *ngIf="smslist.mobileno === null "> - </span>
            </span>
            <br>
            <b>Mobile Count:</b>
            <span class="left grayd">
               {{smslist.mcount}}</span>
            <br>
            <span class="fa fa-clock-o"></span>
            <span class="grayb">{{smslist.createddate | utcDate}}</span>
            <br>
          </div>
        </div>
      </div>
      <div class="col-7 mg-top">
        <div class="left">
          <span class="body-bg">Body:</span>
          <br>
          <p class="left">{{smslist.body_desc}}</p>
        </div>
      </div>
    </div>
  </div>
  <h4 class="warning  capitalize center">
    <a href="javascript:void(0);" (click)=getsmsByPaging(); *ngIf="smsClickMore">
      <i class="fa fa-cloud-upload" aria-hidden="true"></i> click for more data</a>
    <span *ngIf="!smsClickMore">Record Not Available</span>
  </h4>
</div>
<!-- <button md-raised-button color="primary" (click)="openSmsDialog()"><i class="fa fa-plus fa-2" aria-hidden="true"></i></button> -->