<!-- <div class="dist-style">
        <div class=" row justify-content-between distIcon-style">
        <div class="col-2">
            <h4><i class="fa fa-sitemap"></i> SMS</h4>
        </div>
      <div class="col-2">
              <button md-raised-button color="primary" (click)="openSmsDialog()"><i class="fa fa-plus fa-2" aria-hidden="true"></i></button>
              
      </div>
        </div>
        <div id="" class="row pd-15x10 mg-0">
   
      </div>
      </div> -->
      <button md-raised-button color="primary" (click)="openSmsDialog()"><i class="fa fa-plus fa-2" aria-hidden="true"></i></button>
      