<div class="dist-style">
  <div class=" row justify-content-between distIcon-style">
    <div class="col-sm-2 col-md-2 col-lg-2 ">
      <h4 class="left">
        <i class="fa fa-bell-o" aria-hidden="true"></i> Notification</h4>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 right align-self-center">
      <!-- <button md-raised-button color="primary"><i class="fa fa-plus fa-2" aria-hidden="true"></i></button> -->
      <a class="cursor logo-color " title=" Notification Scheduler" (click)="openSmsDialog()">
        <i class="fa fa-plus fa-2 plus-style" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  
  <div class='pd-15'>
    <div class="row brd-box-box" id="Preordrlist" *ngFor="let smslist of smsListDetails; let i = index" [attr.data-index]="i">
      <div class="col-5 left bg-color-bg brd-left-5">
        <div class="row">
          <div class="col-6">
            <span class="left" *ngIf="smslist.notificationsendedby" class="capital">
              <b>Sent by: </b>{{smslist.notificationsendedby.fullname}}</span>
            <b class="left" *ngIf="!smslist.notificationsendedby"> Sent by: - </b>
            <br>

            <span class="left" *ngIf="smslist.smstype == 'sms'" class="capital">
              <b class="">Sms Name: </b>{{smslist.name}}</span>
            <span class="left" *ngIf="smslist.smstype == 'notification'" class="capital">
              <b class="">Template Name: </b>{{smslist.tempname}}</span>
            <br>

            <span class="left" *ngIf="smslist.smstype == 'sms' && smslist.mcount == 1">
              <span *ngFor="let name of smslist.mobileno" class="capital">
                <b>Customer Name:</b> {{name.fullName}}</span>
            </span>
            <span class="left" *ngIf="smslist.smstype == 'notification' && smslist.mcount == 1 ">
              <span *ngFor="let name of smslist.mobileno" class="capital">
                <b>Customer Name: </b>{{name.fullName}}</span>
            </span>

            <b class="left" *ngIf="smslist.smstype == 'notification' && smslist.mcount > 1 ">Customer Name: - </b>
            <b class="left" *ngIf="smslist.smstype == 'sms' && smslist.mcount > 1 ">Customer Name: - </b>

            <br>
            <span *ngIf="smslist.status" class="left capital ">
            <b>Status: </b>
              {{smslist.status}}</span>
              <span *ngIf="!smslist.status" class="left capital ">
                  <b>Status: -</b></span>
            <br>

          </div>
          <div class="col-6">
            <span class="left">
              <span class="fa fa-phone"></span>
              <span *ngFor="let mobile of smslist.mobileno">
                {{mobile.mobileno}} {{item}}{{i ? '' : ', '}} </span>
              <span *ngIf="smslist.mobileno === null "> - </span>
            </span>
            <br>
            <b>Mobile Count: </b>
            <span class="left ">
              {{smslist.mcount}}</span>
            <br>
            <span class="capital" *ngIf="smslist.type"> <b>User Type: </b>{{smslist.type[0].user_type}}</span>
            <b class="capital" *ngIf="!smslist.type"> User Type: -</b>

            <br>
            <b>Sms Type: </b>
            <span class="left capital ">
              {{smslist.smstype}}</span>
          </div>
        </div>
      </div>

      <div class="col-7 mg-top">
        <div class="left row mgbottom-5">
          <div class="col">
            <span class="" *ngIf="smslist.orderid"><b>Order Id: </b> {{smslist.orderid}}</span>
            <!-- <b class="" *ngIf="!smslist.orderid">Order Id: - </b> -->

          </div>
          <div class="col-4 right">
            <span class="gray9"> <span class="fa fa-clock-o"></span> {{smslist.createddate | utcDate}}</span>
          </div>
        </div>
        <div class="left">
        <span class="body-bg">Body:</span>
        <p class="left">{{smslist.body_desc}}</p>
        </div>
      </div>

    </div>
  </div>
  <h4 class="warning  capitalize center">
    <a href="javascript:void(0);" (click)=getsmsByPaging(); *ngIf="smsClickMore">
      <i class="fa fa-cloud-upload" aria-hidden="true"></i> click for more data</a>
    <span *ngIf="!smsClickMore">Record Not Available</span>
  </h4>
</div>
<!-- <button md-raised-button color="primary" (click)="openSmsDialog()"><i class="fa fa-plus fa-2" aria-hidden="true"></i></button> -->