<!-- <div class="row">
<h2 md-dialog-title>Distributors</h2><br>

</div> -->
<div class="row justify-content-between modal-title ">
  <div class="col-md-4  col-sm-4  col-lg-4">
      <i class="fa fa-edit"></i> Empty Cans
  </div>
  <div class=" col-md-1  col-sm-1  col-lg-1 right">
        <strong   (click)="onCloseCancel()"><i class="fa fa-times fs-20" aria-hidden="true"></i>
        </strong>         
  </div>
</div>

  <md-dialog-content layout="column">
      <div class="container-fluid brd-bottom cans-style">
        <br>
          <table class="table table-hover table-fixedheader">
      <thead>
        <tr>
          <th width="12%">S.No</th>
          <th width="40%">Product Name</th>
          <th width="25%">Type</th>
          <th width="22%">Empty Cans</th>
           </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let cans of ProductsCans let i = index" [attr.data-index]="i">
          <td width="12%" class="left" scope="row">{{i + 1}}</td>
          <td width="40%" class="left capital">{{cans.root.brandname}}</td>
          <td width="25%" class="left capital">{{cans.root.brandType}}</td>
          <td width="22%" class="left capital"> 
            <input class="form-control center brd-bottom" mdInput [(ngModel)]="cans.root.avaliablecans"/>
                 </td>
         </tr>
      </tbody>
    </table>
  </div>
  </md-dialog-content>
  <div class="row float-right pdright-30 mgbottom-20">
      <md-dialog-actions align="end">
        <button type="submit" class="btn-primary" md-raised-button (click)="updateCanQuantity()">UPDATE</button> 
        <button md-raised-button (click)="onCloseCancel()">CANCEL</button>&nbsp;
      </md-dialog-actions>
    </div>


