.width-100pc .mat-form-field{
    width: 100% !important;
  }
  .scroll{
    overflow-x: hidden;
    height: 300px;
    overflow-y: auto;
}
.warning{
  color:red;
}
.red{
  color: red;
}
.form-control{
  border: none !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius:0px !important;
}
.brd-bottom{
  border-bottom: 1px solid #999 !important;

}
.width-50pc{
  width: 50%;
}

.width-100pc{
  width: 100%;
}

.nav-color{
  background: #0f75bc;
  color: white;
}

.opa-disable{
  opacity: 0.7 !important;
  background: #f1f5f7;
}

.brd-btm-2px{
  margin: 0px !important;
  border-bottom: 2px solid grey !important;
}
.inset {border-style: inset;}

.bg-fade-blue{
  box-shadow: 0px 0px 50px #0f75bc inset !important;
}