<div class="row justify-content-between modal-title ">
  <div class="col-md-4  col-sm-4  col-lg-4">
    <i class="fa fa-cart-plus "></i> Pre Order - Cart
  </div>
  <div class="col-md-1  col-sm-1  col-lg-1 right">
    <strong>
      <i class="fa fa-times fs-20" aria-hidden="true" (click)="onCloseCancel()"></i>
    </strong>
  </div>
</div>

<md-dialog-content layout="column">
  <div class="container-fluid pd-15x25 brd-bottom">
    <div class="row brd-btm-2px">
      <!-- <div class="  col-sm-4  col-md-4  col-lg-4">
          <md-form-field class="example-full-width">
              <input mdInput placeholder="Distributors" aria-label="State" [mdAutocomplete]="auto" [formControl]="stateCtrl">
              <md-autocomplete #auto="mdAutocomplete">
                <md-option *ngFor="let dist of filteredDistributor | async" [value]="dist.fullName">
                  <span>{{ dist.fullName }}</span>
                </md-option>
              </md-autocomplete>

          <md-error>
            Distributors is
            <strong>required</strong>
          </md-error>
        </md-form-field>
      </div> -->
      <div class="  col-sm-4  col-md-4  col-lg-4">
        <md-form-field class="example-full-width">
          <input mdInput [mdDatepicker]="picker" [min]="minDate" [max]="maxDate" placeholder="Select Date" [(ngModel)]="createPreOrderInput.date" (ngModelChange)="dateChanges($event)">
          <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
          <md-datepicker #picker></md-datepicker>
          <md-error>
            Date is
            <strong>required</strong>
          </md-error>
        </md-form-field>
      </div>


 


      <!-- <div class="  col-sm-4  col-md-4  col-lg-4">
        <md-select placeholder="Select Time" name="type" class="wd-100pc" [(ngModel)]="createPreOrderInput.timeslot">
          <md-option>Select Slot</md-option>
          <md-option value="7AM-8AM" [disabled]= '7 <= hours' >7AM-8AM</md-option>
          <md-option value="8AM-9AM" [disabled]='8 <= hours' >8AM-9AM</md-option>
          <md-option value="9AM-10AM" [disabled]='9 <= hours'>9AM-10AM</md-option>
          <md-option value="10AM-11AM" [disabled]='10 <= hours'>10AM-11AM</md-option>
          <md-option value="11AM-12PM" [disabled]='11 <= hours'>11AM-12PM</md-option>
          <md-option value="12PM-1PM" [disabled]='12 <= hours'>12PM-1PM</md-option>
          <md-option value="1PM-2PM" [disabled]='13 <= hours'>1PM-2PM</md-option>
          <md-option value="2PM-3PM" [disabled]='14 <= hours'>2PM-3PM</md-option>
          <md-option value="3PM-4PM" [disabled]='15 <= hours'>3PM-4PM</md-option>
          <md-option value="4PM-5PM" [disabled]='16 <= hours' >4PM-5PM</md-option>
          <md-option value="5PM-6PM" [disabled]='17 <= hours'>5PM-6PM</md-option>
          <md-option value="6PM-7PM" [disabled]='18 <= hours'>6PM-7PM</md-option>
          <md-option value="7PM-8PM" [disabled]='19 <= hours'>7PM-8PM</md-option>
          <md-option value="8PM-9PM" [disabled]='20 <= hours'>8PM-9PM</md-option>
        </md-select>
      </div> -->

        <div class="  col-sm-4  col-md-4  col-lg-4">
        <md-select placeholder="Select Time" name="type" class="wd-100pc" [(ngModel)]="createPreOrderInput.timeslot">
          <md-option>Select Slot</md-option>
          <md-option value="8AM-11AM" [disabled]= '7 <= hours'>8AM-11AM</md-option>
          <md-option value="11AM-2PM" [disabled]= '10 <= hours'>11AM-2PM</md-option>
          <md-option value="2PM-5PM" [disabled]= '13 <= hours'>2PM-5PM</md-option>
          <md-option value="5PM-8PM" [disabled]= '16 <= hours'>5PM-8PM</md-option>
        </md-select>
      </div>




      


      <!-- <div class="col-2 ">
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Distributor" aria-label="State" [mdAutocomplete]="auto" [formControl]="DistributorCtrl">
          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let dist of filteredDistributors | async" [value]="dist.fullName">
              <span>{{ dist.fullName }}</span>
            </md-option>
          </md-autocomplete>
        </md-form-field>
      </div> -->

    

      <!-- <div class="col-2 ">
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Supplier"  [mdAutocomplete]="auto" [formControl]="supplierCtrl">
          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let supp of filteredSuppliers | async" [value]="supp.fullName">
              <span>{{ supp.fullName }}</span>
            </md-option>
          </md-autocomplete>
        </md-form-field>
      </div> -->


    </div>

    <!-- old code starts here -->
    <!-- <div class="table-scroll">
      <table class="table table-hover ">
        <tbody *ngFor="let prod of productList">
          <tr class="border-topbottom bg-eee">
            <td class="" colspan="4">
              <b class="capital">
                <i class="fa fa-gift" aria-hidden="true"></i>
                Product Name : {{prod.brandName}}
                <b class="capital"> &nbsp;&nbsp; | &nbsp;&nbsp;
                  <span class="">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                    Category : {{prod.category}}</span>
                </b>
              </b>
            </td>
          </tr>
          <tr class="border-topbottom bg-eee">
            <th width="40%">Type</th>
            <th width="20%">Price per Unit</th>
            <th width="15%">Quantity</th>
            <th width="15%">Cost</th>
          </tr>
          <tr *ngFor="let details of prod.data">
            <td>
              <div class="form-radio form-radio-inline">
                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                  <input type="radio" class="custom-control-input" name="productDetails" [value]="details" [(ngModel)]="createPreOrderInput.productDetails">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{details.ptype}}</span>
                  </label>
              </div>
            </td>
            <td> -->

<!-- old code ends here -->

                  <!-- <span class="custom-control-description">{{}}</span> -->
              
              <!-- <span>Price per Unit : </span> -->
              <!-- {{Details.discountproducts.product_cost}} -->


              <!-- old code
              <b class="">{{details.pcost}}</b>
            </td>
            <td>
                <div class="">                   
              <div class="width-100pc">
                <md-form-field class="center">
                  <input class="form-control" mdInput type="number" min="0" step="1"  [formControl]="FormControl" [(ngModel)]="details.quantity" (keyup)="onChangeQuantity(details,$event)"  >


                ends here-->



                  <!-- <md-error *ngIf="FormControl.hasError('required')">
                      Quantity is <strong>required</strong>
                    </md-error> -->



                <!-- old code</md-form-field>
              </div>
                </div>
            </td>
            <td>
              <b class="">{{details.pcost*details.quantity}}</b>
            </td>
          </tr>
        </tbody>
      </table>
    </div> ends here -->


    <div class="table-scroll scroll">
      <table class="table table-hover ">
        <tbody *ngFor="let prod of productList">
          <tr class="border-topbottom bg-eee">
            <td class="" colspan="6">
              <b class="capital">
                <i class="fa fa-gift" aria-hidden="true"></i>
                Product Name : {{prod.brandName}}
                <b class="capital"> &nbsp;&nbsp; | &nbsp;&nbsp;
                  <span class="">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                    Category : {{prod.category}}</span>
                </b>
              </b>
            </td>
          </tr>
          <tr class="border-topbottom" style="background: #0f75bc;
          color: white;">
            <th width="40%">Type</th>
           
            <th width="15%">Quantity</th>   
            <th width="12%">Price per Unit</th>
            <th width="12%" title="Express Delivery">Exp Delv</th>
            <th width="13%" title="Service Charge">Serv Charges</th>
            <th width="10%">Cost</th>
    
          </tr>
          <tr *ngFor="let details of prod.data">
            <td>
              <div class="form-radio form-radio-inline"  >

                  <!-- add this line in above div later (change)="minOrderChanged(details,$event)" -->
                <b *ngIf="details.stockstatus == 'Soldout'"> <i class="fa fa-close danger" title="sold out"></i></b>
                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                  <input type="radio" class="custom-control-input" name="productDetails" [value]="details" [(ngModel)]="createPreOrderInput.productDetails" (change)="minOrderChanged($event)" [disabled]="details.stockstatus == 'Soldout'">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description"><b>{{details.category}}</b> {{details.ptype}}</span>
                  </label>
              </div>
            </td>
            
          

           
              <td>
                  <div class="row">  
                      <div class="col-2">
                          <a class="cursor logo-color ">
                            
                            <b title="Add Slider"  class="fa fa-minus-circle danger fs-22 cursor" aria-hidden="true" (click)="addSlider()"></b>
                          </a>
                        </div>    
                    
                <div class="col-7">
                    <input class="brd-bottom form-control btn-sm"  type="number" min="0" step="1"   [(ngModel)]="details.quantity" (keyup)="onChangeQuantity(details,$event)" [disabled]="details.stockstatus == 'Soldout'"  >
                    </div>
                    <div class="col-2  row">
                        <a class="cursor logo-color">
                            <b title="Add Slider"  class="fa fa-plus-circle success fs-22 cursor" aria-hidden="true" (click)="addSlider()"></b>
                        </a>
                      </div>    

            
              </div>
               
            </td>

            <td>
              <b class="text-danger">{{details.pcost}} </b>
            </td>
            
            
            <td class="">
                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="details.expressdelivery" (change)="expressDeliveryCharge(details ,$event.target.checked)" >
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span> {{details.expressdeliverycharges}}
                </label>
               </td>
            <td class="text-warning">{{details.servicecharge}} </td>
            <td >
              <b class="text-success" *ngIf="createPreOrderInput.productDetails && details.quantity">{{details.pcost*details.quantity + amount + details.servicecharge*details.quantity }} </b>
              <b class="text-success" *ngIf="details.quantity == 0 || detailsquantity == ''"> 0 </b>
              <!-- <b class="" *ngIf= "details.servicecharge"> 0 </b> -->
              <!-- <b class="" *ngIf="createPreOrderInput.productDetails.length <= 0">0</b> -->
            </td>
   
          </tr>
        </tbody>
      </table>
    </div>
  


  </div>
</md-dialog-content>
<div class="row float-right pdright-30 mgbottom-20">
  <p class="warning">{{message}}</p> &nbsp;&nbsp;
  <p class="warning">{{message1}}</p> &nbsp;&nbsp;
 
  <md-dialog-actions align="end">
    <button md-raised-button class="btn-primary" (click)="createPreOrder()" >PROCEED TO ORDER ASSIGNMENT</button>&nbsp;
    <button md-raised-button class=" bg-warning" (click)="deliverPreOrder()" [disabled]="Details.isappdownloaded === null">DELIVERY AS A DISTRIBUTOR</button>&nbsp;
  </md-dialog-actions>
</div>
<!-- [disabled]="!FormControl.valid"  [formControl]="FormControl"-->