<div class="row justify-content-between modal-title ">
  <div class="col-md-4  col-sm-4  col-lg-4">
    <i class="fa fa-cart-plus "></i> Pre Order - Cart
  </div>
  <div class="col-md-1  col-sm-1  col-lg-1 right">
    <strong>
      <i class="fa fa-times fs-20" aria-hidden="true" (click)="onCloseCancel()" ></i>
    </strong>
  </div>
</div>

<md-dialog-content layout="column">
  <div class="container-fluid pd-15x25 brd-bottom">
    <div class="row">
      <!-- <div class="  col-sm-4  col-md-4  col-lg-4">
          <md-form-field class="example-full-width">
              <input mdInput placeholder="Distributors" aria-label="State" [mdAutocomplete]="auto" [formControl]="stateCtrl">
              <md-autocomplete #auto="mdAutocomplete">
                <md-option *ngFor="let dist of filteredDistributor | async" [value]="dist.fullName">
                  <span>{{ dist.fullName }}</span>
                </md-option>
              </md-autocomplete>

          <md-error>
            Distributors is
            <strong>required</strong>
          </md-error>
        </md-form-field>
      </div> -->
      <div class="  col-sm-4  col-md-4  col-lg-4">
          <md-form-field class="example-full-width">
              <input mdInput [mdDatepicker]="picker" placeholder="Select Date" [(ngModel)]="createPreOrderInput.date">
              <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
              <md-datepicker #picker></md-datepicker>
          <md-error>
            Date is
            <strong>required</strong>
          </md-error>
        </md-form-field>
      </div>
      <div class="  col-sm-4  col-md-4  col-lg-4">
        <md-select placeholder="Select Time" name="type" class="wd-100pc" [(ngModel)]="createPreOrderInput.timeslot">
          <md-option >Select Time
          </md-option > 
          <md-option value="9AM-1PM">9AM-1PM
          </md-option>
          <md-option value="4PM-7PM">4PM-7PM
          </md-option>
        </md-select>

      </div>
    </div>
    <div class="table-scroll">
      <table class="table table-hover ">
        <tbody *ngFor="let prod of productList">
          <tr class="border-topbottom bg-eee" >
            <td width="30%"></td>
            <td width="25%">
              <div class="right" >
                <b class="capital">{{prod.brandName}}
                </b>
              </div>
            </td>
            <td width="20%" class="">
              <span class="gray9">({{prod.category}})</span>
            </td>
            <td width="25%"></td>
          </tr>

          <tr *ngFor="let details of prod.data">
            <td width="30%">
              <div class="form-radio form-radio-inline">
                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                  <input type="radio" class="custom-control-input" name="productDetails" [value]="details" [(ngModel)]="createPreOrderInput.productDetails">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{details.pname}}: {{details.ptype}}</span>
                </label>
              </div>
            </td>
            <td width="25%">
              <span>Price per Unit : </span>
              <b class="">{{details.pcost}}</b>
            </td>
            <td width="20%" class="">
                <span class="td-label">Cost: </span>
             
                <b class="">{{details.pcost*details.quantity}}</b>
            </td>
            <td width="25%">
              <div class="row">

                <!-- <div class="col-md-3 align-self-center">
                  <i class="fa fa-minus-circle fa-2x" aria-hidden="true"></i>
                </div> -->
                <div class="col-md-6 ">
                  <div class="width-100pc">
                    <md-form-field class="center">
                      <input class="form-control" mdInput placeholder="Quantity" type="number" min="0" step="1" [(ngModel)]="details.quantity" >
                    </md-form-field>
                  </div>
                </div>
                <!-- <div class="col-md-3 align-self-center">
                  <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
                </div> -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</md-dialog-content>
<div class="row float-right pdright-30 mgbottom-20">
  <md-dialog-actions align="end">

    <button md-raised-button class="btn-primary" (click)="createPreOrder()">PROCEED TO ORDER ASSIGNMENT</button>&nbsp;
    <button md-raised-button class="btn-primary" (click)="deliverPreOrder()">DELIVERY AS A DISTRIBUTOR</button>&nbsp;

  </md-dialog-actions>
</div>