agm-map {  
    height: 450px;  
    }  
    .mgtopleft-20{ 
    margin: 20px 0px 0px 20px !important;
    }
    .mg-10-5{   
    margin: 10px 0px -5px 0px !important; 
    }
    
#map {
    height: 550px;
 }
    