<div class="row justify-content-between modal-title ">

  <div class="col-4">
    <strong>
      <i class="fa fa-check-square-o" aria-hidden="true"></i> {{headerValue}}</strong>
  </div>


  <!-- Dist name -->
  <div class="col">
    <b *ngIf="Details && Details.type == 'acceptRequestFromDealer' && Details.data.distributor">
      DISTRIBUTOR NAME : {{Details.data.distributor.firstname}} {{Details.data.distributor.lastname}}</b>
  </div>
  <!-- Raise Request -->

  <div class="col-md-1 col-sm-1 right">
    <strong (click)="onCloseCancel()">
      <i class="fa fa-times fs-20" aria-hidden="true"></i>
    </strong>
  </div>
</div>

<!-- Step 1 by distributor-->
<div class="container-fluid brd-bottom pd-15x25" *ngIf="Details.type == 'newRaiseRequest' || Details.type == 'raiseRequestBySuperDealer'">
  <div class="row">
    <div class="col">
      <small>Distributor</small>
      <h6 class="capitalize">{{this.Details.data.firstname}} {{this.Details.data.lastname}} - {{this.Details.data.mobileno}}</h6>
    </div>
    <div class="col">
      <md-select placeholder="Select Day" name="type" class="full-width left" [(ngModel)]="invoiceDateFiter">
        <md-option value="today">Today </md-option>
        <md-option value="tommorrow">Tommorrow</md-option>
        <md-option value="twodaysfromnow">Two days from now</md-option>
        <md-option value="threedaysfromnow">Three days from now</md-option>
      </md-select>
      <!-- <md-form-field class="inline">
        <input mdInput [mdDatepicker]="picker" placeholder="Enter select date" name="date" [(ngModel)]="invoiceDate">
        <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
        <md-datepicker #picker></md-datepicker>
      </md-form-field> -->
    </div>
  </div>

  <div class="mgtop-10">
    <table class="table table-hover table-striped table-fixedheader">
      <thead>
        <tr>
          <th width="20%">category</th>
          <th width="24%">Product Name</th>
          <th width="18%">Product Type</th>
          <th width="18%">Filled Cans</th>
          <th width="18%">Empty Cans</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let products of allProductsList">
          <td width="20%">
            <div class="capitalize pdtopbottom-8">{{products.category}}</div>
          </td>
          <td width="25%">
              <div class="capitalize pdtopbottom-8">{{products.brandname}}</div>
            </td>
            <td width="18%">
                <div class="capitalize pdtopbottom-8">{{products.ptype}} </div>
              </td>
          <td width="18%">
            <md-form-field class="wd-100pc">
              <input class="form-control" mdInput placeholder="Enter stock" [(ngModel)]="products.stock" (keypress)="numberEvent($event)">
            </md-form-field>
          </td>
          <td width="18%">
            <md-form-field class="wd-100pc">
              <input class="form-control" mdInput placeholder="Enter return empty cans" [(ngModel)]="products.returnemptycans" (keypress)="numberEvent($event)">
            </md-form-field>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <h5 class="error center" *ngIf="raisreqError">Please {{raisreqError}} {{emptyqty}}</h5>
  <h5 class="error center" *ngIf="raisreqErrorQty">Please enter stock and empty cans values</h5>

</div>

<!-- Only viewing purpose for distributor -->
<div class="container-fluid   pd-15x25 brd-bottom" *ngIf="Details.status == 'stockrequested'">
  <div class="row form-group">
    <div class="col">
      <b>Request Date:</b> {{modifieddate}}
    </div>
  </div>

  <div class="">
    <table class="table table-hover table-striped table-fixedheader">
      <thead>
        <tr>
          <th width="50%">Product Name</th>
          <th width="25%">Quantity</th>
          <th width="25%">Empty Cans</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let req of Details.products">
          <td width="50%">
            <div class="capitalize pdtopbottom-8">{{req.category}} | {{req.ptype}} | {{req.brandname}}</div>
          </td>
          <td width="25%">
            <md-form-field class="wd-100pc">
              <input class="form-control" mdInput placeholder="Enter stock" [(ngModel)]="req.stock" disabled> </md-form-field>
          </td>
          <td width="25%">
            <md-form-field class="wd-100pc">
              <input class="form-control" mdInput placeholder="Enter return empty cans" [(ngModel)]="req.returnemptycans" disabled> </md-form-field>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- This is the view that distributor gets after super dealer confirms -->
<div class="container-fluid   pd-15x25 brd-bottom" *ngIf="Details.status == 'reqconfirm'">
  <div class="row form-group">
    <span class="col">
      <b>Request Date:</b> {{modifieddate}}
    </span>
  </div>

  <div class="">
    <table class="table table-hover table-striped table-fixedheader">
      <thead>
        <tr>
          <th width="20%">Product Name</th>
          <th width="20%">Quantity</th>
          <th width="20%">Empty Cans</th>
          <th width="20%">Cost per Can</th>
          <th width="20%">Paid Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let req of Details.products">
          <td width="20%">
            <div class="capitalize pdtopbottom-8">{{req.category}} | {{req.ptype}} | {{req.brandname}}</div>
          </td>
          <td width="20%">
            <md-form-field class="wd-100pc">
              <input class="form-control" mdInput placeholder="Enter stock" [(ngModel)]="req.stock" (keypress)="numberEvent($event)">
            </md-form-field>
          </td>
          <td width="20%">
            <md-form-field class="wd-100pc">
              <input class="form-control" mdInput placeholder="Enter return empty cans" (keypress)="numberEvent($event)" [(ngModel)]="req.returnemptycans">
            </md-form-field>
          </td>
          <td width="20%">
            <md-form-field class="wd-100pc">
              <input class="form-control" mdInput placeholder="Enter buy cost" (keypress)="numberEvent($event)" [(ngModel)]="req.buycost">
            </md-form-field>
          </td>
          <td width="20%">
            <md-form-field class="wd-100pc">
              <input class="form-control" mdInput placeholder="Enter paid amt" (keypress)="numberEvent($event)" [(ngModel)]="req.paidamt">
            </md-form-field>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Final View No edits after confirmation by distributor-->
<div class="container-fluid   pd-15x25 brd-bottom" *ngIf="Details.status == 'confirm'">
  <div class="row form-group">
    <span class="col">
      <b>Request Date: </b> {{modifieddate}}
    </span>
  </div>

  <div class="">
    <table class="table table-hover table-striped table-fixedheader">
      <thead>
        <tr>
          <th width="35%">Product Name</th>
          <th width="10%">Quantity</th>
          <th width="15%">Empty Cans</th>
          <th width="20%">Cost per Can</th>
          <th width="20%">Paid Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let req of Details.products">
          <td width="35%">
            <div class="capitalize pdtopbottom-8">{{req.category}} | {{req.ptype}} | {{req.brandname}}</div>
          </td>
          <td width="10%">
            <md-form-field class="wd-100pc">
              <input class="form-control" mdInput placeholder="Enter stock" [(ngModel)]="req.stock" disabled> </md-form-field>
          </td>
          <td width="15%">
            <md-form-field class="wd-100pc">
              <input class="form-control" mdInput placeholder="Enter returnemptycans" [(ngModel)]="req.returnemptycans" disabled> </md-form-field>
          </td>
          <td width="20%">
            <md-form-field class="wd-100pc">
              <input class="form-control" mdInput placeholder="Enter buycost" [(ngModel)]="req.buycost" disabled> </md-form-field>
          </td>
          <td width="20%">
            <md-form-field class="wd-100pc">
              <input class="form-control" mdInput placeholder="Enter paidamt" [(ngModel)]="req.paidamt" disabled>
            </md-form-field>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


<!-- This is for super dealer confirmation -->

<div class="container-fluid   pd-15x25 brd-bottom" *ngIf="Details.type  == 'acceptRequestFromDealer'">
  <div class="">
    <div class="row">
      <div class="col align-self-center ">
        <b> Request Id:</b> {{Details.data.reqid}}
      </div>
      <div class="col align-self-center ">
        <b>Request Date:</b> {{modifieddate}}
      </div>
      <!-- <div class="row" *ngIf="Details.data.status == 'stockrequested'"> -->
      <div class="col right">
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Enter Enter Supplier Name" aria-label="State" [mdAutocomplete]="auto" [formControl]="SupplierCtrl">
          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let supplier of filteredSupplier | async" [value]="supplier.fullName">
              <span>{{ supplier.firstname }}</span>
            </md-option>
          </md-autocomplete>
        </md-form-field>
      </div>
    </div>

    <div class="">
      <table class="table table-hover table-striped table-fixedheader">
        <thead>
          <tr>
            <th width="35%">Product Name</th>
            <th width="10%">Quantity</th>
            <th width="15%">Empty Cans</th>
            <th width="20%">Cost per Can</th>
            <th width="20%">Paid Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let req of Details.data.products">
            <td width="35%">
              <div class="capitalize pdtopbottom-8">{{req.category}} | {{req.ptype}} | {{req.brandname}}</div>
            </td>
            <td width="10%">
              <md-form-field class="wd-100pc">
                <input mdInput placeholder="Enter stock" name="stock" [(ngModel)]="req.stock" (keypress)="numberEvent($event)">
              </md-form-field>
            </td>
            <td width="15%">
              <md-form-field class="wd-100pc">
                <input class="form-control" mdInput placeholder="Enter returnemptycans" (keypress)="numberEvent($event)" name="returnemptycans"
                  [(ngModel)]="req.returnemptycans">
              </md-form-field>
            </td>
            <td width="20%">
              <md-form-field class="wd-100pc">
                <input class="form-control" mdInput placeholder="Enter buycost" (keypress)="numberEvent($event)" name="buycost" [(ngModel)]="req.buycost">
              </md-form-field>
            </td>
            <td width="20%">
              <md-form-field class="wd-100pc">
                <input class="form-control" mdInput placeholder="Enter amountPaid" (keypress)="numberEvent($event)" [(ngModel)]="amountPaid">
              </md-form-field>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- This is for super dealer confirmation -->

<div class="float-right  mgbottom-20">
  <md-dialog-actions align="end">
    <!-- Step 1 by dist -->
    <button type="submit" class="btn-primary" md-raised-button (click)="raiseRequestByDistributor()" *ngIf="Details.type == 'newRaiseRequest' || Details.type == 'raiseRequestBySuperDealer'">RAISE REQUEST
    </button> &nbsp;
    <button type="submit" class="mgright-5" md-raised-button (click)="onCloseCancel()" *ngIf="Details.type == 'newRaiseRequest' ||  Details.type == 'raiseRequestBySuperDealer'">CANCEL</button>&nbsp;
    <!-- Step 1 by dist -->

    <!-- Only viewing purpose for distributor -->
    <button type="submit" class=" mgright-5" md-raised-button (click)="onCloseCancel()" *ngIf="Details.status == 'stockrequested'">OK</button>
    <!-- Only viewing purpose for distributor -->

    <!-- This is the view that distributor gets after super dealer confirms -->
    <button type="submit" class="btn-primary" md-raised-button (click)="requestComfirmByDistributor()" *ngIf="Details.status == 'reqconfirm'">CONFIRM</button>
    <!-- This is the view that distributor gets after super dealer confirms -->


    <!-- Final View No edits after confirmation by distributor-->
    <button type="submit" class=" mgright-5" md-raised-button (click)="onCloseCancel()" *ngIf="Details.status == 'confirm'">OK</button>
    <!-- Final View No edits after confirmation by distributor-->

    <!-- This is for super dealer confirmation -->
    <button type="submit" class="btn-primary" md-raised-button (click)="confirmRequestBySuperDealer()" *ngIf="Details.type == 'acceptRequestFromDealer' && Details.data && Details.data.status == 'stockrequested'">CONFIRM</button>
    <!-- This is for super dealer confirmation -->

    <!-- Accept confirmation of distributor behalf by super dealer-->
    <button type="submit" class="btn-primary" md-raised-button (click)="confirmRequestBySuperDealerOnDistributor()" *ngIf="Details.type == 'acceptRequestFromDealer' && Details.data && Details.data.status == 'reqconfirm'">CONFIRM</button>
    <!-- Accept confirmation of distributor behalf by super dealer-->


    <!-- This is for super dealer confirmation -->
    <button type="submit" class=" mgright-5" md-raised-button (click)="onCloseCancel()" *ngIf="Details.type == 'acceptRequestFromDealer' && Details.data && Details.data.status  != 'confirm'">Cancel</button>
    <!-- This is for super dealer confirmation -->

    <!-- Another confirm button -->
    <button type="submit" class=" mgright-5" md-raised-button (click)="onCloseCancel()" *ngIf=" Details.data && Details.data.status  == 'confirm'">OK</button>
    <!-- Another confirm button -->

  </md-dialog-actions>
</div>