<div class="row justify-content-between modal-title ">

  <div class="col-xs-7 col-sm-6 col-lg-8">
    <strong><i class="fa fa-check-square-o" aria-hidden="true"></i>{{headerValue}}</strong></div>

  <!-- Raise Request -->

  <div class="col-md-1 col-sm-1 right">
    <strong (click)="onCloseCancel()"> <i class="fa fa-times fs-20" aria-hidden="true"></i>
    </strong>
  </div>
</div>

<!-- Step 1 by distributor-->

<div class="container-fluid brd-bottom" *ngIf="Details.type == 'newRaiseRequest'">
  <div class="row">
    <md-form-field class="inline">
      <input mdInput [mdDatepicker]="picker" placeholder="Select Date" name="date" [(ngModel)]="invoiceDate">
      <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
      <md-datepicker #picker></md-datepicker>
    </md-form-field>
  </div>
  <div class="row">
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Filled Cans</th>
          <th>Empty Cans</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let products of allProductsList">
          <td>{{products.category}} | {{products.ptype}} | {{products.brandname}}</td>
          <td class="">
            <input type="text" name="stock" [(ngModel)]="products.stock" (keypress)="numberEvent($event)">
          </td>
          <td class="">
            <input type="text" name="empty cans" [(ngModel)]="products.returnemptycans" (keypress)="numberEvent($event)">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Only viewing purpose for distributor -->
<div class="container-fluid brd-bottom" *ngIf="Details.status == 'stockrequested'">
  <div class="row">
    <span class="">
      <b>Request Date : {{modifieddate}}</b>
    </span>
  </div>

  <div class="row">
    <table>
      <thead>
        <tr>
          <th width="25%">Product Name</th>
          <th width="25%">Quantity</th>
          <th width="25%">Empty Cans</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let req of Details.products">
          <td width="25%">{{req.category}} | {{req.ptype}} | {{req.brandname}}</td>
          <td width="25%">
            <input type="text" class="" [(ngModel)]="req.stock" disabled>
          </td>
          <td width="25%">
            <input type="text" class="" [(ngModel)]="req.returnemptycans" disabled>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- This is the view that distributor gets after super dealer confirms -->
<div class="container-fluid brd-bottom" *ngIf="Details.status == 'reqconfirm'">
  <div class="row">
    <span class="">
      <b>Request Date : {{modifieddate}}</b>
    </span>
  </div>

  <div class="row">
    <table>
      <thead>
        <tr>
          <th width="25%">Product Name</th>
          <th width="25%">Quantity</th>
          <th width="25%">Empty Cans</th>
          <th width="25%">Cost per Can</th>
          <th width="25%">Paid Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let req of Details.products">
          <td width="25%">{{req.category}} | {{req.ptype}} | {{req.brandname}}</td>
          <td width="25%">
            <input type="text" class="" [(ngModel)]="req.stock">
          </td>
          <td width="25%">
            <input type="text" class="" [(ngModel)]="req.returnemptycans">
          </td>
          <td width="25%">
            <input type="text" class="" [(ngModel)]="req.buycost">
          </td>
          <td width="25%">
            <input type="text" class="" [(ngModel)]="req.paidamt">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Final View No edits after confirmation by distributor-->
<div class="container-fluid brd-bottom" *ngIf="Details.status == 'confirm'">
  <div class="row">
    <span class="">
      <b>Request Date : {{modifieddate}}</b>
    </span>
  </div>

  <div class="row">
    <table>
      <thead>
        <tr>
          <th width="25%">Product Name</th>
          <th width="25%">Quantity</th>
          <th width="25%">Empty Cans</th>
          <th width="25%">Cost per Can</th>
          <th width="25%">Paid Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let req of Details.products">
          <td width="25%">{{req.category}} | {{req.ptype}} | {{req.brandname}}</td>
          <td width="25%">
            <input type="text" class="" [(ngModel)]="req.stock" disabled>
          </td>
          <td width="25%">
            <input type="text" class="" [(ngModel)]="req.returnemptycans" disabled>
          </td>
          <td width="25%">
            <input type="text" class="" [(ngModel)]="req.buycost" disabled>
          </td>
          <td width="25%">
            <input type="text" class="" [(ngModel)]="req.paidamt" disabled>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>



<!-- This is for super dealer confirmation -->

<div class="container-fluid brd-bottom" *ngIf="Details.type  == 'acceptRequestFromDealer'">
  <div class="row">
    <span class="">
      <b>Request Date : {{modifieddate}}</b> <br>
      <b> Request Date : {{Details.data.reqid}}</b>
    </span>
  </div>
  <div class="row" *ngIf="Details.data.status == 'stockrequested'">

      <md-form-field class="example-full-width">
          <input mdInput placeholder="Enter Supplier Name" aria-label="State" [mdAutocomplete]="auto" [formControl]="SupplierCtrl">
          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let supplier of filteredSupplier | async" [value]="supplier.fullName">
              <span>{{ supplier.firstname }}</span>
            </md-option>
          </md-autocomplete>
        </md-form-field>


  </div>
  <div class="row">
    <table>
      <thead>
        <tr>
          <th width="25%">Product Name</th>
          <th width="25%">Quantity</th>
          <th width="25%">Empty Cans</th>
          <th width="25%">Cost per Can</th>
          <th width="25%">Paid Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let req of Details.data.products">
          <td width="25%">{{req.category}} | {{req.ptype}} | {{req.brandname}}</td>
          <td width="25%">
            <input type="text" class="" [(ngModel)]="req.stock">
          </td>
          <td width="25%">
            <input type="text" class="" [(ngModel)]="req.returnemptycans">
          </td>
          <td width="25%">
            <input type="text" class="" [(ngModel)]="req.buycost">
          </td>
          <td width="25%">
            <input type="text" class="" [(ngModel)]="amountPaid">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- This is for super dealer confirmation -->



<div class="row float-right pdright-30 mgbottom-20">
  <md-dialog-actions align="end">
    <!-- Step 1 by dist -->
    <button type="submit" class="btn-primary" (click)="raiseRequestByDistributor()" *ngIf="Details.type == 'newRaiseRequest'">Raise
      Request</button> &nbsp;
    <button type="submit" class="btn" md-raised-button (click)="onCloseCancel()" *ngIf="Details.type == 'newRaiseRequest'">Cancel</button>&nbsp;
    <!-- Step 1 by dist -->

    <!-- Only viewing purpose for distributor -->
    <button type="submit" class="btn" md-raised-button (click)="onCloseCancel()" *ngIf="Details.status == 'stockrequested'">OK</button>&nbsp;
    <!-- Only viewing purpose for distributor -->


    <!-- This is the view that distributor gets after super dealer confirms -->
    <button type="submit" class="btn" md-raised-button (click)="requestComfirmByDistributor()" *ngIf="Details.status == 'reqconfirm'">CONFIRM</button>&nbsp;
    <!-- This is the view that distributor gets after super dealer confirms -->


    <!-- Final View No edits after confirmation by distributor-->
    <button type="submit" class="btn" md-raised-button (click)="onCloseCancel()" *ngIf="Details.status == 'confirm'">OK</button>&nbsp;
    <!-- Final View No edits after confirmation by distributor-->



    
<!-- This is for super dealer confirmation -->
<button type="submit" class="btn" md-raised-button (click)="confirmRequestBySuperDealer()" *ngIf="Details.type == 'acceptRequestFromDealer' && Details.data && Details.data.status == 'stockrequested'">CONFIRM</button>&nbsp;
<!-- This is for super dealer confirmation -->

<!-- Accept confirmation of distributor behalf by super dealer-->
<button type="submit" class="btn" md-raised-button (click)="confirmRequestBySuperDealerOnDistributor()" *ngIf="Details.type == 'acceptRequestFromDealer' && Details.data && Details.data.status == 'reqconfirm'">CONFIRM</button>&nbsp;
<!-- Accept confirmation of distributor behalf by super dealer-->


<!-- This is for super dealer confirmation -->
<button type="submit" class="btn" md-raised-button (click)="onCloseCancel()" *ngIf="Details.type == 'acceptRequestFromDealer' && Details.data && Details.data.status  != 'confirm'">Cancel</button>&nbsp;
<!-- This is for super dealer confirmation -->



<!-- Another confirm button -->
<button type="submit" class="btn" md-raised-button (click)="onCloseCancel()" *ngIf=" Details.data && Details.data.status  == 'confirm'">OK</button>&nbsp;
<!-- Another confirm button -->










  </md-dialog-actions>
</div>