<div class="dist-style  minheight-500">
  <!-- <div class=" row justify-content-between distIcon-style">
    <div class="col-md-2  col-sm-2  col-lg-2">
        <h4><i class="fa fa-comment"></i> Feedback</h4>
    </div>
  <div class="col-md-2  col-sm-2  col-lg-2">
      <button md-raised-button color="primary" ><i class="fa fa-plus fa-2" aria-hidden="true"></i></button>

  </div>
    </div> -->
  <div class=" row justify-content-between distIcon-style left">
    <div class="col-sm-2 col-md-2 col-lg-2 ">
      <h4>
        <i class="fa fa-comment-o"></i> Feedback</h4>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1 align-self-center right">
      <a class="" (click)="refresh()">
        <i aria-hidden="true" class="fa fa-refresh logo-color fs-20" title="Refresh"></i>
      </a>

      <a class="cursor logo-color mgleft-10" (click)="filterViewToggle()">
        <i aria-hidden="true" class="fa fa-sliders logo-color" title="Filter"></i>
      </a>

      <div class="filterView" *ngIf="showFilterDailog">
        <div class="">
          <b class="float-left">Filter By</b>
          <br/>
          <div class=" ">
            <md-form-field class="example-full-width">
              <input class="form-control" mdInput placeholder="Customer Name" [(ngModel)]="searchFeedbackTerm" (ngModelChange)="searchFeedback()"
                name="searchFeedbackTerm">
            </md-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class='pd-15'>
    <div class="row brd-box-box" id="FeedbackList" *ngFor="let feed of feedbackList;">
      <div class="col-3 left bg-color-bg">

        <span class="fa fa-user"></span> 
        <b *ngIf="feed.createdby" class="capital"> {{feed.createdby.firstname}} {{feed.createdby.lastname}} </b>
        <br>
        <span class="fa fa-tasks"></span>

        <b> Subject: </b>
        <span>{{feed.subject}} </span>
        <br>
        <p class="left grayd mgtop-5">
          <span class=" fa fa-clock-o"></span> 
          {{feed.createddate |utcDate }} </p>

      </div>

      <div class="col-8 brd-box-mg pd-top-btm-7">

        <div class="left">
          <b>Details:</b> 
          <p class="gray6">{{feed.details}} </p>

          <div *ngIf="feed.reply" class="left">
            <span>
              <strong> Replies: </strong> 
            </span>

            <div *ngFor="let replies of feed.reply">

              <b *ngIf="replies.createdby"> {{replies.createdby.firstname}} {{replies.createdby.lastname}} Replied:</b>
              <p class="gray6 mgbottom-5"> {{replies.message}} </p>

              <!-- <span>Date:</span>  -->
              <p class="gray9 small">          <span class=" fa fa-clock-o"></span> 
                 {{replies.createddate |utcDate }} </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1 align-self-center">

        <a class="btn btn-open fs-25" *ngIf="feed.status == 'open' || feed.status =='created'" (click)="openStatus(feed)">
          <i class="fa fa-times-circle openicon cursor fs-25 danger" aria-hidden="true" title="closed"></i>
        </a>
         <a class="btn btn-reply cursor fs-25 mgtop-5" *ngIf="feed.status == 'open' || feed.status == 'created'" (click)="openReplyModel(feed)">
          <i class="fa fa-reply replyicon cursor fs-25" aria-hidden="true" title="reply"></i>
        </a>

        <div  *ngIf="feed.status == 'close'" >
          <a class="btn btn-close">
          <i class="fa fa-ban red cursor fs-25" title="closed" aria-hidden="true"> </i>
          </a>
          <a class="btn btn-close mgtop-5" (click)="closeStatus(feed)">
          <i class="fa fa-check-circle success cursor fs-25" aria-hidden="true" title="open"></i>
          </a>
        </div>
      </div>
    </div>
  </div>