<div class="dist-style">
    <div class=" row justify-content-between distIcon-style">
    <div class="col-2">
        <h4><i class="fa fa-comment"></i> Feedback</h4>
    </div>
  <div class="col-2">
      <button md-raised-button color="primary" ><i class="fa fa-plus fa-2" aria-hidden="true"></i></button>
      
  </div>
    </div>
    <div id="" class="row pd-15x10 mg-0">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 filter-style">
            <div class="filtercol-style height-500">
                <label class="float-left">Filter by</label><br>
                     <div class=" ">
                        <md-form-field class="example-full-width">
                          <input class="form-control" mdInput placeholder=" Name"  >
                        </md-form-field>
                        <div class=" form-group">
                          <md-form-field class="example-full-width">
                            <input class="form-control" mdInput placeholder="Created Date" >
                          </md-form-field>
                        </div> 
                        <div class=" form-group">
                          <button md-raised-button color="primary" >
                      <i class="fa fa-search" aria-hidden="true"></i> Search
                    </button>
                    <button md-raised-button color="primary" >
                      <i class="fa fa-filter" aria-hidden="true"></i> Clear Filter
                    </button>
                  </div>
                </div>
         </div>
  <div class="col-9 col-sm-9 col-md-9 col-lg-9">    
     
  </div>
  </div>
  </div>  
