<div class="dist-style  minheight-500">
  <!-- <div class=" row justify-content-between distIcon-style">
    <div class="col-md-2  col-sm-2  col-lg-2">
        <h4><i class="fa fa-comment"></i> Feedback</h4>
    </div>
  <div class="col-md-2  col-sm-2  col-lg-2">
      <button md-raised-button color="primary" ><i class="fa fa-plus fa-2" aria-hidden="true"></i></button>
      
  </div>
    </div> -->
  <div class=" row justify-content-between distIcon-style left">
    <div class="col-sm-2 col-md-2 col-lg-2 ">
      <h4>
        <i class="fa fa-comment-o"></i> Feedback</h4>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1 align-self-center right">
      <a class="cursor logo-color " title="Add Feedback">
        <i class="fa fa-plus fa-2 plus-style" aria-hidden="true"></i>
      </a>
      <a class="cursor logo-color mgleft-10" (click)="filterViewToggle()">
        <i aria-hidden="true" class="fa fa-sliders logo-color" title="Filter"></i>
        </a>

        <div class="filterView" *ngIf="showFilterDailog">
          <div class="">
            <b class="float-left">Filter By</b>
            <br/>
            <div class=" ">
              <md-form-field class="example-full-width">
                <input class="form-control" mdInput placeholder="First Name">
                <md-error> Name is
                  <strong>required </strong>
                </md-error>
              </md-form-field>
            </div>
            <div class=" form-group">
              <md-form-field class="example-full-width">
                <input class="form-control" mdInput placeholder="Created Date" name="createddate">
                <md-error> Createddate is
                  <strong>required </strong>
                </md-error>
              </md-form-field>

            </div>
            <div class=" form-group">
              <button md-raised-button color="primary">
                <i class="fa fa-search" aria-hidden="true"></i> Search
              </button>
              <button md-raised-button color="primary">
                <i class="fa fa-filter" aria-hidden="true"></i> Clear Filter
              </button>
            </div>
          </div>
        </div>

      
    </div>
  </div>
  <div id="" class="row pd-15x10 mg-0">

    <div class="col-9 col-sm-9 col-md-9 col-lg-9">

    </div>
  </div>
  <!-- <div class='col'>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th width='15%'> Name </th>
          <th width='0%'> Subject: </th>
          <th class='pdleft-40' width='0%'> Feedback </th>
          <th class='pdleft-20' width='15%'> Date </th>
          <th class='pdleft-20' width='10%'> Status</th>
        </tr>
      </thead>
      <tbody>
        <tr id="FeedbackList" *ngFor="let feed of feedbackList;">
          <td class="left">
            <span *ngIf="feed.createdby"> {{feed.createdby.firstname}} {{feed.createdby.lastname}} </span>
          </td>
          <td class="left"> {{feed.subject}} </td>
          <td class="left"> {{feed.details}} </td>
          <td class="left"> {{feed.createddate |utcDate }} </td>
          <td class="left" > <a  class="btn btn-open" *ngIf="feed.status == 'open' || feed.status =='created'"> <i class="fa fa-times-circle openicon" aria-hidden="true"  title = "open"></i> </a>
          <a class="btn btn-reply " *ngIf="feed.status == 'open' || feed.status == 'created'"> <i class="fa fa-reply replyicon" aria-hidden="true" title = "reply"></i> </a>
            <a class="btn btn-close " *ngIf="feed.status == 'close'">  <i class="fa fa-ban statusclosed" title="closed" aria-hidden="true"> CLOSED </i> <br> <br> <i class="fa fa-check-circle closeicon " aria-hidden="true" title = "closed" ></i>  </a> </td>
        
          <div *ngIf="feed.reply">
            <span> <strong> Replies: </strong></span> <br>
            <div *ngFor="let replies of feed.reply">
            <span> You Replied:</span>                                                               
            <span>{{replies.message}} </span> <br>
            <span>Date:{{replies.createddate |utcDate }} </span>
          </div>
          </div>
        </tr>
      </tbody>
    </table>

  </div>  -->
  
  <div class="col-md-12 pd-brd brd " id="FeedbackList" *ngFor="let feed of feedbackList;" >
      <div class="row pd-10"> 
      <div class="col-md-4">
      <div class="createdby logo-color" > <b *ngIf="feed.createdby"> {{feed.createdby.firstname}} {{feed.createdby.lastname}} </b> </div>
      <div class="greytext"> #{{feed.issueid}} </div> 
     </div>
     <div class="col-md-5">
       <div class="">  Subject : <span class="greytext">{{feed.subject}} </span></div>
       <div class=""><span class="greytext">{{feed.details}}</span></div>
     </div>
     <div class="col-md-3">
     <br>
      <div class="right pdright-15">  <span> {{feed.createddate |utcDate }} </span></div>
    </div>
   </div> 
      
   <div>
      <hr width="100%">
           <span>Replies</span><br>
   
        <div *ngIf="feed.reply">
        <div *ngFor="let replies of feed.reply"><span class="greytext"> {{replies.message}} </span><br>
        <div class="col-md-9">
     </div>
     <div class="col-md-3 right">
      <div class="createdby gr right"><span> {{replies.createddate |utcDate }}  </span> </div>
    </div>
   </div>
   </div>
   <br>
   </div>
   
      <hr width="100%">
   
      <div class="col-md-12">
        <div class="col-md-11">
            <a class="btn btn-reply " *ngIf="feed.status == 'open' || feed.status == 'created'"> <i class="fa fa-reply replyicon" (click)="openReplyModel(feed)" aria-hidden="true" title = "reply"></i> </a>
            <a  class="btn btn-open" *ngIf="feed.status == 'open' || feed.status =='created'"> <i class="fa fa-times-circle openicon" (click)="openStatus(feed)" aria-hidden="true"  title = "open"></i> </a>
            <a class="btn btn-close " *ngIf="feed.status == 'close'">  <i class="fa fa-ban statusclosed" title="closed" aria-hidden="true"> CLOSED </i> <br> <br> <i class="fa fa-check-circle closeicon" (click)="closeStatus(feed)" aria-hidden="true" title = "closed" ></i>  </a>
     </div>
     </div>
     
     