<div class="row justify-content-between modal-title ">
  <div class="col-md-4  col-sm-4  col-lg-4">
    <i class="fa fa-truck"></i>
    Suppliers
  </div>
  <div class="col-md-1  col-sm-1  col-lg-1 right">
    <strong>
      <i class="fa fa-times fs-20" (click)='onCloseCancel()' aria-hidden="true"></i>
    </strong>
  </div>
</div>

<div class="row pd-15 mg-0 brd-bottom">
  <table class="table table-hover table-fixedheader">
    <thead>
      <tr>
        <th width="24%">Name</th>
        <th width="15%">Mobile</th>
        <th width="34%">Address</th>
        <th width="15%" class="no-th-arrow">View Orders</th>
        <th width="10%" class="no-th-arrow">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let supplier of supplierList;  let i = index" [attr.data-index]="i">
        <td width="25%" class="left capitalize">{{supplier.firstname}}</td>
        <td width="15%" class="left">{{supplier.mobileno}}</td>
        <td width="35%" class="left capitalize">{{supplier.address}}</td>
        <td width="15%" class="left " class="btn btn-link" (click)="supplierOrdersList(supplier)">Orders</td>
        <td class="left" width="10%">
          <i class="fa fa-pencil-square-o btn-link" (click)="editSupplier(supplier)" aria-hidden="true"></i> &nbsp;
          <i class="fa fa-trash danger" (click)="deleteSupplier(supplier)" aria-hidden="true"></i>
        </td>
    </tbody>
  </table>
  <br>

  <h4 *ngIf="noRecords" class="warning oneline center">
    <i class="fa fa-frown-o" aria-hidden="true"></i>
    Record Not Available</h4>
</div>

<div class="row float-right pdright-30 mgbottom-20">
  <md-dialog-actions align="end">
    <button md-raised-button (click)='onCloseCancel()'>CANCEL</button>&nbsp;
  </md-dialog-actions>
</div>