<!-- <div class="row">
<h2 md-dialog-title>Distributors</h2><br>

</div> -->
<div class="row justify-content-between modal-title ">
    <div class="col-md-4  col-sm-4  col-lg-4">
      <i class="fa fa-check-square-o"></i> Confirmation
    </div>
    <div class="col-md-1  col-sm-1  col-lg-1 right">
      <strong>
        <i class="fa fa-times fs-20" aria-hidden="true" (click)="onCloseCancel()"></i>
      </strong>
    </div>
  </div>
  
  <md-dialog-content layout="column">
    <div class="container-fluid pd-15x25 brd-bottom">
      <div class="center">
        <h5 class="warning center align-self-center">Are You Sure You Want To De-Activate The Customer ? </h5>
      </div>

    </div>
  </md-dialog-content>
  <div class="row float-right pdright-30 mgbottom-20">
    <md-dialog-actions align="end">
      <button md-raised-button class="btn-primary">SAVE CHANGES</button>&nbsp;
      <button md-raised-button (click)="onCloseCancel()">CANCEL</button>&nbsp;
    </md-dialog-actions>
  </div>