<!-- <div class="row">
<h2 md-dialog-title>Distributors</h2><br>

</div> -->
<div class="row justify-content-between modal-title ">
    <div class="col-md-4  col-sm-4  col-lg-4">
        <i class="fa  fa-calendar"></i> Set Payment Cycle
    </div>
    <div class="col-md-1  col-sm-1  col-lg-1 right">
        <strong>
            <i class="fa fa-times fs-20" aria-hidden="true" (click)="onCloseCancel()"></i>
        </strong>
    </div>
</div>

<md-dialog-content layout="column">
    <div class="container-fluid pd-15x25 brd-bottom">
        <div class="schedule-popup row">
            <div class="col-md-4 ">
                <md-form-field class="">
                    <input class="form-control" mdInput placeholder="Customer Name" [(ngModel)]="Detail.firstname"
                        disabled="disabled">
                    <md-error>
                        Customer Name is
                        <strong>required</strong>
                    </md-error>
                </md-form-field>
            </div>
            <div class="col-md-8 ">
                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="allCustomers" [(ngModel)]="setPaymentInput.setCycle">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    Set Same Payment Cycle To All Customer.
                </label>
                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="oneCustomer" [(ngModel)]="setPaymentInput.setCycle">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    Set To This Customer Only.
                </label>
            </div>
        </div>

        <div class="row  mgtop-15">
            <div class="col-md-4">
                <md-select placeholder="Payment Cycle" class="wd-100pc left" [(ngModel)]="setPaymentInput.schedulefor"
                    name="scheduleFor" [formControl]="setPaymentFormControl">
                    <md-option value="weekdays">Weekdays
                    </md-option>
                    <md-option value="days">Days
                    </md-option>
                </md-select>
                <md-error *ngIf="setPaymentFormControl.hasError('required')">
                    Scheduled For is
                    <strong>required</strong>
                </md-error>
            </div>
            <div class="col-sm-4">
                <md-select placeholder="Time Slot" class="wd-100pc left" [(ngModel)]="setPaymentInput.timeslot">
                    <md-option value="7AM-8AM">7AM-8AM</md-option>
                    <md-option value="8AM-9AM">8AM-9AM</md-option>
                    <md-option value="9AM-10AM">9AM-10AM</md-option>
                    <md-option value="10AM-11AM">10AM-11AM</md-option>
                    <md-option value="11AM-12PM">11AM-12PM</md-option>
                    <md-option value="12PM-1PM">12PM-1PM</md-option>
                    <md-option value="1PM-2PM">1PM-2PM</md-option>
                    <md-option value="2PM-3PM">2PM-3PM</md-option>
                    <md-option value="3PM-4PM">3PM-4PM</md-option>
                    <md-option value="4PM-5PM">4PM-5PM</md-option>
                    <md-option value="5PM-6PM">5PM-6PM</md-option>
                    <md-option value="6PM-7PM">6PM-7PM</md-option>
                    <md-option value="7PM-8PM">7PM-8PM</md-option>
                    <md-option value="8PM-9PM">8PM-9PM</md-option>
                </md-select>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="Schedule schedule-style" *ngIf="setPaymentInput.schedulefor == 'weekdays'">
            <div class="my-info-1 row weekday">
                <div class="col-2">
                    <h5 class="">
                        Weekly :
                    </h5>
                </div>

                <!-- <div class="col  align-self-end">
                    <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0 warning">
                        <input type="radio" id="rem" class="custom-control-input" [checked]="checkAll" (change)="onChangeCheckAll($event.target.checked)"
                            [(ngModel)]="selectAllWeekDays">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                        Select All
                    </label>
                </div> -->
            </div>
            <hr width="100%">


            <div class="col-md-8 ">
                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="monday" [(ngModel)]="setPaymentInput.weekdays">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    Monday
                </label>
                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="tuesday" [(ngModel)]="setPaymentInput.weekdays">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    Tuesday
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="wednesday" [(ngModel)]="setPaymentInput.weekdays">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    Wednesday
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="thursday" [(ngModel)]="setPaymentInput.weekdays">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    Thursday
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="friday" [(ngModel)]="setPaymentInput.weekdays">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    Friday
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="saturday" [(ngModel)]="setPaymentInput.weekdays">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    Saturday
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="sunday" [(ngModel)]="setPaymentInput.weekdays">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    Sunday
                </label>
            </div>
        </div>



        <div  class="clsdays" *ngIf="setPaymentInput.schedulefor == 'days'">
            <div class="row">
                <div class="col-2 ">
                    <h5 class="mgtop-15">
                        Days :
                    </h5>
                </div>
            </div>

            <div class="col-md-8 " *ngIf="setPaymentInput.schedulefor == 'days'">
                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="1" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    1
                </label>
                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="2" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    2
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="3" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    3
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="4" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    4
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="5" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    5
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="6" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    6
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="7" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    7
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="8" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    8
                </label>
                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="9" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    9
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="10" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    10
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="11" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    11
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="12" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    12
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="13" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    13
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="14" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    14
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="15" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    15
                </label>
                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="16" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    16
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="17" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    17
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="18" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    18
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="19" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    19
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="20" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    20
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="21" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    21
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="22" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    22
                </label>
                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="23" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    23
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="24" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    24
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="25" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    25
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="26" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    26
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="27" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    27
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="28" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    28
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="29" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    29
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="30" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    30
                </label>

                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" id="rem" class="custom-control-input" value="31" [(ngModel)]="setPaymentInput.days">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    31
                </label>

            </div>

        </div>

        <div class="createsche  mgtop-10">
            <div class="message"></div>
        </div>

    </div>

</md-dialog-content>
<div class="row float-right pdright-30 mgbottom-20">
    <md-dialog-actions align="end">
        <button md-raised-button class="createscheduler btn-primary" (click)="setPaymentCycle()">CREATE</button>&nbsp;
        <button md-raised-button (click)="onCloseCancel()">CANCEL</button>&nbsp;
    </md-dialog-actions>
</div>