<div class="row justify-content-between modal-title ">
    <div class=" col-md-4  col-sm-4  col-lg-4">
      <i class="fa fa-edit"></i> Edit Quantity
    </div>
    <div class=" col-md-1  col-sm-1  col-lg-1 right">
      <strong><i class="fa fa-times fs-20" aria-hidden="true" (click)='onCloseModal("cancel")'></i>
              </strong>
    </div>
  </div>
  <md-dialog-content layout="column">
    <form class="example-form" >
      <div class="container-fluid pd-15x25 brd-bottom">
          <div class="row ">
              <div class="col-md-4 ">
        
                <md-form-field class="wd-100pc">
                  <input  mdInput placeholder="Quantity" [(ngModel)]="quantity.value" name="quanitiy">
                  <md-error>
                      Quantity is <strong>required</strong>
                  </md-error>
                </md-form-field>
              </div>
              <div class="col-md-8" >
                  
          <div class="row  ">
          <div class="col-md-7 ">
            <b>DELIVERY TIME</b> <br>
              <small>{{ orderDetails.delivery_exceptedtime }}</small>
          </div>
          <div class="col-md-5 align-self-center">
          <button class="btn btn-link btn-sm" (click)="showSlot()">Change</button>
          </div>
        </div>
      </div>  
          
    </div>
        <div class="row "   *ngIf="this.hideTimeSlot">
          <div class="  col-6">
            <md-form-field class="example-full-width wd-100pc">
              <input mdInput [mdDatepicker]="picker" [min]="minDate" [max]="maxDate" placeholder="Select Date" name="date" [(ngModel)]="changeTimeSlot.date" (ngModelChange)="enableTime($event)">
              <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
              <md-datepicker #picker></md-datepicker>
            </md-form-field>
            </div>
        
          <div class="  col-6">
            <md-select placeholder="Select Slot" name="type" class="wd-100pc" name="time" [(ngModel)]="changeTimeSlot.timeslot">
              <md-option>Select Slot
              </md-option>
              <md-option value="7AM-8AM" [disabled]= '7 <= hours'>7AM-8AM</md-option>
              <md-option value="8AM-9AM" [disabled]='8 <= hours'>8AM-9AM</md-option>
              <md-option value="9AM-10AM" [disabled]='9 <= hours'>9AM-10AM</md-option>
              <md-option value="10AM-11AM" [disabled]='10 <= hours'>10AM-11AM</md-option>
              <md-option value="11AM-12PM" [disabled]='11 <= hours'>11AM-12PM</md-option>
              <md-option value="12PM-1PM" [disabled]='12 <= hours'>12PM-1PM</md-option>
              <md-option value="1PM-2PM" [disabled]='13 <= hours'>1PM-2PM</md-option>
              <md-option value="2PM-3PM" [disabled]='14 <= hours'>2PM-3PM</md-option>
              <md-option value="3PM-4PM" [disabled]='15 <= hours'>3PM-4PM</md-option>
              <md-option value="4PM-5PM" [disabled]='16 <= hours'>4PM-5PM</md-option>
              <md-option value="5PM-6PM" [disabled]='17 <= hours'>5PM-6PM</md-option>
              <md-option value="6PM-7PM" [disabled]='18 <= hours'>6PM-7PM</md-option>
              <md-option value="7PM-8PM" [disabled]='19 <= hours'>7PM-8PM</md-option>
              <md-option value="8PM-9PM" [disabled]='20 <= hours'>8PM-9PM</md-option>
              <!-- <md-option value="9AM-1PM" [disabled]="disableSlot">9AM-1PM
              </md-option>
              <md-option value="4PM-7PM" >4PM-7PM
              </md-option> -->
            </md-select>
          </div>
          </div>    

      </div>
    </form>
  </md-dialog-content>
  <div class="row float-right pdright-30 mgbottom-20">
    <md-dialog-actions align="end">
      <button type="submit" class="btn-primary" md-raised-button (click)="updateQuantity()">UPDATE</button>&nbsp;
      <button md-raised-button (click)='onCloseModal("cancel")'>CANCEL</button>
      
    </md-dialog-actions>
  </div>