<div class="row justify-content-between modal-title ">
    <div class=" col-md-4  col-sm-4  col-lg-4">
      <i class="fa fa-edit"></i> Edit Quantity
    </div>
    <div class=" col-md-1  col-sm-1  col-lg-1 right">
      <strong><i class="fa fa-times fs-20" aria-hidden="true" (click)='onCloseModal("cancel")'></i>
              </strong>
    </div>
  </div>
  <md-dialog-content layout="column">
    <form class="example-form" >
      <div class="container-fluid pd-15x25 brd-bottom">
          <div class="row mgtop-10 ">
          <div class="col-md-5 right pdtop-10">
            <b>DELIVERY TIME</b> <br>
              <small>{{ orderDetails.delivery_exceptedtime }}</small>
          </div>
          <button class="btn btn-link btn-sm" (click)="showSlot()">Change</button>
          <div class="  col-sm-4  col-md-4  col-lg-4" *ngIf="this.hideTimeSlot">
            <md-form-field class="example-full-width">
              <input mdInput [mdDatepicker]="picker" [min]="minDate" [max]="maxDate" placeholder="Select Date" name="date" [(ngModel)]="changeTimeSlot.date" (ngModelChange)="enableTime($event)">
              <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
              <md-datepicker #picker></md-datepicker>
            </md-form-field>
        
          <div class="  col-sm-4  col-md-4  col-lg-4">
            <md-select placeholder="Select Time" name="type" class="wd-100pc" name="time" [(ngModel)]="changeTimeSlot.timeslot">
              <md-option>Select Slot
              </md-option>
              <md-option value="9AM-1PM" [disabled]="disableSlot">9AM-1PM
              </md-option>
              <md-option value="4PM-7PM" >4PM-7PM
              </md-option>
            </md-select>
          </div>
          </div>
        </div>

        <div class="row mgtop-10 ">
          <div class="col-md-5 right pdtop-10">
<b>Quantity :</b>
          </div>
          <div class="col-md-4">
        
            <md-form-field class="col-md-12">
              <input class="form-control" mdInput placeholder="Quantity" [(ngModel)]="quantity.value" name="quanitiy">
              <md-error>
                  Quantity is <strong>required</strong>
              </md-error>
            </md-form-field>
          </div>

        </div>
      </div>
    </form>
  </md-dialog-content>
  <div class="row float-right pdright-30 mgbottom-20">
    <md-dialog-actions align="end">
      <button type="submit" class="btn-primary" md-raised-button (click)="updateQuantity()">UPDATE</button>&nbsp;
      <button md-raised-button (click)='onCloseModal("cancel")'>CANCEL</button>
      
    </md-dialog-actions>
  </div>