<div class="row justify-content-between modal-title ">
    <div class=" col-md-4  col-sm-4  col-lg-4">
      <i class="fa fa-edit"></i> Edit Quantity
    </div>
    <div class=" col-md-1  col-sm-1  col-lg-1 right">
      <strong ><i class="fa fa-times fs-20" aria-hidden="true"></i>
              </strong>
    </div>
  </div>
  <md-dialog-content layout="column">
    <form class="example-form" >
      <div class="container-fluid pd-15x25 brd-bottom">

        <div class="row mgtop-10 ">
          <div class="col-md-5 right pdtop-10">
<b>Quantity :</b>
          </div>
          <div class="col-md-4">
        
            <md-form-field class="col-md-12">
              <input class="form-control" mdInput placeholder="Quantity" >
              <md-error>
                  Quantity is <strong>required</strong>
              </md-error>
            </md-form-field>
          </div>

        </div>
      </div>
    </form>
  </md-dialog-content>
  <div class="row float-right pdright-30 mgbottom-20">
    <md-dialog-actions align="end">
      <button type="submit" class="btn-primary" md-raised-button>UPDATE</button>&nbsp;
      <button md-raised-button>CANCEL</button>
      
    </md-dialog-actions>
  </div>