<div class="row justify-content-between modal-title ">
  <div class="col-md-3 col-sm-3  col-lg-3">
    <i class="fa fa-file-text-o"></i>
    Order List
  </div>
  <div class="col-7">
    <span *ngIf="Detail.type=='distributorOrder' && Detail.data.distributor" class="capitalize"> Dist Name: {{Detail.data.distributor.firstname}} {{Detail.data.distributor.lastname}}</span>
    <span *ngIf="Detail.type=='distributorOrder' && Detail.data.distributor"> - {{Detail.data.distributor.mobileno}}</span>
    <span *ngIf="Detail.type == 'distributorOrder' && Detail.data.distributor">&nbsp;&nbsp;&nbsp;&nbsp; Created Date:  {{Detail.data.distributor.createddate | utcDate}}</span>
    <span *ngIf="Detail.type=='distributorOrdersfromCoverage' && Detail.distributorName " class="capitalize"> Dist Name : {{Detail.distributorName}} </span>
    <span *ngIf="Detail.type=='distributorOrdersfromCoverage' && Detail.distributorNumber"> - {{Detail.distributorNumber}}</span>
    <span *ngIf="Detail.type == 'distributorOrdersfromCoverage' && Detail.data.distDetails">&nbsp;&nbsp;&nbsp;  Created Date : {{Detail.data.distDetails.createddate | utcDate}}</span>
  </div>
  <div class="col-md-1  col-sm-1  col-lg-1 right">
    <strong>
      <i class="fa fa-times fs-20" (click)='onCloseCancel()' aria-hidden="true"></i>
    </strong>
  </div>
</div>

<md-dialog-content layout="column">
  <div class="pd-15x25 brd-bottom">
    <table class="table table-hover table-striped  table-fixedheader">
      <thead>
        <tr>
          <th width="6%">Id</th>
          <th width="10%">Product </th>
          <th width="4%" title="Quantity">Qty</th>
          <th width="10%" title="Cost, Express Delivery Charge, Service Charge">Cost,Exp,Serv</th>

          <th width="10%">Status</th>
          <th width="6%">Mode</th>
          <th width="8%">Amount</th>
          <th class="" width="7%" title="Return Quantity">Ret Qty</th>
          <!-- <th class="" width="9%">Serv chgs</th>
          <th class="" width="9%">Exp del chgs</th> -->
          <th class="" width="8%" title="Recive Amount">Recv Amt</th>
          <th class="" width="14%">Created Date</th>
          <th class="" width="14%">Delivery Date</th>
          <!-- <th class="" width="5%">Flw up</th>
          <th class="" width="5%">Address</th>
           -->

          <!-- <th width="12%">Customer </th>
          <th width="10%"> Cust Mobile</th> -->

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplierOrder of SupplierOrderList">
          <td width="6%" class="left cellpadding" scope="row">#{{supplierOrder.order_id}}</td>
          <td width="10%" class="capitalize left cellpadding" scope="row">
            <span class="onhovertooltip-100" title="{{supplierOrder.brandname}}">{{supplierOrder.brandname}}</span>
          </td>
          <td width="4%" class="left cellpadding" scope="row">
            <span class="text-info">{{supplierOrder.quantity}}</span>
          </td>
          <td width="10%" class="left cellpadding" scope="row">
            <span>{{supplierOrder.prod_cost}}</span> ,
            <span *ngIf="supplierOrder.expressdeliverycharges == 0 || supplierOrder.expressdeliverycharges === null ||  supplierOrder.expressdeliverycharges == '' ">-</span>
            <span *ngIf="supplierOrder.expressdeliverycharges > 0 ">{{supplierOrder.expressdeliverycharges}}</span> ,
            <span *ngIf="supplierOrder.servicecharges == '' || supplierOrder.servicecharges === null || supplierOrder.servicecharges == 0">-</span>
            <span *ngIf="supplierOrder.servicecharges > 0 ">{{supplierOrder.servicecharges}}</span>
          </td>

          <td width="11%" class="left capitalize cellpadding" scope="row">
            <span class="text-warning">{{supplierOrder.status}}</span>
          </td>
          <td width="6%" class="left capitalize cellpadding" scope="row">
            <span class=" text-info">{{supplierOrder.paymenttype}}</span>
          </td>
          <td width="8%" class="left cellpadding" scope="row">
            <span class=" text-danger">{{supplierOrder.bill_amount}}</span>
          </td>
          <td width="7%" class="left cellpadding" scope="row">
            <span class="text-success">
              <span *ngIf="supplierOrder.return_cans_count =='' || supplierOrder.return_cans_count === null"> 0 </span>
              <span *ngIf="supplierOrder.return_cans_count">{{supplierOrder.return_cans_count}} </span>
            </span>
          </td>
          <!-- <td width="8%" class="left" class="cellpadding" scope="row">
            <span *ngIf="supplierOrder.servicecharges == '' || supplierOrder.servicecharges === null"> 0 </span>
            <span *ngIf="supplierOrder.servicecharges">{{supplierOrder.servicecharges}}</span>            
            </td>
          <td width="13%" class="left" class="cellpadding" scope="row">
              <span *ngIf="supplierOrder.expressdeliverycharges == '' || supplierOrder.expressdeliverycharges === null"> 0 </span>
              <span *ngIf="supplierOrder.expressdeliverycharges">{{supplierOrder.expressdeliverycharges}}</span></td> -->
          <td width="8%" class="left cellpadding" scope="row">
            <span class="text-success">
              <span *ngIf="supplierOrder.receivedamount == '' || supplierOrder.receivedamount === null"> 0 </span>
              <span *ngIf="supplierOrder.receivedamount > 0">{{supplierOrder.receivedamount}} </span>
            </span>
          </td>

          <td class="" width="14%">
            <span class="gray6">{{supplierOrder.ordered_date | utcDate}}</span>
          </td>
          <td class="" width="14%">
            <span class="gray6">{{supplierOrder.order_delivereddate | utcDate}}</span>
          </td>
          <!-- <td class="" width="13%">



            </td>
            <td class="" width="13%">

            </td> -->



          <!-- <td width="12%" class="left" class="cellpadding" scope="row"> {{supplierOrder.customer.firstname}} </td>
          <td width="10%" class="left" class="cellpadding" scope="row">{{supplierOrder.customer.mobileno}}</td> -->
        </tr>
      </tbody>
    </table>
    <br>
    <h4 class="warning  capitalize center">
      <a href="javascript:void(0);" (click)=getOrdersByPaging(); *ngIf="ordersClickMore">
        <i class="fa fa-cloud-upload" aria-hidden="true"></i> click for more data</a>
      <span *ngIf="!ordersClickMore">Record Not Available</span>
    </h4>
  </div>
</md-dialog-content>
<div class="row float-right pdright-30 mgbottom-20">
  <md-dialog-actions align="end">
    <button md-raised-button (click)='onCloseCancel()'>CANCEL</button>&nbsp;
  </md-dialog-actions>
</div>