<div class="row justify-content-between modal-title ">
  <div class="col-md-4 col-sm-4">
     <strong><i class="fa fa-ban " aria-hidden="true" ></i></strong> Delete Supplier</div>
  <div class="col-md-1 col-sm-1 right">
    <strong (click)="onCloseCancel()"> <i class="fa fa-times fs-20" aria-hidden="true"></i>
            </strong>
  </div>
</div>
<div class="container-fluid brd-bottom">
  <br>
<h4 class="warning center"> <span class="fa fa-trash-o"></span> Are you sure you want to delete this supplier?</h4>
<br>
</div>
<div class="row float-right pdright-30 mgbottom-20">
  <md-dialog-actions align="end">
      <button type="submit" class="btn-primary" md-raised-button (click)="deleteSupplier()" >YES</button>        
    <button type="submit" class="btn-default" md-raised-button (click)="onCloseCancel()">NO</button>&nbsp;
  </md-dialog-actions>
</div>
