.mat-button, .mat-icon-button, .mat-raised-button {
    color: currentColor;
    margin-bottom: 10px;
}
.disp-init{
    
        display: initial !important;
}
.mgtopbtm-10x15{
    margin-bottom: 15px;
    margin-top: 10px;
}
.table-fixedheader{
max-height: 55vh;
overflow-x: auto;
}