
<div class=" dist-style minheight-500">
  <div class=" row justify-content-between distIcon-style left">
      <div class="col-sm-2 col-md-2 col-lg-2 ">
          <h4><i class="fa fa-registered"></i> Rules</h4>
      </div>
    <div class="col-sm-2 col-md-2 col-lg-2 align-self-center right">
        <a class="cursor logo-color " title="Add rules" (click)='addRule()' ><i class="fa fa-plus fa-2 plus-style"  aria-hidden="true"></i></a>
    </div>
      </div>
  <div id="" class="row pd-15x10 mg-0">
<div class="col">    
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th width="15%">Created By</th>
          <th width="10%">Rule Name </th>
          <th width="12%">Type</th>
          <th width="25%">Type Details</th>
          <th width="14%">Value</th>
          <th width="14%" class="no-th-row">Action</th>
        </tr>
      </thead>
      <tbody>

        <tr class="">
          <td class="" width="15%">Dev super dealer</td>
          <td class="" width="10%">Points rule</td>
          <td class="" width="12%">Points</td>
          <td class="" width="25%">description</td>
          <td class="" width="14%">5</td>
          <td class="" width="14%">
            <span class="">
              <i class="fa fa-trash danger" title="Delete"></i>
            </span> &nbsp; &nbsp;
            <span>
              <i  class="fa fa-edit logo-color" title="Edit"></i>
            </span>
          </td>
        </tr>
        
              
      </tbody>
    </table>
    
</div>
</div>
<!-- <h4 *ngIf="!NoRecords"  class="warning" > <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Record Not Available</h4> -->
</div>  

