<div class=" dist-style minheight-500">
  <div class=" row justify-content-between distIcon-style left">
    <div class="col-sm-2 col-md-2 col-lg-2 ">
      <h4>
        <i class="fa fa-registered"></i> Rules</h4>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 align-self-center right">
      <a class="cursor logo-color " title="Add rules" (click)='addRule()'>
        <i class="fa fa-plus fa-2 plus-style" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <div id="" class="row pd-15x10 mg-0">
    <div class="col">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th width="15%" (click)="sortTable('createdby')">Created By &nbsp;<i class="fa" [ngClass]="{'fa-sort': column != 'createdby', 'fa-sort-asc': (column == 'createdby' && isDesc), 'fa-sort-desc': (column == 'createdby' && !isDesc) }" aria-hidden="true"> </i></th>
            <th width="12%" (click)="sortTable('rule name')">Rule Name &nbsp;<i class="fa" [ngClass]="{'fa-sort': column != 'rule name', 'fa-sort-asc': (column == 'rule name' && isDesc), 'fa-sort-desc': (column == 'rule name' && !isDesc) }" aria-hidden="true"> </i> </th>
            <th width="12%" (click)="sortTable('type')">Type &nbsp;<i class="fa" [ngClass]="{'fa-sort': column != 'type', 'fa-sort-asc': (column == 'type' && isDesc), 'fa-sort-desc': (column == 'type' && !isDesc) }" aria-hidden="true"> </i></th>
            <th width="30%" (click)="sortTable('code_description')">Type Details &nbsp;<i class="fa" [ngClass]="{'fa-sort': column != 'code_description', 'fa-sort-asc': (column == 'code_description' && isDesc), 'fa-sort-desc': (column == 'code_description' && !isDesc) }" aria-hidden="true"> </i></th>
            <th width="10%">Value</th>
            <th width="10%" class="no-th-row">Action</th>
          </tr>
        </thead>

        <tbody>
          <tr class="" *ngFor="let rule of allRules">
            <td class="capital" width="15%">{{rule.createdby}}</td>
            <td class="capital" width="12%">rule name</td>
            <td class="capital" width="12%">{{rule.type}}</td>
            <td class="capital" width="30%">{{rule.code_description}}</td>
            <td class="capital" width="10%">{{rule.value}}</td>
            <td class="" width="10%">
              <span>
                <i class="fa fa-edit logo-color fs-18" title="Edit" (click)="editRule(rule)"></i>
              </span> &nbsp;
              <span class="">
                <i class="fa fa-trash danger fs-18" title="Delete" (click)="deleteRule(rule)"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <h4 *ngIf="!NoRecords"  class="warning" > <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Record Not Available</h4> -->
</div>