
<div class="row justify-content-between modal-title ">
    <div class="col-md-4  col-sm-4  col-lg-4">
        <i class="fa fa-file-text-o"></i>  
        Order List
    </div>
    <div class="col-md-1  col-sm-1  col-lg-1 right">
          <strong  ><i class="fa fa-times fs-20" aria-hidden="true"></i>
          </strong>         
    </div>
  </div>
  
    <md-dialog-content layout="column">
        <div class="row pd-15x25 brd-bottom">
            <table class="table table-hover table-fixedheader nofath">
        <thead>
          <tr>
            <th width=""> Order Id</th>
            <th width="">Product Name</th>
            <th width="">Quantity</th>
            <th width="">Status</th>
            <th width="">Delivered </th>
            <th width="">Supplier Name</th>
            <th width=""> Supplier Mobile No</th>            
            <th width="">Request Date</th>
            <th width="">Customer Name</th>
            <th width=""> Payment Type</th>
            <th width="">Cost</th>
             </tr>
        </thead>
        <tbody>
          <tr   >
            <td width="" class="left" scope="row"></td>
            <td width="" class="left" scope="row"></td>
            <td width="" class="left" scope="row"></td>
            <td width="" class="left" scope="row"></td>
            <td width="" class="left" scope="row"></td>
            <td width="" class="left" scope="row"></td>
            <td width="" class="left" scope="row"></td>
            <td width="" class="left" scope="row"></td>
            <td width="" class="left" scope="row"></td>
            <td width="" class="left" scope="row"></td>
            <td width="" class="left" scope="row"></td>           
           </tr>
        </tbody>
      </table>
    </div>
    </md-dialog-content>
    <div class="row float-right pdright-30 mgbottom-20">
        <md-dialog-actions align="end">
          <button md-raised-button >CANCEL</button>&nbsp;
        </md-dialog-actions>
      </div>
  
  
  
