<div class="row justify-content-between modal-title ">
  <div class="col-md-4 col-sm-4">
    <i class="fa fa-barcode"></i> Promo code
  </div>
  <div class="col-md-1 col-sm-1 right">
    <strong>
      <i class="fa fa-times fs-20" aria-hidden="true" (click)="onCloseModal()"></i>
    </strong>
  </div>
</div>
<md-dialog-content layout="column">
  <div class="container-fluid pd-15x25 brd-bottom">
    <div class="row pd-top-0">
      <div class="col-4 ">
        <md-select placeholder="Type" [(ngModel)]="promoCodeInput.offertype">
          <md-option value="type1">type-1</md-option>
          <md-option value="type2">type-2</md-option>
          <md-option value="type3">type-3</md-option>
        </md-select>
      </div>
      <div class="col-4">
        <md-form-field class="example-full-width">
          <input mdInput [mdDatepicker]="picker" placeholder="Start Date"  [(ngModel)]="promoCodeInput.startdate" required>
          <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
          <md-datepicker #picker></md-datepicker>
        </md-form-field>
      </div>
      <div class="col-4">
        <md-form-field class="example-full-width">
          <input mdInput [mdDatepicker]="pickers" placeholder="End Date" [(ngModel)]="promoCodeInput.enddate">
          <md-datepicker-toggle mdSuffix [for]="pickers"></md-datepicker-toggle>
          <md-datepicker #pickers></md-datepicker>
        </md-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <md-select placeholder="Criteria" [(ngModel)]="promoCodeInput.criteria" required>
          <md-option value="totalcost">Total cost</md-option>
          <md-option value="Servicecharge">Service charge</md-option>
          <md-option value="DeliveryCharge">Delivery charge</md-option>
          <md-option value="SignUp">Sign up</md-option>
          <md-option value="Order'1">Order: 1 bottle</md-option>
          <md-option value="Order'2To3">Order: 2 to 3 bottle</md-option>
          <md-option value="OrderMoreThen5">Order: more then 5 bottle</md-option>
          <md-option value="1stOffer">1st Order</md-option>
          <md-option value="WeekDayOffer">Week day offer</md-option>
        </md-select>
        

      </div>
      <div class="col-4">
        <md-select placeholder="Promo Type" [(ngModel)]="promoCodeInput.promotype"  required>
          <md-option value="value">Value</md-option>
          <md-option value="percentage">Percentage</md-option>
          <md-option value="Points">Points</md-option>
        </md-select>
        
      </div>
      <div class="col-4 ">

        <md-form-field class="wd-100pc">
          <input class="form-control" mdInput placeholder="value" name="value" [(ngModel)]='promoCodeInput.discountinpercent' required>
          
        </md-form-field>
      </div>
    </div>
 
    <div class="row pd-top-0">
      <div class="col-4">
        <!-- <md-select placeholder="Product Category" [(ngModel)]="promoCodeInput.category"> -->

        <md-form-field class="example-full-width">
          <input mdInput placeholder="Enter Category" aria-label="State" [mdAutocomplete]="auto" [formControl]="CategoryCtrl" required [(ngModel)]="this.promoCodeInput.category">
          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let cat of filteredcategories | async" [value]="cat.category">
              <span> {{cat.category}}</span>
            </md-option>
          </md-autocomplete>
        </md-form-field>


        <!-- </md-select> -->
      </div>
      <div class="col-4">
        <md-form-field class="mg-left-0">
          <input class="form-control" mdInput placeholder="Promo Code" name="code" [(ngModel)]="promoCodeInput.promocode" required>
        </md-form-field>
      </div>
    </div>
    <div class="row pd-top-0">
      <div class="col">
        <md-form-field class="wd-100pc">
          <textarea class="form-control" mdInput placeholder="Description" name="desc" [(ngModel)]="promoCodeInput.description" ></textarea>
        </md-form-field>
      </div>
    </div>

  </div>
</md-dialog-content>

<small>{{errorMessage}}</small>
<div class="row float-right pdright-30 mgbottom-20">
    <small class="red">{{validateMessage}}</small>
  <md-dialog-actions align="end">
    <button type="submit" class="btn-primary" md-raised-button (click)="submitPromoCode()">CREATE</button>
    <button md-raised-button (click)="onCloseModal()">CANCEL</button>&nbsp;
  </md-dialog-actions>
</div>