<div class="row justify-content-between modal-title ">
  <div class="col-md-4  col-sm-4  col-lg-4">
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    Delivery
  </div>
  <div class="col-md-1  col-sm-1  col-lg-1 right">
    <strong>
      <i class="fa fa-times fs-20" aria-hidden="true" (click)="onCloseCancel()"></i>
    </strong>
  </div>
</div>

<md-dialog-content layout="column">
  <div class="container-fluid pd-15x25 brd-bottom">
    <div class="row">
      <div class="  col-6">
        <md-form-field class="wd-100pc">
          <input class="form-control" mdInput placeholder="Quantity" (ngModelChange)="amountChange($event)" [(ngModel)]="Detail.order.delivered_qty"  >
          <md-error>
            Quantity is
            <strong>required</strong>
          </md-error>
        </md-form-field>
      </div>
      <div class="  col-6">
        <md-form-field class="wd-100pc">
          <input class="form-control" mdInput placeholder="Returned Cans" [(ngModel)]="Detail.order.return_cans" (ngModelChange)="emptyCansValidation($event)" >
          <md-error>
            Returned Cans is
            <strong>required</strong>
          </md-error>
        </md-form-field>
      </div>
    </div>

    <div class="row form-group">
      <div class="  col-3">
        <b>Payment Type: </b>
      </div>
      <div class="  col-2">
        <div class="form-radio form-radio-inline">
          <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
            <input type="radio" class="custom-control-input" value="cash"  name="paymentType" [(ngModel)]="deliverPreOrderInput.paymentType">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description"> COD </span>
          </label>
        </div>
      </div>
      <div class="  col-2">
        <div class="form-radio form-radio-inline">
          <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
            <input type="radio" class="custom-control-input" value="credit" name="paymentType" [(ngModel)]="deliverPreOrderInput.paymentType">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description"> CREDIT </span>
          </label>
        </div>
      </div>
      <div class="  col-2">
          <div class="form-radio form-radio-inline">
            <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
              <input type="radio" class="custom-control-input" value="credit" name="paymentType">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description"> PAYTM </span>
            </label>
          </div>
        </div>
        <div class="  col-3">
            <div class="form-radio form-radio-inline">
              <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                <input type="radio" class="custom-control-input" value="credit" name="paymentType" >
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"> ONLINE BANKING </span>
              </label>
            </div>
          </div>



    </div>
    <div class="row form-group" *ngIf="deliverPreOrderInput.paymentType=='cash'">
      <!-- <div class="row">
        <div class="">
        <small>Express delivery charges: {{Detail.order.expressdeliverycharges}}</small>
        <small>Service charges:{{Detail.order.servicecharge}}</small>
      </div>
    </div> -->

   
        <div class="p-2">
            <span> <b>Express delivery charges<br>{{Detail.order.expressdeliverycharges}}</b></span>
            </div>
            <div class= "p-2">
            <span> <b>Service charges<br>{{Detail.order.prodServiceCharge * Detail.order.delivered_qty}}</b></span>
          </div>
          <div class= "p-2">
            <span> <b>price/Unit<br>{{Detail.order.product_cost}}</b></span>
          </div>

      <div class="col">
        <md-form-field class="wd-100pc">
          <input class="form-control" mdInput placeholder="Amount" [(ngModel)]="Detail.order.total_amt">
          <md-error>
            Amount is
            <strong>required</strong>
          </md-error>
        </md-form-field>
      </div>
      </div>

      <div class="row form-group" *ngIf="deliverPreOrderInput.paymentType=='credit'">
          <div class="p-2">
              <span>Express delivery charges<br> <b>{{Detail.order.expressdeliverycharges}}</b></span>
              </div>
              <div class= "p-2">
              <span>Service charges<br><b>{{Detail.order.prodServiceCharge * Detail.order.delivered_qty}}</b></span>
              </div>

              <div class= "p-2">
                <span>price/Unit<br><b>{{Detail.order.product_cost}}</b></span>
              </div>

              <div class= "p-4">
                  <span>Amount<br><b>{{Detail.order.total_amt}}</b></span>
                </div>

        </div>
    
      <div class="row">
      <div class="  col-8 align-self-center" *ngIf="deliverPreOrderInput.paymentType=='cash'">
        <div class="form-checkbox form-checkbox-inline">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
            <input type="checkbox" class="custom-control-input" [(ngModel)]="deliverPreOrderInput.confirmPayment">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description"> Confirm Payment </span>
          </label>
        </div>
      </div>
    </div><br>
    <div class="row">
      <div class="col-6">
        <md-form-field class="wd-100pc">
          <input class="form-control" mdInput placeholder="Due Amount"  [(ngModel)]="Detail.order.pending_amount" disabled="disabled">
        </md-form-field>
      </div>
      <div class="col-6">
          <md-form-field class="wd-100pc">
            <input class="form-control" mdInput placeholder="Advance Amount" [(ngModel)]="Detail.order.adv_amt" >
          </md-form-field>
        </div>
    </div>

    <div class="row form-group">
      <div class="col">
        <md-select placeholder="Select Supplier" name="type" class="full-width left" [(ngModel)]="deliverPreOrderInput.suppliersid">
          <md-option  *ngFor="let supplier of supplierList"  [value]="supplier.userid">{{supplier.firstname}} {{supplier.lastname}}</md-option>
        </md-select>
      </div>
    </div>

  </div>
</md-dialog-content>
<div class="row float-right pdright-30 mgbottom-20">
    <p class="red">{{emptyCanMessage}}</p> 
    <span>
        <small>
          <span class="pd-right-20">Product cost: {{Detail.order.product_cost}} </span>
          <span class="pd-right-20">Service charge : {{Detail.order.prodServiceCharge}} </span>
          <span class="pd-right-20">Express delivery charges : {{Detail.order.expressdeliverycharges}} </span> 
          <span class="pd-right-20">Empty cans Amount : {{ (Detail.order.delivered_qty - Detail.order.return_cans) * 150 }} </span><br>
          <span class="pd-right-20">Total cost : {{(Detail.order.product_cost * Detail.order.delivered_qty) + (Detail.order.prodServiceCharge * Detail.order.delivered_qty)  +  (Detail.order.expressdeliverycharges) +
             (( Detail.order.delivered_qty - Detail.order.return_cans) * 150 ) }}</span>
        </small>
      </span>



  <md-dialog-actions align="end">
    <button md-raised-button class="btn-primary" (click)="confirmDeliverOrder()" [disabled]="(this.Detail.order.return_cans != ' ') &&  (emptyCansKeyUp == true)">CONFIRM</button>&nbsp;
    <button md-raised-button (click)="onCloseCancel()">CANCEL</button>&nbsp;
  </md-dialog-actions>
</div>