<div class="row justify-content-between modal-title ">
    <div class="col-md-4 col-sm-4">
      DELIVER
    </div>
</div>

<md-dialog-content layout="column">
    <div class="container-fluid pd-15x25 brd-bottom">
                <div class="col-md-4 col-sm-6 ">
                  <md-form-field class="">
                    <input class="form-control" mdInput placeholder="Quantity" name="quantity">
                  </md-form-field>
                  <md-form-field class="">
                    <input class="form-control" mdInput placeholder="Returned Cans" name="returnedcans">
                  </md-form-field>
        
                </div>
                <hr>
              <div>
              <div class="row">
                  <b class="label-style">Payment type</b> </div>
                  
              <span width="30%" class="left capital">
                  <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" class="custom-control-input" name="paymentType" value="cod">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">COD</span>
                  </label>
                  <div *ngIf="value=='cod'"class="col-md-4 col-sm-6 ">

                      <md-form-field class="">
                        <input class="form-control" mdInput placeholder="Amount" name="amount">
        
                      </md-form-field>
                        <input type="checkbox"> Confirm Payment
                        
                      </div>
                </span>

                <span width="30%" class="left capital">
                  <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" class="custom-control-input"   name="paymentType" value="credit">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">CREDIT</span>
                  </label>
                </span>
              </div>
              <hr>
              <div class="col-md-4 col-sm-6 ">

              <md-form-field class="">
                <input class="form-control" mdInput placeholder="Amount" name="amount">

              </md-form-field>
                <input type="checkbox"> Confirm Payment
                <div class="col-md-4 ">                   
                    <md-select placeholder="Select Supplier" class="wd-200pc left oneline"> 
                        <md-option >
                        </md-option>
                      </md-select>
                </div>
              </div>
    </div>

</md-dialog-content>







  
  <div class="row float-right pdright-30 mgbottom-20">
    <md-dialog-actions align="end">
      <button md-raised-button class="btn-primary">CONFIRM</button>&nbsp;
      <button md-raised-button (click)="onCloseCancel()">CANCEL</button>&nbsp;
    </md-dialog-actions>
  </div>