<div class="row justify-content-between modal-title ">
    <div class="col-md-6  col-sm-6  col-lg-6">
      <i class="fa fa-edit"></i> Edit Points
    </div>
    <div class="col-md-1  col-sm-1  col-lg-1 right">
      <strong (click)="onCloseCancel()">
        <i class="fa fa-times fs-20" aria-hidden="true"></i>
      </strong>
    </div>
  </div>
  
  <md-dialog-content layout="column">
  
    <div class="row" *ngIf="Detail.usertype !== 'dealer'">
      <div class="col">
        <p class="">{{Detail.firstname}} {{Detail.lastname}}</p>
      </div>
      <div class="col">
       <p class=""> {{Detail.mobileno}} </p>
        
        </div>
        <div class="col">
         
          <p *ngIf="customerPoints && customerPoints.totalpoints"> {{customerPoints.totalpoints}}</p>
          <p *ngIf="noPoints"> 0 </p>
        
          </div>
          <!-- <div class="col">
            <i class="" (click)="showDetails()"> Details </i>
        
            </div> -->
    </div>


    <div class="row" *ngIf="Detail.usertype !== 'dealer' && customerPoints && customerPoints.totalpoints">
        <table class="table table-hover table-striped" style="table-layout:fixed">
          <thead>
            <tr>
              <th width="">Date</th>
              <th width="">Order id</th>
              <th width="">Points</th>
              <th width="">Rewarded for</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of customerPointsDetails">
              <td class="" width=""> {{detail.date | utcDate}}</td>
              <td class="" width=""> {{detail.orderid}}</td>
              <td class="" width=""> {{detail.points}}</td>
              <td class="" width="">{{detail.status}}</td>
            </tr>
          </tbody>
        </table>



      </div>



      <div class="row" *ngIf="Detail.usertype == 'dealer'">
          <div class="col">
            <p class="">{{Detail.firstname}} {{Detail.lastname}} </p>
          </div>
          <div class="col">
           <p class=""> {{Detail.mobileno}} </p>
            
            </div>
            <div class="col">
             
              <p *ngIf="distributorPoints && distributorPoints.totalpoints"> {{distributorPoints.totalpoints}}</p>
              <p *ngIf="noPoints"> 0 </p>
              
            
              </div>
              <!-- <div class="col">
                <i class="" (click)="showDetails()"> Details </i>
            
                </div> -->
        </div>




      <div class="row" *ngIf="Detail.usertype == 'dealer' && distributorPoints &&  distributorPoints.totalpoints">
          <table class="table table-hover table-striped" style="table-layout:fixed">
            <thead>
              <tr>
                <th width="">Date</th>
                <th width="">Order id</th>
                <th width="">Points</th>
                <th width="">Rewarded for</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of distributorPointsDetails">
                <td class="" width=""> {{detail.date | utcDate}}</td>
                <td class="" width=""> {{detail.orderid}}</td>
                <td class="" width=""> {{detail.points}}</td>
                <td class="" width="">{{detail.status}}</td>
              </tr>
            </tbody>
          </table>
  
  
  
        </div>



  </md-dialog-content>
  <div class="row float-right pdright-30 mgbottom-20 ">
    <md-dialog-actions align="end">
  
      <!-- <button type="submit" md-raised-button class="btn-primary"  >SUBMIT</button> -->
      <button md-raised-button (click)="onCloseCancel()">CANCEL</button>&nbsp;
    </md-dialog-actions>
  </div>