<div class="row justify-content-between modal-title ">
  <div class="col-md-6  col-sm-6  col-lg-6">
    <i class="fa fa-edit"></i> Edit Points
  </div>
  <div class="col-md-1  col-sm-1  col-lg-1 right">
    <strong (click)="onCloseCancel()">
      <i class="fa fa-times fs-20" aria-hidden="true"></i>
    </strong>
  </div>
</div>

<md-dialog-content layout="column">
  <form class="example-form">
    <div class="container-fluid pd-15x25 brd-bottom">

      <!-- Customer points-->


      <div *ngIf="Detail.usertype !== 'dealer'" class="points-style">
        <div class="row">
          <div class="col center">
            <h1 *ngIf="customerPoints" class="fs-50 danger mgbottom-0"> {{customerPoints.totalpoints}}</h1>
            <h1 *ngIf="noPoints" class="fs-50 danger mgbottom-0"> 0 </h1>
            <span>POINTS</span>
          </div>
        </div>
        <div class="row inner-style">
          <div class="col">
            <span class="capitalize">
              <i class="fa fa-user"></i> {{Detail.firstname}} {{Detail.lastname}}</span>
          </div>
          <div class="col center">
            <span class="">
              <i class="fa fa-phone"></i> {{Detail.mobileno}} </span>
          </div>
          <div class="col right">
              <button md-raised-button class="btn btn-primary btn-small fs-14" (click)="getPointsDetails()">Details</button>&nbsp;
              
            </div>
        </div>
      </div>

      <div class="" *ngIf="Detail.usertype !== 'dealer' && customerPointsDetails">
        <table class="table table-hover table-striped table-fixedheader" style="table-layout:fixed">
          <thead >
            <tr *ngIf="customerPointsDetails.length > 0">
              <th width="29%" (click)="sortTable('date')">Date &nbsp;<i class="fa" [ngClass]="{'fa-sort': column != 'date', 'fa-sort-asc': (column == 'date' && isDesc), 'fa-sort-desc': (column == 'date' && !isDesc) }" aria-hidden="true"> </i></th>
              <th width="20%">Order id</th>
              <th width="20%">Points</th>
              <th width="29%" (click)="sortTable('status')">Rewarded for &nbsp;<i class="fa" [ngClass]="{'fa-sort': column != 'status', 'fa-sort-asc': (column == 'status' && isDesc), 'fa-sort-desc': (column == 'status' && !isDesc) }" aria-hidden="true"> </i></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of customerPointsDetails">
              <td  width="30%"> {{detail.date | utcDate}}</td>
              <td  width="20%"> #{{detail.orderid}}</td>
              <td  width="20%"> {{detail.points}}</td>
              <td  width="30%">{{detail.status}}</td>
            </tr>
          </tbody>
        </table>
        <h4 class="error  center">
          <span *ngIf="errorMessage">
            <i class="fa fa-frown-o" aria-hidden="true"></i> No Points Available</span>
          </h4>
      </div>

      <!-- Customer points-->



<!-- Dealer points-->

      <div *ngIf="Detail.usertype == 'dealer'" class="points-style">
          <div class="row">
            <div class="col center">
              <h1 *ngIf="distributorPoints && distributorPoints.totalpoints"> {{distributorPoints.totalpoints}}</h1>
              <h1 *ngIf="noPoints" class="fs-50 danger mgbottom-0"> 0 </h1>
              <span>POINTS</span>
            </div>
          </div>
          <div class="row inner-style">
            <div class="col">
              <span class="capitalize">
                <i class="fa fa-user"></i> {{Detail.firstname}} {{Detail.lastname}}</span>
            </div>
            <div class="col center">
              <span class="">
                <i class="fa fa-phone"></i> {{Detail.mobileno}} </span>
            </div>
            <div class="col right">
                <button md-raised-button class="btn btn-primary btn-small fs-14" (click)="getPointsDistributorDetails()"  >Details</button>&nbsp;
              </div>
          </div>
        </div>
  
        <div class="" *ngIf="Detail.usertype == 'dealer' && distributorPointsDetails">
          <table class="table table-hover table-striped table-fixedheader" style="table-layout:fixed">
            <thead>
              <tr *ngIf="distributorPointsDetails.length > 0" >
                <th width="29%">Date</th>
                <th width="20%">Order id</th>
                <th width="20%">Points</th>
                <th width="29%">Rewarded for</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of distributorPointsDetails">
                <td  width="30%"> {{detail.date | utcDate}}</td>
                <td  width="20%"> #{{detail.orderid}}</td>
                <td  width="20%"> {{detail.points}}</td>
                <td  width="30%">{{detail.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>


        <!-- Dealer points-->

    </div>
  </form>
</md-dialog-content>
<div class="row float-right pdright-30 mgbottom-20 ">
  <md-dialog-actions align="end">

    <button md-raised-button (click)="onCloseCancel()">CANCEL</button>&nbsp;
  </md-dialog-actions>
</div>