<!-- <div class="row">
<h2 md-dialog-title>Distributors</h2><br>

</div> -->
<div class="row justify-content-between modal-title ">
  <div class="col-md-4  col-sm-4  col-lg-4">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    Add Invoice
  </div>
  <div class="col-md-1  col-sm-1  col-lg-1 right">
    <strong>
      <i class="fa fa-times fs-20" aria-hidden="true"></i>
    </strong>
  </div>
</div>

<md-dialog-content layout="column">
  <div class="container-fluid pd-15x25 brd-bottom">
    <div class="row">
      <div class="  col-sm-6 col-md-6  col-lg-6">
        <md-form-field class="inline">
          <input mdInput placeholder="From Date" name="fromdate">

        </md-form-field>
      </div>
      <div class="  col-sm-6 col-md-6  col-lg-6">
        <md-form-field class="inline">
          <input mdInput placeholder="To Date" name="todate">

        </md-form-field>
      </div>

    </div>
    <div class="">
      <table class="table table-hover table-fixedheader">
        <thead>
          <tr>
            <th width="40%">Product Name</th>
            <th width="25%">Product Type</th>
            <th width="12%">Quantity</th>
            <th width="22%">Each Item Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width="40%" class="left capital"></td>
            <td width="25%" class="left capital"></td>
            <td width="12%" class="left" scope="row"></td>
            <td width="22%" class="left capital"></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</md-dialog-content>
<div class="row float-right pdright-30 mgbottom-20">
  <md-dialog-actions align="end">
    <button md-raised-button class="btn-primary">PLACE AN ORDER</button>&nbsp;
    <button md-raised-button>CANCEL</button>&nbsp;
  </md-dialog-actions>
</div>