<form class="example-form" (ngSubmit)="onSubmit()">
  <md-form-field class="example-full-width">
    <input mdInput placeholder="First Name" [formControl]="emailFormControl" [(ngModel)]="dist.firstName" name="firstName">
   <md-error *ngIf="emailFormControl.hasError('required')">
     First Name is <strong>required</strong>
    </md-error>
  </md-form-field>
  <md-form-field class="example-full-width">
    <input mdInput placeholder="Last Name"  [(ngModel)]="dist.lastName" name="lastName">
    </md-form-field>
  <md-form-field class="example-full-width">
    <input mdInput placeholder="Phone" [(ngModel)]="dist.phone" name="phone">
  </md-form-field>
  
    <angular2-multiselect [data]="areaList" [(ngModel)]="dist.selectedItems"
                          [settings]="dropdownSettings" name="selectedItem"></angular2-multiselect>
 
  <p>
    <button type="submit" md-raised-button [disabled]="!emailFormControl.valid">Submit</button>
  </p>
</form>