<div class="row justify-content-between modal-title ">
  <div class="col-md-4  col-sm-4  col-lg-4">
    <i class="fa fa-sitemap"></i> Distributors
  </div>
  <div class="col-md-1  col-sm-1  col-lg-1 right">
    <strong (click)="onCloseCancel()">
      <i class="fa fa-times fs-20" aria-hidden="true"></i>
    </strong>
  </div>
</div>

<md-dialog-content layout="column">
  <form class="example-form" (ngSubmit)="onSubmit()">
    <div class="container-fluid pd-15x25 brd-bottom">
      <div class="row mg-btm-14">
        <div class="col-md-4  col-sm-4  col-lg-4">
          <md-form-field class="example-full-width wd-100pc">
            <input class="" mdInput placeholder="First Name" [formControl]="firstFormControl" [(ngModel)]="dist.firstName" name="firstName">
            <md-error *ngIf="firstFormControl.hasError('required')">
              First Name is
              <strong>required</strong>
            </md-error>
          </md-form-field>
        </div>
        <div class="col-md-4  col-sm-4  col-lg-4">
          <div class=" form-group pdright-20">
            <md-form-field class="example-full-width wd-100pc">
              <input mdInput class="form-control" placeholder="Last Name" [(ngModel)]="dist.lastName" [formControl]="lastFormControl" name="lastName">
              <md-error *ngIf="lastFormControl.hasError('required')">
                Last Name is
                <strong>required</strong>
              </md-error>
            </md-form-field>
          </div>
        </div>
        <div class="col-md-4  col-sm-4  col-lg-4" *ngIf="!phone && authenticationService.isSuperDelear == false">
          <md-form-field class="example-full-width wd-100pc">
            <input mdInput class="form-control" placeholder="Phone" [formControl]="phoneFormControl" [(ngModel)]="dist.phone" name="phone"
              maxlength="10" (keypress)="numberEvent($event)">

            <md-error *ngIf="phoneFormControl.hasError('required')">
              Phone Number is
              <strong>required</strong>
            </md-error>
          </md-form-field>
        </div>
        <div class="col-md-4  col-sm-4  col-lg-4" *ngIf="phone && authenticationService.isSuperDelear == false">
          <md-form-field class="example-full-width wd-100pc">
            <input mdInput class="form-control" placeholder="Phone" [(ngModel)]="dist.phone" name="phone" maxlength="10" disabled="disabled"
              (keypress)="numberEvent($event)">
          </md-form-field>

        </div>
        <div class="col-md-4  col-sm-4  col-lg-4" *ngIf="authenticationService.isSuperDelear">
          <md-form-field class="example-full-width wd-100pc">
            <input mdInput class="form-control" placeholder="Phone" [formControl]="phoneFormControl" [(ngModel)]="dist.phone" name="phone"
              maxlength="10" (keypress)="numberEvent($event)">

            <md-error *ngIf="phoneFormControl.hasError('required')">
              Phone Number is
              <strong>required</strong>
            </md-error>
          </md-form-field>
        </div>
      </div>

      <div class="row">

        <div class="row">
          <div class="col-md-4  col-sm-4  col-lg-4">
            <md-form-field class="example-full-width wd-100pc">
              <input mdInput class="form-control" placeholder="Mobile number 1" [(ngModel)]="dist.mobile1" name="phone1" maxlength="10"
                (keypress)="numberEvent($event)">
            </md-form-field>

          </div>


          <div class="col-md-4  col-sm-4  col-lg-4">
            <md-form-field class="example-full-width wd-100pc">
              <input mdInput class="form-control" placeholder="Mobile Number 2" [(ngModel)]="dist.mobile2" name="phone2" maxlength="10"
                (keypress)="numberEvent($event)">
            </md-form-field>

          </div>

          <div class="col-md-4  col-sm-4  col-lg-4">
            <md-form-field class="example-full-width wd-100pc">
              <input mdInput class="form-control" placeholder="Email id" [(ngModel)]="dist.emailid" name="emailid">
            </md-form-field>
          </div>
        </div>
        <!-- <div class="row">
        <div class="col-md-12  pdright-20">
            <angular2-multiselect  class="" [data]="areaList" [(ngModel)]="dist.selectedItems" [settings]="dropdownSettings" name="selectedItem"></angular2-multiselect>
          </div>
    </div> -->
        <div class="row">
          <div class="col-md-4  col-sm-4  col-lg-4" *ngIf="this.distributorDetail">
            <md-form-field class="example-full-width wd-100pc">
              <input mdInput class="form-control" placeholder="Reference code" [(ngModel)]="dist.referCode" name="referenceCode">
            </md-form-field>
          </div>

          <div class="col-md-4  col-sm-4  col-lg-4">
            <md-form-field class="example-full-width wd-100pc">
              <input mdInput class="form-control" placeholder="Company Name" [(ngModel)]="dist.companyname" name="companyname">
            </md-form-field>
          </div>

          <div class="col-md-4  col-sm-4  col-lg-4">
            <md-select placeholder="Type of Phone" name="phonetype" class="wd-100pc" [(ngModel)]="dist.phonetype">
              <md-option value="no_smartphone">No Smartphone</md-option>
              <md-option value="android">Android</md-option>
              <md-option value="ios">Iphone</md-option>
            </md-select>
          </div>
          <div class="col-md-4  col-sm-4  col-lg-4">
              <md-form-field class="example-full-width wd-100pc">
                <input mdInput class="form-control" placeholder="GST Number" [formControl]="addressFormControl" [(ngModel)]="dist.gstno"
                  name="GST Number">
                <md-error *ngIf="addressFormControl.hasError('required')">
                  <strong>required</strong>
                </md-error>
              </md-form-field>
            </div>
        </div>

        <div class="row">
          <div class="col-md-4  col-sm-4  col-lg-4">
            <md-form-field class="example-full-width wd-100pc">
              <input mdInput class="form-control" placeholder="Address" [formControl]="addressFormControl" [(ngModel)]="dist.address" name="address">
              <md-error *ngIf="addressFormControl.hasError('required')">
                Address is
                <strong>required</strong>
              </md-error>
            </md-form-field>
          </div>
        
          <div class="col-md-4  col-sm-4  col-lg-4">
              <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="dist.acceptonlinepayment" name="Accept Online Payment">
                <span class="custom-control-indicator"></span>
                Accept Online Payment
              </label>
            </div>
        </div>
        <h5 class="red center" *ngIf="validateMessage">{{validateMessage}}</h5>
      </div>
    </div>
  </form>
</md-dialog-content>

<div class="row float-right pdright-30 mgbottom-20">
  <md-dialog-actions align="end">
    <button type="submit" md-raised-button class="btn-primary" (click)="onSubmit()">SUBMIT</button>
    &nbsp;
    <button md-raised-button (click)="onCloseCancel()">CANCEL</button>
  </md-dialog-actions>
</div>