
  <h2 md-dialog-title>Distributors</h2>
  <div class="col-md-12">
    <md-dialog-content layout="column">
      <form class="example-form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <div class=" form-group">
              <md-form-field class="example-full-width">
                <input class="form-control" mdInput placeholder="First Name" [formControl]="emailFormControl" [(ngModel)]="dist.firstName" name="firstName">
                <md-error *ngIf="emailFormControl.hasError('required')">
                  First Name is <strong>required</strong>
                </md-error>
              </md-form-field>
            </div>
            <div class=" form-group">
              <md-form-field class="example-full-width">
                <input mdInput class="form-control" placeholder="Phone" [(ngModel)]="dist.phone" name="phone">
              </md-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class=" form-group">
              <md-form-field class="example-full-width">
                <input mdInput class="form-control" placeholder="Last Name" [(ngModel)]="dist.lastName" name="lastName">
              </md-form-field>
            </div>


            <div class=" form-group">

              <angular2-multiselect [data]="areaList" [(ngModel)]="dist.selectedItems"
                                    [settings]="dropdownSettings" name="selectedItem"></angular2-multiselect>

            </div>
          </div>
          <!--<p>
            <button type="submit" md-raised-button [disabled]="!emailFormControl.valid">Submit</button>
          </p>-->
        </div>
      </form>
    </md-dialog-content>
    <md-dialog-actions align="end">
      <button md-raised-button (click)="onCloseCancel()">CANCEL</button>&nbsp;
      <button type="submit" md-raised-button [disabled]="!emailFormControl.valid" (click)="onSubmit()">Submit</button>
    </md-dialog-actions>
</div>
