.mobile-div{
    margin-right: 10px;
    border: 1px solid;
    padding-top: 10px;
    overflow-y: scroll;
    max-height: 210px;
}
.mat-dialog-container{
    max-height:500px !important; 
}

.mat-dialog-content{
    overflow: hidden;
  }
  .my-radio md-radio-button , md-radio-button.md-checked ._md-on{
    background-color: blue;
}
.wd-60{width:60%}
