.mobile-div{
    margin-right: 10px;
    border: 1px solid;
    padding-top: 10px;
    overflow-y: scroll;
    max-height: 210px;
}
.mat-dialog-container{
    max-height:500px !important; 
}

.mat-dialog-content{
    overflow: hidden;
  }
  .my-radio md-radio-button , md-radio-button.md-checked ._md-on{
    background-color: blue;
}
.wd-60{width:60%}
.fa-search-post{
    position: absolute;
    right: 20px;
    top: 20px;
}
.smsdialog-scroll{
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}
.brd-top-gray9{
    border-top: 1px solid #999;
}