.mobile-div{
    margin-right: 10px;
    border: 1px solid;
    padding-top: 10px;
    overflow-y: scroll;
    max-height: 150px;
}
.mat-dialog-container{
    max-height:500px !important; 
}

.mat-dialog-content{
    overflow: hidden;
  }
