
<div class="row justify-content-between modal-title ">
    <div class="col-4">
        <i class="fa fa-sitemap"></i>  Sms schduler
    </div>
    <div class="col-1 right">
          <strong   (click)="onCloseCancel()"><i class="fa fa-times fs-20" aria-hidden="true"></i>
          </strong>         
    </div>
  </div>

    <md-dialog-content layout="column">
        <form class="example-form">
            <div class=" form-group">
             
                <md-select placeholder="Order Type" [(ngModel)]="orderinput.orderType" name="type" style="width: 200px">
                  <md-option *ngFor="let type of OrderTypeDetails" [value]="type.value">
                    {{type.viewValue}}
                  </md-option>
                </md-select>
             
      </div>
           <md-form-field>
                <input mdInput [mdDatepicker]="picker" placeholder="From Date" name="fromdate" [(ngModel)]="orderinput.fromDate">
                <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                <md-datepicker #picker></md-datepicker>
              </md-form-field>
              
              <md-form-field>
                <input mdInput [mdDatepicker]="pickers" placeholder="To Date"  name="todate" [(ngModel)]="orderinput.toDate">
                <md-datepicker-toggle mdSuffix [for]="pickers"></md-datepicker-toggle>
                <md-datepicker #pickers></md-datepicker>
              </md-form-field>
               
          </form>
    </md-dialog-content>
    <div class="row float-right pdright-30">
    <md-dialog-actions align="end">
     
      <button  md-raised-button (click)="getMobileNumber()">SUBMIT</button>
    </md-dialog-actions>
  </div>

