<div>

  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="mapClicked($event)">
    <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
      [iconUrl]="m.icon">
      <agm-info-window>
        Hi, this is the 1  <strong>info window</strong>

      </agm-info-window>
    </agm-marker>
    <agm-marker *ngFor="let m of ploymarkers; let i = index" [latitude]="m.lat" [longitude]="m.lng">
      <agm-info-window>
        Hi, this is 2 <strong>info window</strong>

      </agm-info-window>
    </agm-marker>
    <agm-polygon *ngFor="let p of distPolygon; let i = index" [paths]="p.path" [editable]="true" [draggable]="true" (polyClick)="click(event)"
      (polyDblClick)="delete(event)"></agm-polygon>
    <agm-info-window show="'show'" coords="'coords'">
      Hi, this is 3 <strong>info window</strong>

    </agm-info-window>
  </agm-map>
</div> -->
<!--<section class="example-section">
  <md-checkbox class="example-margin" *ngFor="let c of checkboxlist" [(ngModel)]="SelectionStatus[c.number]" [value]="c.number">{{c.number}}</md-checkbox>
 
</section>-->
<div *ngFor="let data of checkboxlist">
  <input type="checkbox" (change)="onChangeCheck(data.number, $event.target.checked)"> {{data.number}}<br>
</div>
<div>
    <md-form-field class="example-full-width">
        <input mdInput  placeholder="State" aria-label="State" [mdAutocomplete]="auto" [formControl]="stateCtrl">
        <md-autocomplete #auto="mdAutocomplete">
          <md-option *ngFor="let state of filteredStates | async" [value]="state.name" >
           <span>{{ state.name }}</span>
            </md-option>
        </md-autocomplete>
      </md-form-field>
</div>
<div>


  <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings"></angular2-multiselect>
  <div class="col-md-6  col-sm-6  col-lg-6">
    <nav class="navbar navbar-light bg-faded">
      <h1 class="navbar-brand mb-0">Create Polygon with Distributor</h1>
    </nav>
    <div class="input-group">
      <select [(ngModel)]="selectedDist">
      <option [value]="0">Please Select</option>
      <option *ngFor="let dist of distubutors" [ngValue]="dist">
        {{dist.distibutorname}}
      </option>
    </select>
      <input type="text" class="form-control" [(ngModel)]="polygonArray.name" placeholder="Polygon Name">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button"  (click)='savePloygon(selectedDist)'>save polygon!</button>
      </span>
    </div>
  </div>
  <div class="col-md-6  col-sm-6  col-lg-6">
    <nav class="navbar navbar-light bg-faded">
      <h1 class="navbar-brand mb-0">View All Distributor Polygon</h1>
    </nav>
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)='viewAllDistPolygon()'>View All Distributor polygon!</button>
      </span>
    </div>
  </div>
  <div class="col-md-6  col-sm-6  col-lg-6">
    <nav class="navbar navbar-light bg-faded">
      <h1 class="navbar-brand mb-0">Create Distributor</h1>
    </nav>

    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="DistributorArray.distibutorname" placeholder="Distributors Name">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)='saveDistibutor()'>save Distributor!</button>
      </span>
    </div>
  </div>
  <div class="col-md-6  col-sm-6  col-lg-6">
    <nav class="navbar navbar-light bg-faded">
      <h1 class="navbar-brand mb-0">View Polygon with Distributor</h1>
    </nav>

    <div class="input-group">
      <select [(ngModel)]="selectedDistView">
        <option [value]="0">Please Select</option>
        <option *ngFor="let dist of distubutors" [ngValue]="dist">
          {{dist.distibutorname}}
        </option>
      </select>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)='viewDistPolygon(selectedDistView)'>view Distributor polygon!</button>
      </span>
    </div>
  </div>
</div>
<nav class="navbar navbar-light bg-faded">
  <h1 class="navbar-brand mb-0">Customer Map</h1>
</nav>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="customerMapClicked($event)">


</agm-map>


<div>
  <div id="map"></div>
</div>

<div class="input-group">
  <select [(ngModel)]="selectedDist">
    <option [value]="0">Please Select</option>
    <option *ngFor="let dist of distubutors" [ngValue]="dist">
      {{dist.distibutorname}}
    </option>
  </select>
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)='saveP(selectedDist)'>save polygon!</button>
  </span>
</div>



<form #myForm="ngForm" novalidate>
    <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions"
                    (dateRangeChanged)="onDateRangeChanged($event)"  required></my-date-range-picker>
</form>





  <!-- trying new ngx guages  -->

  <ngx-gauge 
  [thresholds]="thresholdConfig"
  [type]="gaugeType" 
           [value]= timeRemaining 
           [label]="gaugeLabel"  
           [append]="gaugeAppendText">
</ngx-gauge>



<!-- {"order":{"userid":289,"orderid":"26834","priority":289,"usertype":"dealer","transtype":"ordershistory","pagesize":30,"last_orderid":null,"apptype":"moya","createdthru":"website","devicetype":"","moyaversioncode":""}} -->


<!-- node --max_old_space_size=5048 "%~dp0\..\@angular\cli\bin\ng" build --aot --prod -->

