<div>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="mapClicked($event)" >
  <agm-marker  *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m.label, i)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [iconUrl]="m.icon"></agm-marker>
<agm-marker  *ngFor="let m of ploymarkers; let i = index"
          
          [latitude]="m.lat"
          [longitude]="m.lng"
          ></agm-marker>
           <agm-polygon  *ngFor="let p of distPolygon; let i = index"  [paths]="p.path"
        [editable]="true" 
        [draggable]="true"
        (polyClick)="click(event)" 
        (polyDblClick)="delete(event)"></agm-polygon>

</agm-map>
</div>
<div>
<div class="col-lg-6">
   <nav class="navbar navbar-light bg-faded">
  <h1 class="navbar-brand mb-0">Create Polygon with Distributor</h1>
</nav>
    <div class="input-group">
      <select [(ngModel)]="selectedDist">
      <option [value]="0">Please Select</option>
      <option *ngFor="let dist of distubutors" [ngValue]="dist">
        {{dist.distibutorname}}
      </option>
    </select>
      <input type="text" class="form-control" [(ngModel)]="polygonArray.name" placeholder="Polygon Name">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button"  (click)='savePloygon(selectedDist)'>save polygon!</button>
      </span>
    </div>
  </div>
  <div class="col-lg-6">
   <nav class="navbar navbar-light bg-faded">
  <h1 class="navbar-brand mb-0">View All Distributor Polygon</h1>
</nav>
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)='viewAllDistPolygon()'>View All Distributor polygon!</button>
      </span>
    </div>
    </div>
  <div class="col-lg-6">
    <nav class="navbar navbar-light bg-faded">
  <h1 class="navbar-brand mb-0">Create Distributor</h1>
</nav>
   
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="DistributorArray.distibutorname" placeholder="Distributors Name">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)='saveDistibutor()'>save Distributor!</button>
      </span>
    </div>
  </div>
  <div class="col-lg-6">
     <nav class="navbar navbar-light bg-faded">
  <h1 class="navbar-brand mb-0">View Polygon with Distributor</h1>
</nav>
   
    <div class="input-group">
      <select [(ngModel)]="selectedDistView">
        <option [value]="0">Please Select</option>
        <option *ngFor="let dist of distubutors" [ngValue]="dist">
          {{dist.distibutorname}}
        </option>
      </select>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)='viewDistPolygon(selectedDistView)'>view Distributor polygon!</button>
      </span>
    </div>
  </div>
</div>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="customerMapClicked($event)">
  

</agm-map>
