<div class="row justify-content-between modal-title">
  <div class="col-sm-4 col-md-4 col-lg-4 ">
    <i class="fa fa-calendar-plus-o"></i> View Scheduled Orders
  </div>
  <div class="col-md-1  col-sm-1  col-lg-1 right">
    <strong>
      <i class="fa fa-times fs-20" aria-hidden="true" (click)="onCloseCancel()"></i>
    </strong>
  </div>
</div>
<div>
  <div id="" class="container-fluid pd-15x25 brd-bottom">
    <md-dialog-content layout="column">
      <table class="table table-hover table-fixedheader">
        <thead>
          <tr>
            <th width="29%" (click)="sortTable('product_type')">Product Type &nbsp;<i class="fa" [ngClass]="{'fa-sort': column != 'product_type', 'fa-sort-asc': (column == 'product_type' && isDesc), 'fa-sort-desc': (column == 'product_type' && !isDesc) }" aria-hidden="true"> </i></th>
            <th width="6%" title="Quantity">Qty</th>
            <th width="35%" (click)="sortTable('weekdays')">Schedule &nbsp;<i class="fa" [ngClass]="{'fa-sort': column != 'weekdays', 'fa-sort-asc': (column == 'weekdays' && isDesc), 'fa-sort-desc': (column == 'weekdays' && !isDesc) }" aria-hidden="true"> </i></th>
            <!-- <th width="">Created By</th> -->
            <th width="15%" (click)="sortTable('delivery_exceptedtime')">Expected Time &nbsp;<i class="fa" [ngClass]="{'fa-sort': column != 'delivery_exceptedtime', 'fa-sort-asc': (column == 'delivery_exceptedtime' && isDesc), 'fa-sort-desc': (column == 'delivery_exceptedtime' && !isDesc) }" aria-hidden="true"> </i></th>
            <th width="8%" class="no-th-arrow">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let schedule of scheduleOrdersList">
            <td class="left"  width="30%">
              <span class="onhovertooltip-200" title="{{schedule.product_type}} {{schedule.product_quantity}}">{{schedule.product_type}} {{schedule.product_quantity}}</span>
            </td>
            <td class="left" width="6%">{{schedule.quantity}} </td>
            <td class="left" width="35%">
              <span class="onhovertooltip-250" title="{{schedule.weekdays}} {{schedule.days}}">{{schedule.weekdays}} {{schedule.days}}</span>
            </td>
            <!-- <td class="left" *ngIf="schedule">{{}}</td> -->
            <td class="left" width="15%">{{schedule.delivery_exceptedtime}}</td>
            <td class="left" width="8%" >
              <i class="fa fa-pencil-square-o btn-link" aria-hidden="true" (click)="editSchedule(schedule)"> </i> &nbsp;
              <i class="fa fa-trash danger" aria-hidden="true" (click)="deleteSchedule(schedule)"></i>
            </td>
        </tbody>
      </table>
      <br>
      <h4 class="error oneline center" *ngIf="noRecord">
          <i aria-hidden="true" class="fa fa-frown-o"></i>
          Record not available
      </h4>
    </md-dialog-content>
  </div>
  <div class="row float-right pdright-30 mgbottom-20">
    <md-dialog-actions align="end">
      <button md-raised-button (click)='onCloseCancel()'>CANCEL</button>&nbsp;
    </md-dialog-actions>
  </div>