.capitalize {
    text-transform: capitalize;
}
.deletebtn{
    color: white;
    background-color: rgb(207, 34, 34);
}
.warningred{
    color: red;
   
}
.schedule-style  {
    border: 1px solid #ddd;
    padding: 10px 5px 10px 15px;
    margin-top: 20px;
}
hr{
    margin-top: 0px;
    margin-bottom:10px;
}