<div class="row justify-content-between modal-title ">
    <div class="col-md-4 col-sm-4">
      <i class="fa fa-edit"></i> Redeem Settings
    </div>
    <div class="col-md-1 col-sm-1 right">
      <strong>
        <i class="fa fa-times fs-20" aria-hidden="true" (click)="onCloseModal()"></i>
      </strong>
    </div>
  </div>
  <md-dialog-content layout="column">
  
    <div class="container-fluid pd-15x25 brd-bottom">
      
    
      <div class="row">
        <div class="col-md-6 col-sm-6 ">
          <md-form-field class="">
            <input class="form-control" mdInput placeholder="Points" name="points" [(ngModel)]="redeemPointsInput.points" required >
            
          </md-form-field>
  
        </div>

        <div class="form-group col-md-4 col-sm-6">
          <md-select placeholder="Redeem Type" class="wd-100pc" [(ngModel)]="redeemPointsInput.type" required>
            <md-option value="paytm">Paytm</md-option>
            <md-option value="discount">Discount</md-option>
            <md-option value="voucher">Voucher</md-option>                  
          </md-select>
        </div>



      </div>
      
      <div class="row">

          <div class="col-md-6 col-sm-6 ">
              <md-form-field class="">
                <input class="form-control" mdInput placeholder="Amount" name="amount" [(ngModel)]="redeemPointsInput.amount" required>
                
              </md-form-field>
      
            </div>



          


           


      </div>

   
    
  

       
      </div>
  
  </md-dialog-content>
  <div class="row float-right pdright-30">
    <md-dialog-actions align="end">
      <button type="submit" class="btn-primary" md-raised-button (click)="submitOrUpdateSettings()">SUBMIT</button>
      <button md-raised-button (click)="onCloseModal()">CANCEL</button>&nbsp;
    </md-dialog-actions>
  </div>
  
  
