<div class="row justify-content-between modal-title ">
  <div class="col-md-4 col-sm-4">
    <i class="fa fa-gift"></i> {{headerValue}} </div>
  <div class="col-md-1 col-sm-1 right">
    <strong>
      <i class="fa fa-times fs-20" aria-hidden="true" (click)="onCloseModal()"></i>
    </strong>
  </div>
</div>
<md-dialog-content layout="column">
  <form class="example-form">
    <div class="container-fluid pd-15x25 brd-bottom">
      <div class="row ">
          <div class="col-md-4 col-sm-4 col-lg-4 " *ngIf = "superDealer">

          <md-select placeholder="Select Category" name="type" class="full-width left" [(ngModel)]="productDetails.categoryDetails" >
              <md-option *ngFor="let type of productCategoryList" [value]="type" >
                  {{type.category}}
                </md-option>
          </md-select>
        </div>
        <!-- <div class="col-md-4 col-sm-4 col-lg-4" *ngIf="!Details">

            <md-select placeholder="Select Currency" name="type" class="full-width left" [(ngModel)]="productDetails.currency" name="currency">
              <md-option value="USD">USD</md-option>
              <md-option value="EUR">EUR</md-option>
              <md-option value="INR">INR</md-option>
              <md-option value="SAR">SAR</md-option>
            </md-select>
          </div> -->
          <div class="col-md-4 col-sm-4 col-lg-4">
              <md-form-field class="">
                <input class="form-control" mdInput placeholder="Priority" [(ngModel)]="productDetails.Priority" [formControl]="p1FC" name="priority" required>
                <md-error *ngIf="p1FC.hasError('required')">
                  Priority is <strong>required</strong>
                </md-error>
              </md-form-field>
            </div>
        <!-- <div class="col-1 ">
          <b>OR</b>
        </div>
        <div class="col-6  ">
          <md-form-field class="">
            <input class="form-control" mdInput placeholder="New Category">
            <md-error>
                New Category is
              <strong>required</strong>
            </md-error>
          </md-form-field>
        </div> -->
      </div>
      <div class="row ">
          <div class="col-md-4 col-sm-4 col-lg-4 ">

          <md-form-field class="">
            <input class="form-control" mdInput placeholder="Product Name" [formControl]="p2FC"  [(ngModel)]="productDetails.productName" name="productName" required > 
            <md-error *ngIf="p2FC.hasError('required')"  >
              Product Name is <strong>required</strong>
            </md-error>
          
          </md-form-field>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4 ">
          <md-form-field class="">
            <input class="form-control" mdInput placeholder="Product Type" [formControl]="p3FC" [(ngModel)]="productDetails.productType" name="productType" required>
            <md-error *ngIf="p3FC.hasError('required')">
              Product Type is <strong>required</strong>
            </md-error>
           
          </md-form-field>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4">
            <md-form-field class="" required>
              <input class="form-control" mdInput placeholder="Cost"  [formControl]="p4FC" [(ngModel)]="productDetails.cost" name="cost" required>
              <md-error *ngIf="p4FC.hasError('required')">
                Product Cost is <strong>required</strong>
              </md-error>
            
            </md-form-field>
          </div>
      </div>

      <div class="row form-group">
          <div class="col-md-4 col-sm-4 col-lg-4">
              <md-form-field class="example-full-width">
                <input class="form-control" mdInput placeholder="Min Qty"  [formControl]="p5FC" [(ngModel)]="productDetails.minQty" name="minqty" required>
                <md-error *ngIf="p5FC.hasError('required')">
                  Product Quantity is <strong>required</strong>
                </md-error>
                
              </md-form-field>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4">
                <md-form-field class="">
                  <input class="form-control" mdInput placeholder="Service Charge"   [formControl]="p6FC" [(ngModel)]="productDetails.servicecharge" name="servicecharge" required>
                  <md-error *ngIf="p6FC.hasError('required')">
                    Service Charge is <strong>required</strong>
                  </md-error>
                
                </md-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-lg-4">
                  <md-form-field class="">
                    <input class="form-control" mdInput placeholder="Express delivery"  [formControl]="p7FC" [(ngModel)]="productDetails.expressdeliverycharges" name="expressdeliverycharges" required>
                    <md-error *ngIf="p7FC.hasError('required')">
                      Express Delivery Charges is <strong>required</strong>
                    </md-error>
                  
                  </md-form-field>
                </div>

            <!-- <div class="col-md-4 col-sm-4 col-lg-4">
                <md-form-field class="example-full-width">
                  <input class="form-control" mdInput placeholder="Empty Cans"  >
                  
                </md-form-field>
              </div>    
                <div class="col-md-4 col-sm-4 col-lg-4">
                  <md-form-field class="example-full-width">
                    <input class="form-control" mdInput placeholder="Stock"  >
                    
                  </md-form-field>
                </div> -->

            </div>
<div class="row">
    <div class="col-md-4 col-sm-4 col-lg-4 align-self-center">
        <div class="form-check form-check-inline">
            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="productDetails.iscanRetrunable" name="iscanRetrunable" checked>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Is Cans Returnable</span>
            </label>
          </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4 align-self-center">
        <div class="form-check form-check-inline">
              <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="productDetails.IsAuthorized" name="IsAuthorized">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">IsAuthorized</span>
              </label>
            </div>
      </div>
</div>
      <!-- <div class="row mgleftbottom-10x0">
        <b class="label-style">Week Days
          <span></span>
        </b>
      </div>
      <div class="row mgleftbottom-10x0">
        <div class="form-check form-check-inline">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Sun</span>
          </label>
        </div>
        <div class="form-check form-check-inline ">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Mon</span>
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Tue</span>
          </label>
        </div>
        <div class="form-check form-check-inline ">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Wed</span>
          </label>
        </div>
        <div class="form-check form-check-inline ">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Thu</span>
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Fri</span>
          </label>
        </div>
        <div class="form-check form-check-inline ">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Sat</span>
          </label>
        </div>
      </div> -->
    </div>
  </form>
</md-dialog-content>
<div class="row float-right pdright-30 mgbottom-20">
  <md-dialog-actions align="end">
    <p class="warning">{{message}}</p> &nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn-primary" md-raised-button  [disabled]="!p1FC.valid ||!p2FC.valid || !p3FC.valid || !p4FC.valid ||  !p5FC.valid || !p6FC.valid || !p7FC.valid "   (click)="onSubimtProducts()">SUBMIT</button>
    <button md-raised-button (click)="onCloseModal()">CANCEL</button>&nbsp;
  </md-dialog-actions>
</div>

<!-- 
[disabled]="!productPriorityFormControl.valid ||!productNameFormControl.valid || !productTypeFormControl.valid || !productCostFormControl.valid ||  !productQtyFormControl.valid || !serviceChargeFormControl.valid || !expressDeliveryFormControl.valid " -->