<div class="row justify-content-between modal-title ">
  <div class="col-md-4 col-sm-4">
    <i class="fa fa-gift"></i> Add Product </div>
  <div class="col-md-1 col-sm-1 right">
    <strong>
      <i class="fa fa-times fs-20" aria-hidden="true"></i>
    </strong>
  </div>
</div>
<md-dialog-content layout="column">
  <form class="example-form">
    <div class="container-fluid pd-15x25 brd-bottom">
      <div class="row brd-bottom">
        <div class="col-5 ">

          <md-select placeholder="Select Category" name="type" class="full-width left">
            <md-option value="name">Customer Name</md-option>
          </md-select>
        </div>
        <div class="col-1 ">
          <b>OR</b>
        </div>
        <div class="col-6  ">
          <md-form-field class="">
            <input class="form-control" mdInput placeholder="New Category">
            <md-error>
                New Category is
              <strong>required</strong>
            </md-error>
          </md-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 ">

          <md-form-field class="">
            <input class="form-control" mdInput placeholder="Product Name">
            <md-error>
              Product Name is
              <strong>required</strong>
            </md-error>
          </md-form-field>
        </div>
        <div class="col-md-6 col-sm-6 ">
          <md-form-field class="">
            <input class="form-control" mdInput placeholder="Product Type">
            <md-error>
              Product Type Number is
              <strong>required</strong>
            </md-error>
          </md-form-field>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-4 col-sm-4 col-lg-4">

          <md-select placeholder="Select Currency" name="type" class="full-width left">
            <md-option value="name">Select Currency Type</md-option>
          </md-select>
        </div>

        <div class="col-md-4 col-sm-4 col-lg-4">
          <md-form-field class="">
            <input class="form-control" mdInput placeholder="Cost">
            <md-error>
                Cost is
              <strong>required</strong>
            </md-error>
          </md-form-field>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4 align-self-center">
            <div class="form-check form-check-inline">
                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Is Cans Returnable</span>
                </label>
              </div>
        </div>
      </div>
      <div class="row ">
          <div class="col-md-4 col-sm-4 col-lg-4">
              <md-form-field class="">
                <input class="form-control" mdInput placeholder="Min Qty">
                <md-error>
                    Min Qty is
                  <strong>required</strong>
                </md-error>
              </md-form-field>
            </div>

          <div class="col-md-4 col-sm-4 col-lg-4">
            <md-form-field class="">
              <input class="form-control" mdInput placeholder="Priority">
              <md-error>
                  Priority is
                <strong>required</strong>
              </md-error>
            </md-form-field>
          </div>
          <div class="col-md-4 col-sm-4 col-lg-4 align-self-center">
              <div class="form-check form-check-inline">
                  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">IsAuthorized</span>
                  </label>
                </div>
          </div>
        </div>

      <!-- <div class="row mgleftbottom-10x0">
        <b class="label-style">Week Days
          <span></span>
        </b>
      </div>
      <div class="row mgleftbottom-10x0">
        <div class="form-check form-check-inline">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Sun</span>
          </label>
        </div>
        <div class="form-check form-check-inline ">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Mon</span>
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Tue</span>
          </label>
        </div>
        <div class="form-check form-check-inline ">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Wed</span>
          </label>
        </div>
        <div class="form-check form-check-inline ">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Thu</span>
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Fri</span>
          </label>
        </div>
        <div class="form-check form-check-inline ">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Sat</span>
          </label>
        </div>
      </div> -->
    </div>
  </form>
</md-dialog-content>
<div class="row float-right pdright-30 mgbottom-20">
  <md-dialog-actions align="end">
    <button type="submit" class="btn-primary" md-raised-button>SUBMIT</button>
    <button md-raised-button>CANCEL</button>&nbsp;
  </md-dialog-actions>
</div>