.scroll{
    overflow-x: hidden;
    height: 300px;
    overflow-y: auto;
}
.warning{
    background-color:orangered;
    color:white;
}
.noData{
    color:orangered;
    text-align: center;
}
.table{
    margin-bottom: 0px !important;
}
.fs-14{
    font-size: 14px !important;
}