
<div class="row justify-content-between modal-title ">
    <div class="col-md-7  col-sm-7  col-lg-7 oneline">
      <i class="fa fa-gift" ></i> View Stock Points
    </div>
    <div class="col-md-1  col-sm-1  col-lg-1 right">
      <!-- <strong class="fa fa-plus fa-2 plus-style" (click)="createStockPoint(Details)"></strong> -->
      <strong (click)="onCloseCancel()"><i class="fa fa-times fs-20" aria-hidden="true"></i>
            </strong>
    </div>
  </div>
  <md-dialog-content layout="column" class="scroll">
    <h4 class="noData">{{noDataError}}</h4>
    <div class="col-md-12 text-right" (click)="createStockPoint(Details)">
        <span><b>Add stock point</b></span>
    <strong class="fa fa-plus fa-2 plus-style .navbar-right" ></strong>
    </div>


    <div id="" class="row pd-15x10 mg-0">

    <table class="table table-hover table-striped" style="table-layout:fixed">
        <thead>
          <tr>
              
            <th width="25%">Stockpoint</th>
 
            <th width="25%">Lat/lng</th>

            <th class="" width = "25%">Address</th>
           
            <th width="25%">Action</th>
           
         
          </tr>
        </thead>

        <tbody>
            <tr class="container-fluid pd-15x25 brd-bottom " *ngFor="let stock of stockpoints; let i= index" >
          
               
              



                
                  <td class="left" width="25%">
                      <span>{{i+1}}</span>
                    </td>
                 
                      <td class="left" width="25%">
                          <span>Lat {{stock.latitude}}<br>Lng {{stock.longitude}}</span>
                        </td>


                        <td class="left" width = "25%">
                          <span >Address: {{stock.address}}</span>
                          <span *ngIf="stock.address == '' || stock.address === null"> - </span>
                        </td>
                          <td class="left" width="25%">
   
                          <i class="fa fa-pencil-square-o btn-link" aria-hidden="true" title="Edit Supplier"  (click)="updateStockPoint(stock)"></i>
                          &nbsp; &nbsp;&nbsp;  <i class="fa fa-trash danger" aria-hidden="true" title="Delete Supplier" (click)="deleteStockPoint(stock)"></i>
                        </td>
</tr>
</tbody>
</table>
</div>










  </md-dialog-content>

  <div class="row float-right pdright-30 mgbottom-20">
    <md-dialog-actions>
      <!-- <button class="fa fa-plus fa-2 plus-style" (click)="createStockPoint()"></button> -->
    </md-dialog-actions>
  </div>