<!-- <div class="row">
<h2 md-dialog-title>Distributors</h2><br>

</div> -->
<div class="row justify-content-between modal-title ">
    <div class="col-md-4  col-sm-4  col-lg-4">
      <i class="fa fa-user-circle-o"></i> Customer View      
    </div>
    <div class="col-md-1  col-sm-1  col-lg-1 right">
      <strong>
        <i class="fa fa-times fs-20" aria-hidden="true" (click)="onCloseCancel()"></i>
      </strong>
    </div>
  </div>
  
  <md-dialog-content layout="column">
    <div class="container-fluid pd-15x25 brd-bottom">
        <div class="details-style">
      <div class="row ">
        <div class="col align-self-center" >
            <h5>
                <small>Name</small><br>
                   <b class=" capital pdleft-5">{{this.orderDetail.orderby_firstname}}{{this.orderDetail.orderby_lastname}}</b>
                   <b class="capital pdleft-5" *ngIf="this.orderDetail.type == 'customersPage'" >{{orderDetail.data.firstname}}</b>
                  </h5>
            </div>
            <div class="col align-self-center">
                <h5><small>Mobile</small><br>
                <b class="pdleft-5">{{this.orderDetail.orderby_mobileno}}</b>
                <b class="pdleft-5" *ngIf="this.orderDetail.type == 'customersPage'">{{this.orderDetail.data.mobileno}}</b>
                </h5>
            </div>
            <!-- <div class="col center">
                <span class="gray9"> <i class="fa  fa-map-marker"></i>  Area Name : </span>
            <label class="ng-binding">{{this.orderDetail.orderby_areaname}}</label>
            </div> -->

            <div class="col-4 align-self-center">
              <h5>
                  <small>Address</small><br>
              <b class="pdleft-5 onhovertext300" >{{this.orderDetail.user_address}}</b>
              <b class="pdleft-5 onhovertext300" *ngIf="this.orderDetail.type == 'customersPage'">{{this.orderDetail.data.address}}</b>
            </h5>
            </div>



            <div class="col-3 ">
              <md-form-field class="example-full-width">
                <input mdInput placeholder="Distributor" aria-label="State" [mdAutocomplete]="auto" [formControl]="DistributorCtrl">
                <md-autocomplete #auto="mdAutocomplete">
                  <md-option *ngFor="let dist of filteredDistributors | async" [value]="dist.fullName">
                    <span>{{ dist.fullName }}</span>
                  </md-option>
                </md-autocomplete>
              </md-form-field>
            </div>
            
            <div class="col-1 align-self-center" >
            <button type="submit" md-raised-button (click)="openProductAssingDialog()" class="btn-primary">ASSIGN</button>
            </div>
            </div>


            
            </div>
      <div class="">
    
        <table class="table table-hover table-striped table-fixedheader">
          <thead>
            <tr class="wd-99pc">
              <th width="8%">Order Id</th>
              <th width="10%">Product Name</th>
              <!-- <th width="7%">Cart Id</th> -->
              <th width="14%">Address</th>
              <th width="8%" title="Advance Amount">Ord Qty</th>
              <th width="8%" title="Order Amount">Ord Amt</th>
              <th width="8%" title="Received Amount">Recv Amt</th>
              <th width="8%" title="Return Quantity">Ret Qty</th>
              <th width="10%">Status</th>
              <!-- <th width="10%">Payment Mode</th> -->
              <th width="14%" title="Delivery Date">Del Date</th>
              <th width="12%" title="Delivered By">Del By</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of customerOrderDetails">
              <td width="8%" class="left" scope="row">{{customer.order_id}}</td>
              <td width="10%" class=" capital">{{customer.brandname}} {{customer.prod_type}}</td>
              <!-- <td width="7%" class=" capital">{{customer.cart_id}}</td> -->
              <td width="14%" class=" capital"><span class="onhovertext">{{customer.orderby_address}}</span></td>
              <td width="8%" class=" capital">{{customer.quantity}}</td>            
              <td width="8%" class=" capital">{{customer.bill_amount}}</td>
              <td width="8%" class=" capital">{{customer.receivedamount}}</td>
              <td width="8%" class=" capital">{{customer.return_cans}}</td>
              <td width="10%" class=" capital">{{customer.status}}</td>
            
              <!-- <td width="10%" class=" capital">{{customer.paymenttype}}</td> -->
              <td width="14%" class=" capital">{{customer.order_delivereddate | utcDate}}</td>
              <td width="12%" class=" capital">{{customer.dealerdetails.firstname}} {{customer.dealerdetails.lastname}}</td>

            </tr>
          </tbody>
          <tfoot>
              <tr>
                <td colspan="5"> 
              
                   </td>
              </tr>
            </tfoot>
        </table>
        <h4 class="warning  capitalize center" *ngIf="noDataError">
            {{noDataError}}
            </h4>
      </div>
    </div>
  </md-dialog-content>
  <div class="row float-right pdright-30 mgbottom-20">
    <md-dialog-actions align="end">
      <button md-raised-button (click)="onCloseCancel()">CANCEL</button>&nbsp;
    </md-dialog-actions>
  </div>