<!-- <div class="row">
<h2 md-dialog-title>Distributors</h2><br>

</div> -->
<div class="row justify-content-between modal-title ">
  <div class="col-md-4  col-sm-4  col-lg-4">
    <i class="fa fa-user-circle-o"></i> Customer Orders
  </div>
  <div class="col-md-1  col-sm-1  col-lg-1 right">
    <strong>
      <i class="fa fa-times fs-20" aria-hidden="true" (click)="onCloseCancel()"></i>
    </strong>
  </div>
</div>

<md-dialog-content layout="column">
  <div class="container-fluid pd-15x25 brd-bottom">
    <div class="details-style">
      <div class="d-flex flex-row">
        <div class="p-2 align-self-center">
          <h6>
            <small>Name</small>
            <br>
            <b class="capital" title="{{this.orderDetail.orderby_firstname}} {{this.orderDetail.orderby_lastname}}">{{this.orderDetail.orderby_firstname}} {{this.orderDetail.orderby_lastname}}</b>
            <b class="capital" *ngIf="this.orderDetail.type == 'customersPage'" title="{{orderDetail.data.firstname}}">{{orderDetail.data.firstname}}</b>
          </h6>
        </div>
        <div class="p-2 align-self-center">
          <h6>
            <small>Mobile</small>
            <br>
            <b class="pdleft-5">{{this.orderDetail.orderby_mobileno}}</b>
            <b class="pdleft-5" *ngIf="this.orderDetail.type == 'customersPage'">{{this.orderDetail.data.mobileno}}</b>
          </h6>
        </div>
        <!-- <div class="col center">
                <span class="gray9"> <i class="fa  fa-map-marker"></i>  Area Name : </span>
            <label class="ng-binding">{{this.orderDetail.orderby_areaname}}</label>
            </div> -->

        <div class="p-2 align-self-center">
          <h6>
            <small>Address</small>
            <br>
            <!-- <b class="pdleft-5 onhovertooltip-300" title="{{this.orderDetail.user_address}}" >{{this.orderDetail.user_address}}</b> -->
            <b class="pdleft-5 onhovertooltip-550" *ngIf="this.orderDetail.type != 'customersPage'" title="{{this.orderDetail.orderby_address}}">{{this.orderDetail.orderby_address}}</b>
            <b class="pdleft-5 onhovertooltip-550" title="{{this.orderDetail.data.address}}" *ngIf="this.orderDetail.type == 'customersPage'">{{this.orderDetail.data.address}}</b>
          </h6>
        </div>
        <div class="p-2" style="margin-left: 5px;">
          <md-form-field class="example-full-width">
            <input mdInput placeholder="Distributor" aria-label="State" [mdAutocomplete]="auto" [formControl]="DistributorCtrl">
            <md-autocomplete #auto="mdAutocomplete">
              <md-option *ngFor="let dist of filteredDistributors | async" [value]="dist.fullName">
                <span>{{ dist.fullName }}</span>
              </md-option>
            </md-autocomplete>
          </md-form-field>
        </div>

        <div class="p-2 align-self-center">
          <button type="submit" md-raised-button (click)="openProductAssingDialog()" class="btn-primary">ASSIGN</button>
          <button type="submit" md-raised-button (click)="editCustomer(orderDetail)" class="btn-primary">EDIT</button>

        </div>
      </div>



    </div>
    <div class="customerList-height">

      <table class="table table-hover table-striped table-fixedheader">
        <thead>
          <tr class="wd-99pc">
            <th width="6%">Id</th>
            <th class="" width="9%">Category</th>
            <th width="10%">Product Name</th>
            <th width="7%">Dc Challn</th>
            <!-- <th width="7%">Cart Id</th> -->
            <th width="4%" title="Order Quantity">Qty</th>
            <th width="6%" title="Return Quantity">Ret Qty</th>
            <th width="6%" title="service charge">S Chgs</th>
            <th width="5%" title="Exp Del Chgs">Exp Chgs</th>
            <th width="6%" title="Order Amount">Amt</th>
            <th width="7%" title="Received Amount">Rec Amt</th>
            <th width="8%">Status</th>
            <th width="10%" title="Delivery Date">Delv Date</th>
            <th width="10%" title="Delivered By Last Handled Distributor">Last Handled..</th>
            <th class="" width="6%">Action</th>

          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let customer of customerOrderDetails">
            <td width="6%" class="left" scope="row">#{{customer.order_id}}</td>
            <td width="9%" class="left" scope="row">
              <span class="onhovertooltip-100" title="{{customer.category}}">{{customer.category}}</span>
            </td>

            <td width="10%" class=" capital">
              <span class="onhovertooltip-100" title="{{customer.brandname}} {{customer.prod_type}}">{{customer.brandname}} {{customer.prod_type}}</span>
            </td>
            <!-- <td width="7%" class=" capital">{{customer.cart_id}}</td> -->
            <td width="7%" class="left" scope="row">
              <span class="onhovertooltip-100" title="{{customer.dcdate | utcDate}}">{{customer.dc_challan}}</span>
            </td>
            <td width="4%" class=" capital">{{customer.quantity}}</td>
            <td width="6%" class=" capital">{{customer.return_cans}}</td>

            <td width="6%" class=" capital">{{customer.servicecharges}}</td>
            <td width="5%" class=" capital">{{customer.expressdeliverycharges}}</td>

            <td width="6%" class=" capital">{{customer.bill_amount}}</td>
            <td width="7%" class=" capital">{{customer.receivedamount}}</td>
            <td width="8%" class=" capital">{{customer.status}}</td>
            <!-- <td width="10%" class=" capital">{{customer.paymenttype}}</td> -->
            <td width="10%" class=" capital">{{customer.order_delivereddate | utcDate}}</td>
            <td width="10%" class=" capital">
              <span *ngIf="customer.status !== 'ordered' && customer.dealerdetails ">
                <span class="onhovertooltip-100" title="{{customer.dealerdetails.firstname}} {{customer.dealerdetails.lastname}}">{{customer.dealerdetails.firstname}} {{customer.dealerdetails.lastname}}</span>
              </span>
              <span *ngIf="customer.status == 'ordered' || !customer.dealerdetails"> - </span>
            </td>

            <td class="logo-color" width="6%" (click)="viewOrderDetails(customer)">
              <span class="btn btn-outline-primary btn-sm">Select</span></td>
          </tr>
        </tbody>
      </table>

      <h4 class="center">
        <a href="javascript:void(0);" (click)=getOrdersByPaging(); *ngIf="OrdersClickMore">
          <i class="fa fa-cloud-upload" aria-hidden="true"></i> Click for more data</a>
      </h4>
      <h4 class="error center" *ngIf="!OrdersClickMore">
        <span class="fa fa-frown-o"></span> Record not available
      </h4>
      <!-- <h4 class="warning  capitalize center" *ngIf="noDataError">
        {{noDataError}}
      </h4> -->
    </div>
  </div>
</md-dialog-content>
<div class="row float-right pdright-30 mgbottom-20">
  <md-dialog-actions align="end">
    <button md-raised-button (click)="onCloseCancel()">CANCEL</button>&nbsp;
  </md-dialog-actions>
</div>
<br>