<div class=" dist-style minheight-500">
  <div class=" row justify-content-between distIcon-style left">
    <div class="col-sm-2 col-md-2 col-lg-2 ">
      <h4>
        <i class="fa fa-paper-plane"></i> Templates</h4>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1 align-self-center right">
      <a class="cursor logo-color " title="Add Distributor">
        <i class="fa fa-plus fa-2 plus-style" aria-hidden="true" (click)="addMessages()"></i>
      </a>

    </div>
  </div>
  <div id="" class="row  mg-0">
    <div class="pd-15">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th width="18%">Name</th>
            <th width="10%">Audience</th>
            <th width="7%">Order Status</th>
            <th width="7%">Type</th>
            <th width="10%">Message Type</th>
            <th class="" width="7%">Action</th>

          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let temp of AllTemplates">
            <td class="left capitalize" width="18%">
              <span class="onhovertooltip-500" title="{{temp.template_name}}">{{temp.template_name}}</span>
            </td>

            <td class="left capitalize" width="10%">{{temp.type}}
            </td>
            <td class="left numbers" width="7%">{{temp.orderstatus}}
           </td>

            <td class="left capitalize" width="7%">
              {{temp.template_type}} </td>

            <td class="capitalize" width="10%">{{temp.messagetype}}</td>

            <td class="left" width="7%">
              <i class="fa fa-edit logo-color pad-fa fs-20" aria-hidden="true" title="Edit" (click)="editTemplate(temp)"></i>
              <i class="fa fa-trash danger fs-20" aria-hidden="true" title="Delete" (click)="deleteTemplate(temp)"></i>
              <!-- <i class="fa fa-file-text-o btn-link" aria-hidden="true" title="History"></i> -->

            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>