<div class=" dist-style minheight-500">
  <div class=" row justify-content-between distIcon-style left">
    <div class="col-sm-2 col-md-2 col-lg-2 ">
      <h4>
        <i class="fa fa-sitemap"></i> Templates</h4>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1 align-self-center right">
      <a class="cursor logo-color " title="Add Distributor">
        <i class="fa fa-plus fa-2 plus-style"  aria-hidden="true" (click)="addMessages()"></i>
      </a>
 
    </div>
  </div>
  <div>


  </div>
</div>