<div class=" dist-style minheight-500">
  <div class=" row justify-content-between distIcon-style left">
    <div class="col-sm-2 col-md-2 col-lg-2 ">
      <h4>
        <i class="fa fa-paper-plane"></i> Templates</h4>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1 align-self-center right">
        <a class="cursor logo-color " title="Add Distributor">
          <i class="fa fa-plus fa-2 plus-style"  aria-hidden="true" (click)="addMessages()"></i>
        </a>
   
      </div>


    
      
  
  
  
  
    </div>
    <div id="" class="row  mg-0">
      <div class="pd-15">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th width="6%">Type</th>
              <th width="10%">Customer/Distributor</th>
              <th width="7%">Order Status</th>
              <th width="10%">Name</th>
              <th width="10%" >Action</th>
              <th class="" width ="10%">Message type</th>
              
           
            </tr>
          </thead>
          <tbody>
      
            <tr *ngFor="let temp of AllTemplates">
              <td class="left capitalize" width="6%"> 
                {{temp.template_type}}
                  
              </td>
             
              <td class="left capitalize" width="10%">{{temp.type}}
                 </td>

               
              
             <td class="left numbers" width="7%">{{temp.orderstatus}}
             
              </td>
              
              <td class="left capitalize" width="10%" >{{temp.template_name}}</td>   
              <td class="" width ="10%">{{temp.messagetype}}</td>         
          
              <td class="left" width="10%">
                  <i class="fa fa-edit logo-color pad-fa" aria-hidden="true" title="Edit" (click)="editTemplate(temp)"></i>
                   <i class="fa fa-trash danger pad-fa" aria-hidden="true" title="Delete"></i>
                <i class="fa fa-file-text-o btn-link" aria-hidden="true" title="History"></i>
                 
              </td>
              
             
              
             
            </tr>
         
          </tbody>
        </table>
       
      
      </div>
    </div>

   </div>