<div class="dist-style">
  <div class=" row justify-content-between distIcon-style">
    <div class="col-md-2  col-sm-2  col-lg-2">
      <h4>
        <i class="fa fa-file-text-o"></i> Order</h4>
    </div>
    <div class="col-md-2  col-sm-2  col-lg-2">

    </div>
  </div>
  <div id="" class="row pd-15x10 mg-0">
    <div class="col-sm-3 col-md-3 col-lg-3 filter-style">
      <div class="filtercol-style height-500">
        <h6 class="left">
          <b>Filter by</b>
        </h6>
        <div class="row ">
          <div class="col-sm-6  col-md-6  col-lg-6">
            <md-form-field class="example-full-width">
              <input class="form-control" mdInput placeholder="From Date" name="firstName">

            </md-form-field>
          </div>
          <div class="col-sm-6  col-md-6  col-lg-6">
            <md-form-field class="example-full-width">
              <input class="form-control" mdInput placeholder="From Date">
            </md-form-field>
          </div>
        </div>
        <div class=" ">
          <!-- <b class="float-left">Filter by Distributor</b> -->
          <md-form-field class="example-full-width">
            <input class="form-control" mdInput placeholder="Enter the distributor name">
            <md-error>
              Distributor Name is
              <strong>required</strong>
            </md-error>
          </md-form-field>
        </div>
        <div class=" ">
          <!-- <b class="float-left">Filter by Supplier</b> -->
          <md-form-field class="example-full-width">
            <input class="form-control" mdInput placeholder="Enter the supplier name">
            <md-error>
              Supplier Name is
              <strong>required</strong>
            </md-error>
          </md-form-field>
        </div>
        <div class=" ">
          <!-- <b class="float-left">Filter by Customer</b> -->
          <md-form-field class="example-full-width">
            <input class="form-control" mdInput placeholder="Enter the customer name">
            <md-error>
              Customer Name is
              <strong>required</strong>
            </md-error>
          </md-form-field>
        </div>
        <div class="form-group ">

          <!-- <b class="float-left">Filter by Status</b> -->
          <md-select placeholder="Order Type" class="wd-100pc left">
            <md-option>All Orders
            </md-option>
            <md-option>Unassinged Orders
            </md-option>
            <md-option>Pending Orders
            </md-option>
            <md-option>Delivered Orders
            </md-option>
          </md-select>
        </div>
        <br>
        <div class="input-group pd-10  ">
          <button md-raised-button color="primary" class="mgright-5">
            <i class="fa fa-search" aria-hidden="true"></i> Search
          </button>
          <button md-raised-button color="primary">
            <i class="fa fa-filter" aria-hidden="true"></i> Clear Filter
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">
      <!-- <ul class="nav nav-pills col-sm-offset-6  col-md-offset-4  col-lg-offset-4 pd-20">
              <li class="nav-item"></li>
              <li class="nav-item" ><a class="nav-link" href="javascript:void(0)" >ALL ORDERS</a></li>
              <li class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></li>
              <li class="col-xs-3 col-sm-3 col-md-3 col-lg-3 align-right nohover "><a href="javascript:void(0)" class="fa-20" ><b><i class="fa fa-refresh" aria-hidden="true">   </i></b> Refresh </a> </li>
            </ul> -->
      <nav class="nav nav-pills flex-column flex-sm-row row mgbottom-20">
        <a class="flex-sm-fill text-sm-center nav-link col-xs-4 col-sm-4 col-md-4 col-lg-4" href="javascript:void(0)"></a>
        <a class="flex-sm-fill text-sm-center nav-link " [ngClass]="{'active': tabPanelView === 'forward'}" href="javascript:void(0)"
          (click)="showTabPanel('forward')">FORWARD ORDERS</a>
        <a class="flex-sm-fill text-sm-center nav-link  " [ngClass]="{'active': tabPanelView === 'allorder'}" href="javascript:void(0)"
          (click)="showTabPanel('allorder')">ALL ORDERS</a>
        <a class="flex-sm-fill text-sm-center nav-link col-xs-2 col-sm-2 col-md-2 col-lg-2" href="javascript:void(0)"></a>
        <a class="flex-sm-fill text-sm-center nav-link col-xs-2 col-sm-2 col-md-2 col-lg-2" href="javascript:void(0)" (click)="refreshOrders()">
          <i class="fa fa-refresh  " aria-hidden="true" ></i> REFRESH</a>

      </nav>
      <div *ngIf="tabPanelView === 'forward'">
        <table class="table table-hover table-striped">
          <tbody *ngFor="let forward of forwardOrders; let i = index" [attr.data-index]="i">
            <tr class="border-topbottom">
              <td width="35%">
                <div class="row ">
                  <div class="col-sm-6  col-md-6  col-lg-6 left">
                    <label class="td-label">Order Id :
                      <b> #{{forward.order_id}}</b>
                    </label>
                  </div>
                  <div class="col-sm-6  col-md-6  col-lg-6 right" (click)='editQuanity(forward)'>
                    <i class="fa fa-edit logo-color "></i>
                  </div>
                </div>
              </td>
              <td width="32%">
                <div class=" row ">
                  <div class="col-sm-10  col-md-10  col-lg-10 left onhovertext">
                    <label class="td-label">Customer Name :
                      <b class="capitalize ">{{forward.orderby_firstname}}</b>
                    </label>
                    <br>
                  </div>
                  <div class="col-sm-2  col-md-2  col-lg-2 " (click)='showEditCustomer()'>
                    <i class="fa fa-edit logo-color "></i>

                  </div>
                </div>
              </td>
              <td width="32%">
                <div class="row ">
                  <div class="col-sm-6  col-md-6  col-lg-6 left">
                    <label class="td-label">Supplier :
                      <b class="capitalize"  *ngIf="forward.supplierdetails">{{forward.supplierdetails.firstname}} {{forward.supplierdetails.lastname}}</b>
                    </label>
                    <br>
                  </div>
                  <div class="col-sm-6  col-md-6  col-lg-6 right">
                    <label class="td-label capitalize" [ngClass]="forward.StatusColor"> {{forward.OrderModifiedStatus}}</label>
                    <br>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td width="35%" class="brd-right">
                <div class="">
                  <div class="form-group row ">
                    <div class="col-sm-8  col-md-8  col-lg-8 left">
                      <span class="td-label">
                        Date Placed </span>
                      <br>
                      <b>{{forward.ordered_date | utcDate }}</b>
                    </div>
                    <div class="col-sm-4  col-md-4  col-lg-4 right">
                      <span class="td-label">Amount </span>
                      <br>
                      <b class="pdright-5">Rs.{{forward.bill_amount}}</b>
                    </div>
                  </div>
                  <div class="form-group row ">
                    <div class="col-sm-6  col-md-6  col-lg-6 left">
                      <span class="td-label">Brand Name</span>
                      <br>
                      <b class="capitalize">{{forward.brandname}} </b>
                    </div>
                    <div class="col-sm-6  col-md-6  col-lg-6 right">
                      <span class="td-label">Quantity </span>
                      <br>
                      <b class="pdright-5">{{forward.quantity}}</b>
                    </div>
                  </div>

                  <div class="row ">
                    <div class="col-sm-6  col-md-6  col-lg-6 left">
                      <span class="td-label">Product Type </span>
                      <br>
                      <b>{{forward.prod_type}}</b>
                    </div>
                    <div class="col-sm-6  col-md-6  col-lg-6 right">
                      <span class="td-label">Payment Type </span>
                      <br>
                      <b class="pdright-5">{{forward.paymenttype}}</b>
                    </div>
                  </div>

                </div>
              </td>
              <td width="32%" class="brd-right">
                <div class="">

                  <div class="form-group row ">
                    <div class="col-sm-1  col-md-1  col-lg-1">
                      <b>
                        <i class="fa fa-user pdtop-5" aria-hidden="true"></i>
                      </b>
                    </div>
                    <div class="col-sm-10  col-md-10  col-lg-10 left">
                      <b class="capitalize">{{forward.orderby_firstname}} {{forward.orderby_lastname}}</b>
                    </div>
                  </div>
                  <div class="form-group row ">
                    <div class="col-sm-1  col-md-1  col-lg-1">
                      <b>
                        <i class="fa fa-mobile pdtop-5" aria-hidden="true"></i>
                      </b>

                    </div>
                    <div class="col-sm-10  col-md-10  col-lg-10 left">
                      <b>{{forward.orderby_mobileno}}</b>
                    </div>
                  </div>
                  <div class="form-group row ">
                    <div class="col-sm-1  col-md-1  col-lg-1 ">
                      <b>
                        <i class="fa fa-map-marker pdtop-5" aria-hidden="true"></i>
                      </b>

                    </div>
                    <div class="col-sm-10  col-md-10  col-lg-10 left">
                      <b class="capitalize">{{forward.orderby_areaname}}</b>
                    </div>
                  </div>
                  <div class="form-group row ">
                    <div class="col-sm-5 col-md-5  col-lg-5">
                      <span>Delivery Time :</span>
                    </div>
                    <div class="col-sm-7  col-md-7  col-lg-7 row">
                      <span class="warning">{{forward.delivery_exceptedtime}}</span>
                    </div>
                  </div>
                </div>

              </td>
              <td width="32%">
                <div class="">
                  <div class=" row ">
                    <div class="col-sm-5  col-md-5  col-lg-5 left">
                      <label class="td-label">
                        <i class="fa fa-mobile " aria-hidden="true"> </i> Mobile</label>
                     
                    </div>
                    <div class="col-sm-7  col-md-7  col-lg-7 left">
                        <span *ngIf="forward.supplierdetails">{{forward.supplierdetails.mobileno}}</span>
                      <b></b>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-sm-5  col-md-5  col-lg-5 left">
                      <label class="td-label">
                        <i class="fa fa-plus-circle" aria-hidden="true"> </i> Assigned On</label>
                    </div>
                    <div class="col-sm-7  col-md-7  col-lg-7 left">
                      <span class="warning">{{forward.order_assigneddate | utcDate }}</span>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-sm-5  col-md-5  col-lg-5 left">
                      <label class="td-label">
                        <i class="fa fa-check-square-o" aria-hidden="true"> </i> Delivered On </label>
                    </div>
                    <div class="col-sm-6  col-md-6  col-lg-6 left">
                      <span class="success" *ngIf="forward.OrderModifiedStatus == 'Delivered' || forward.OrderModifiedStatus == 'Rejected'">{{forward.order_delivereddate | utcDate }}</span>

                    </div>
                  </div>
                  <div class="  row ">
                    <div class="col-sm-5  col-md-5  col-lg-5 left">
                      <label class="td-label">
                        <i class="fa fa-reply " aria-hidden="true"> </i>Forwarded To</label>
                    </div>
                    <div class="col-sm-7  col-md-7  col-lg-7 left onhovertext">
                      <b class="capitalize">{{forward.distributor.firstname +" "+forward.distributor.lastname }}</b>
                    </div>
                  </div>
                  <div class="float-right">

                    <button class="btn btn-link btn-sm" (click)='showCoverageDetails(forward)'>
                      <i class="fa fa-map-marker fa-2" aria-hidden="true"></i> Map</button>
                    <button class="btn btn-link btn-sm" (click)='showOrderDetails(forward)'>
                      <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> View More</button>

                  </div>
                </div>
              </td>

            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td>
                <h4 class="warning  capitalize">
                  <a href="javascript:void(0);" (click)=getForwardOrderDetails(false); *ngIf="forwardClickMore">
                    <i class="fa fa-upload" aria-hidden="true"></i> click for more data</a>
                </h4>
                <h4 *ngIf="!forwardClickMore" class="warning">Record Not Available</h4>
              </td>
            </tr>
          </tfoot>

        </table>
      </div>
      <div *ngIf="tabPanelView === 'allorder'">
        <table class="table table-hover table-striped">
          <tbody *ngFor="let allorder of allOrders; let i = index" [attr.data-index]="i">
            <tr class="border-topbottom">
              <td width="35%">
                <div class="row ">
                  <div class="col-sm-6  col-md-6  col-lg-6 left">
                    <label class="td-label">Order Id :
                      <b>#{{allorder.order_id}}</b>
                    </label>
                    <br>
                  </div>
                  <div class="col-sm-6  col-md-6  col-lg-6 right" (click)='editQuanity(allorder)'>
                    <i class="fa fa-edit logo-color "></i>
                  </div>
                </div>
              </td>
              <td width="32%">
                <div class=" row ">
                  <div class="col-sm-10  col-md-10  col-lg-10 left onhovertext">
                    <label class="td-label">Customer Name :
                      <b class="capitalize ">{{allorder.orderby_firstname}}</b>
                    </label>
                    <br>
                  </div>
                  <div class="col-sm-2  col-md-2  col-lg-2 " (click)='showEditCustomer()'>
                    <i class="fa fa-edit logo-color "></i>

                  </div>
                </div>
              </td>
              <td width="32%">
                <div class="row ">
                  <div class="col-sm-6  col-md-6  col-lg-6 left">
                    <label class="td-label">Supplier:
                      <b *ngIf="allorder.supplierdetails"> {{allorder.supplierdetails.firstname}} {{allorder.supplierdetails.lastname}}</b>
                    </label>
                    <br>
                  </div>
                  <div class="col-sm-6  col-md-6  col-lg-6 right">
                    <label class="td-label capitalize"[ngClass]="allorder.StatusColor">{{allorder.OrderModifiedStatus}}</label>
                    <br>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td width="35%" class="brd-right">
                <div class="">
                  <div class="form-group row ">
                    <div class="col-sm-8  col-md-8  col-lg-8 left">
                      <span class="td-label">
                        Date Placed </span>
                      <br>
                      <b>{{allorder.ordered_date | utcDate}}</b>
                    </div>
                    <div class="col-sm-4  col-md-4  col-lg-4 right">
                      <span class="td-label">Amount </span>
                      <br>
                      <b class="pdright-5">Rs.{{allorder.bill_amount}}</b>
                    </div>
                  </div>
                  <div class="form-group row ">
                    <div class="col-sm-6  col-md-6  col-lg-6 left">
                      <span class="td-label">Brand Name </span>
                      <br>
                      <b class="capitalize">{{allorder.brandname}} </b>
                    </div>
                    <div class="col-sm-6  col-md-6  col-lg-6 right">
                      <span class="td-label">Quantity </span>
                      <br>
                      <b class="pdright-5">{{allorder.quantity}}</b>
                    </div>
                  </div>

                  <div class="row ">
                    <div class="col-sm-6  col-md-6  col-lg-6 left">
                      <span class="td-label">Product Type </span>
                      <br>
                      <b> {{allorder.prod_type}}</b>
                    </div>
                    <div class="col-sm-6  col-md-6  col-lg-6 right">
                      <span class="td-label">Payment Type </span>
                      <br>
                      <b class="pdright-5">{{allorder.paymenttype}}</b>
                    </div>
                  </div>

                </div>
              </td>
              <td width="32%" class="brd-right">
                <div class="">

                  <div class="form-group row ">
                    <div class="col-sm-1  col-md-1  col-lg-1">
                      <b>
                        <i class="fa fa-user pdtop-5" aria-hidden="true"></i>
                      </b>
                    </div>
                    <div class="col-sm-10  col-md-10  col-lg-10 left">
                      <b class="capitalize">{{allorder.orderby_firstname}}</b>
                    </div>
                  </div>
                  <div class="form-group row ">
                    <div class="col-sm-1  col-md-1  col-lg-1">
                      <b>
                        <i class="fa fa-mobile pdtop-5" aria-hidden="true"></i>
                      </b>

                    </div>
                    <div class="col-sm-10  col-md-10  col-lg-10 left">
                      <b>{{allorder.orderby_mobileno}}</b>
                    </div>
                  </div>
                  <div class="form-group row ">
                    <div class="col-sm-1  col-md-1  col-lg-1">
                      <b>
                        <i class="fa fa-map-marker pdtop-5" aria-hidden="true"></i>
                      </b>

                    </div>
                    <div class="col-sm-10  col-md-10  col-lg-10 left">
                      <b class="capitalize">{{allorder.orderby_areaname}}</b>
                    </div>
                  </div>
                  <div class=" row ">
                    <div class="col-sm-5  col-md-5  col-lg-5">
                      <label>Delivery Time :</label>
                    </div>
                    <div class="col-sm-7  col-md-7  col-lg-7 row">
                      <label class="left warning">{{allorder.delivery_exceptedtime}}</label>
                    </div>
                  </div>
                </div>

              </td>
              <td width="32%">
                <div class="">
                  <div class=" mgbottom-10 row ">
                    <div class="col-sm-5  col-md-5  col-lg-5 left">
                      <label class="td-label">
                        <i class="fa fa-mobile " aria-hidden="true"> </i> Mobile </label>
                    </div>
                    <div class="col-sm-7  col-md-7  col-lg-7 left">
                      <span *ngIf="allorder.supplierdetails">{{allorder.supplierdetails.mobileno}}</span>
                    </div>
                  </div>
                  <div class="mgbottom-10 row ">
                    <div class="col-sm-5  col-md-5  col-lg-5 left">
                      <label class="td-label">
                        <i class="fa fa-plus-circle" aria-hidden="true"> </i> Assigned On </label>
                    </div>
                    <div class="col-sm-7  col-md-7  col-lg-7 left">
                      <span class="warning">{{allorder.order_assigneddate | utcDate }}</span>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-sm-5  col-md-5  col-lg-5 left">
                      <label class="td-label">
                        <i class="fa fa-check-square-o" aria-hidden="true"> </i> Delivered On </label>
                    </div>

                    <div class="col-sm-6  col-md-6  col-lg-6 left">
                      <span class="success" *ngIf="allorder.OrderModifiedStatus == 'Delivered' || allorder.OrderModifiedStatus == 'Rejected'">{{allorder.order_delivereddate | utcDate }}</span>

                   
                    </div>
                  </div>
                  <!-- <div class="mgbottom-10 row ">
                    <div class="col-sm-6  col-md-6  col-lg-6 left">
                      <label class="td-label">
                        <i class="fa fa-reply " aria-hidden="true"> </i> Forwarded To</label>
                    </div>
                    <div class="col-sm-6  col-md-6  col-lg-6 left">
                      <span *ngIf="allorder.distributor">{{allorder.distributor.firstname +" "+allorder.distributor.lastname }}</span>
                    </div>
                  </div> -->
                  <div class=" float-right">

                    <button class="btn btn-link btn-sm" (click)='showCoverageDetails(allorder)'>
                      <i class="fa fa-map-marker fa-2" aria-hidden="true"></i> Map</button>
                    <button class="btn btn-link btn-sm" (click)='showOrderDetails(allorder)'>
                      <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> View More</button>

                  </div>
                </div>
              </td>

            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td>
                <h4 class="warning  capitalize">
                  <a href="javascript:void(0);" (click)=getAllOrderDetails(false); *ngIf="orderClickMore">
                    <i class="fa fa-upload" aria-hidden="true"></i> click for more data</a>
                  <span *ngIf="!orderClickMore">No more data</span>
                </h4>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

    </div>
  </div>
</div>