<div class="row justify-content-between modal-title ">
  <div class="col-md-4  col-sm-4  col-lg-4">
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    Select Product
  </div>
  <div class="col-md-1  col-sm-1  col-lg-1 right">
    <strong (click)="onCloseCancel()">
      <i class="fa fa-times fs-20" aria-hidden="true"></i>
    </strong>
  </div>
</div>

<md-dialog-content layout="column">
  <div class="container-fluid brd-bottom">
    <div *ngIf="productMessage && this.orderDetail.type !== 'coveragePage'">
      <p class="orderStyle">
        <i class="fa fa-exclamation-triangle"></i> Customer Ordered:
        <span class="capitalize">{{orderDetail.orderDetails.brandname}}</span> with Order id : {{orderDetail.orderDetails.order_id}} Selected Distributor
        does'nt have same product. Select any one of below</p>
    </div>
    <table class="table table-hover table-striped table-fixedheader mgtop-10">
      <thead>
        <tr>
          <th width="16%">Product</th>
          <th class="" width="12%">Category</th>
          <th width="15%">Product Type </th>
          <th width="10%">Count</th>
          <th width="12%">Price per unit</th>
          <th width="10%">Exp Del Chgs</th>
          <th width="9%">Serv Chgs</th>
          <th width="6%">INR</th>
          <th class="" width="10%">Empty cans</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productList; let i = index" [attr.data-index]="i">

          <td width="16%" class="left capital">
            <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
              <input type="radio" [disabled]="product.stockstatus== 'Soldout'" [checked]="this.productID === product.productid" [(ngModel)]='this.productID'
                class="custom-control-input" name="{{product.productid}}" [value]="product.productid" (ngModelChange)="changeQuantity(product , $event)">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description onhovertooltip-150" title="{{product.brandname}}">{{product.brandname}} </span>
            </label>
          </td>
          <td class="" width="12%">
            <span class="onhovertooltip-100" title="{{product.category}}">{{product.category}}</span>
          </td>

          <td width="15%" class="left capital">
            <span class="onhovertooltip-150" title="{{product.pname}} {{product.ptype}}">{{product.pname}} {{product.ptype}}</span>
          </td>

          <td width="10%" class="left capital">
            <md-form-field class="example-full-width inline ">
              <input class="form-control" mdInput placeholder="Count" name="count" [disabled]="product.stockstatus== 'Soldout'" [(ngModel)]="product.quantity"
                (ngModelChange)="changeOfQuantity($event)">
              <!-- (ngModelChange)="searchMobileNo()"-->
            </md-form-field>
          </td>

          <td width="12%" class="left capital">{{product.pcost}}</td>
          <td class="left capital" width="10%">
            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
              <input type="checkbox" class="custom-control-input" name="expressdelivery" [(ngModel)]="product.expressCheck" (change)="expressDeliveryCharge(product ,$event.target.checked)"
                [disabled]="product.stockstatus== 'Soldout'">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description"></span> {{product.expressdeliverycharges}}
            </label>
            <!-- <input type="checkbox" name="expressdelivery" [(ngModel)]="product.expressCheck" (change)="expressDeliveryCharge(product ,$event.target.checked)"
              [disabled]="product.stockstatus== 'Soldout'"> -->
            <!-- <input type="checkbox" class="custom-control-input" [(ngModel)]="product.expressCheck" name="expressdelivery"> -->
          </td>
          <td width="9%" class="left capital"> {{product.servicecharge}} </td>
          <td class="left capital" width="6%">
            <span *ngIf="product.quantity > 0"> {{product.pcost * product.quantity + product.servicecharge * product.quantity + amount}} </span>
            <span *ngIf="product.quantity == 0"> 0 </span>
          </td>

          <td class="left capital" width="10%">
            <span>
              <input class="wd-100pc" placeholder="cans" type="number" min="0" step="1" [(ngModel)]="product.emptycans" (ngModelChange)="emptyCansChange($event)"
                >
            </span>
          </td>
        </tr>
      </tbody>
      <br>
      <h4 class="error oneline center" *ngIf="noRecord">
        <i aria-hidden="true" class="fa fa-frown-o"></i> 
        Record not available</h4>
    </table>
    <h5 class="center warning capital">{{emptyCanMessage}}</h5>
    <div class="row cost-style">
      <div class="col center">
        <h5> Product Cost<br>
          <b>{{this.productCost}} x {{this.quantity}} </b>
        </h5>
      </div>
      <div class="col center">
        <h5> Service Charge <br>
          <b>{{this.serviceCharges}} x {{this.quantity}}</b>
        </h5>
      </div>
      <div class="col center">
        <h5>Exp Delv Charges <br>
          <b>{{this.amount}}</b>
        </h5>
      </div>
      <div class="col center">
        <h5>Empty Cans Amt <br>
          <b>{{((this.emptyCans) * 150) }}</b>

        </h5>
      </div>
      <div class="col center">
        <h5>Total Cost <br>
          <b>{{this.totalcost}}</b>
        </h5>
      </div>
      <!-- <span>
      <small>
        <span class="pd-right-20"> Product cost:
          <b>{{this.productCost}} x {{this.quantity}} </b>
        </span>
        <span class="pd-right-20"> Service charge :
          <b>{{this.serviceCharges}} x {{this.quantity}}</b>
        </span>
        <span class="pd-right-20">Express delivery charges :
          <b>{{this.amount}}</b>
        </span>
        <span class="pd-right-40">Empty cans Amount :
          <b>{{((this.quantity - this.emptyCans) * 150) }}</b>
        </span>
        <br>
        <span class="">Total cost :
          <b>{{this.totalcost}}</b>
        </span>
      </small>
    </span> -->
    </div>
</div>
</md-dialog-content>


<div class="row float-right pdright-30  mgbottom-20">
  <md-dialog-actions align="end">
    <button type="submit" md-raised-button class="btn-primary" (click)="setProducts()" [disabled]="(emptyCansKeyUp == true)">SET</button>&nbsp;
    <button md-raised-button (click)="onCloseCancel()">CANCEL</button>
  </md-dialog-actions>
</div>