
<div class="row justify-content-between modal-title ">
  <div class="col-md-4  col-sm-4  col-lg-4">
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
     Select Product
  </div>
  <div class="col-md-1  col-sm-1  col-lg-1 right">
        <strong (click)="onCloseCancel()"><i class="fa fa-times fs-20" aria-hidden="true"></i>
        </strong>         
  </div>
</div>

  <md-dialog-content layout="column">
    <div class="container-fluid brd-bottom">
      <br>
      <table class="table table-hover table-striped table-fixedheader">
  <thead>
    <tr>
      <th width="15%">Product</th>
      <th width="15%">Product type </th>
      <th width="13%">Price per unit</th>
      <th width="13%">Count</th>    
      <th width="10%">INR</th>
      <th width="13%">Exp Del Chgs</th>
      <th width="13%">Serv Chgs</th>
       </tr>
  </thead>
  <tbody>
    <div *ngIf="productMessage && this.orderDetail.type !== 'coveragePage'">
      <small>Customer Ordered: {{orderDetail.orderDetails.brandName}} with Order id : {{orderDetail.orderDetails.order_id}} <br> Selected Distributor does'nt have same product. Select any one of below</small>
    </div>
    
    <tr  *ngFor="let product of productList; let i = index" [attr.data-index]="i" >
        <td width="15%" class="left capital"> <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
            <input type="radio" [checked]="this.productID === product.productid" [(ngModel)]='this.productID'  class="custom-control-input" name="{{product.productid}}" [value]="product.productid" (ngModelChange)="changeQuantity(product)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{product.brandname}} </span>
          </label></td>
      <td width="15%" class="left capital">{{product.pname}} {{product.ptype}}</td>
      <td width="13%" class="left capital">{{product.pcost}}</td>
      <td width="13%" class="left capital"> 
          <md-form-field class="example-full-width inline ">
            <input class="form-control" mdInput placeholder="Count" name="count" [(ngModel)]="product.quantity">
            <!-- (ngModelChange)="searchMobileNo()"-->
          </md-form-field></td> 
      <td class="left capital" width="10%">{{product.expressdeliverycharges}}</td>
      <td class="left capital" width="13%">{{product.servicecharge}}</td>
      <td width="13%" class="left capital">{{product.pcost * product.quantity}}</td>
  
     </tr>
  </tbody>
  <tfoot>
      <tr *ngIf="noRecord">
        <td colspan="4">
          <h4 class="warning oneline center">
            <i aria-hidden="true" class="fa fa-frown-o"></i>
            Record Not Available</h4>
        </td>
      </tr>

  </tfoot>
</table>
</div>
      
 
  </md-dialog-content>
  <div class="row float-right pdright-30  mgbottom-20">
  <md-dialog-actions align="end">

    <button type="submit" md-raised-button  class="btn-primary" (click)="setProducts()">SET</button>&nbsp;
    <button md-raised-button (click)="onCloseCancel()">CANCEL</button>
    
  </md-dialog-actions>
</div>

