.orderStyle{
    color: var( --warning) !important;
    font-size: 18px;
    margin:10px 0px  5px !important;
    text-align: center;
}
.red{
    color: red;
}
table{
    margin-bottom: 0px !important;
}
.cost-style{
    border-top: 1px solid #999;
    padding: 10px;
    }