.nav.nav-tabs {
    float: left;
    display: block;
    padding: 15px;
    border: 0px;
}
/* .nav-tabs li{
  margin-bottom: 20px !important;
  
} */

.nav-tabs .active a{
    background:#0f75bc;
    content: "\f078";   
    color: #fff !important;
  }
  .nav-item{
    border-bottom: 1px solid #ddd;
  }
  .nav-link{
		padding: 20px 52px!important;
    font-size: 18px;
  }
  .nav-pills .nav-link{
    border-radius: 0px;
  }

  .chevron:after {
    content: "\f078";   
}
  .flex-column{
border: 1px solid #ddd;
margin-bottom: 15px;
/* margin-top: 15px; */
/* border-radius: 5px; */
  }
  .fa-exchange {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
tbody{
  color: #666
}
/* .nav-item .nav-link {
  padding: 10px 20px !important;
} */
.flex-column{
  margin-bottom: 0px !important;
}

.nav-link.active::before{
  position: absolute;
  content: '';
  z-index: 100;
  width: 0;
  top: 10%;
  right: -11px;
  height: 0;
  border-top: solid 10px #fff;
  transform: rotate(270deg);
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
.dateview-style{
  padding: 10px;
  border-top: 1px solid #ddd;
  margin:15px 10px 0px 10px !important
}


.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
} 
.cbp_tmicon-times{
  background: #8B1210  !important;
  color: #fff !important;
}
.cbp_tmicon-favourite{
  background: #f79123 !important;
  color: #fff !important;
  
}

.cbp_tmicon-check{
  background: #4cae4c !important;
  color: #fff !important;
  
}

/* The line */
.cbp_tmtimeline:before {
  content:"\f004";
  	position: absolute;
	top: 0;
	bottom: 0;
  width: 5px;
  background: #fff;
  color: #666;
  box-shadow: 0px 0px 5px #665;
	left: 20%;
	margin-left: -8px;
}

.cbp_tmtimeline > li {
	position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #999;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 24px;
	color: #666;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #666;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 15px 25%;
	background: #fff;
  box-shadow:-2px 1px 7px #999;
	padding: 20px;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}


.cbp_tmtimeline > li .cbp_tmlabel h2 { 
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #fff;
	border-width: 10px;
	top: 10px;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	background: #fff;
  border-radius: 50%;
  box-shadow:-2px 1px 7px #999;
	/* box-shadow: 0 0 0 8px #999; */
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
}

/* .cbp_tmicon-favourite:before {
	content:"\f004";
}
.cbp_tmicon-check:before {
	content:"\f00c";
} */

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #fff;
		top: -20px;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}	
}
