<div class="dist-style  minheight-500">

  <div class=" row justify-content-between distIcon-style">
    <div class="col-md-2  col-sm-2  col-lg-2 left">
      <h4>
        <i class="fa fa-credit-card" aria-hidden="true"></i> Payments</h4>
    </div>
    <div class="col-md-2  col-sm-2  col-lg-2 right">

    </div>

  </div>


  <div class="container-fluid">

    <div class="tab tabs-left row">
      <div class="col-2">

        <table class="nav nav-pills flex-column row">
          <tr>
            <td class="nav-item" (click)="viewTabpanel('cod')">
              <a class="nav-link" [ngClass]="{'active': tabPanelView === 'cod'}" href="javascript:void(0)">
                <i class="fa fa-money" aria-hidden="true"></i>
                <br> Cash on delivery </a>
            </td>
          </tr>
          <tr>
            <td class="nav-item" (click)="viewTabpanel('credit')">
              <a class="nav-link" [ngClass]="{'active': tabPanelView === 'credit'}" href="javascript:void(0)">
                <i class="fa fa-credit-card" aria-hidden="true"></i>
                <br> Credit </a>
            </td>
          </tr>
          <tr>
            <td class="nav-item" (click)="viewTabpanel('bill')">
              <a class="nav-link" [ngClass]="{'active': tabPanelView === 'bill'}" href="javascript:void(0)">
                <i class="fa fa-bars" aria-hidden="true"></i>
                <br> Bill </a>
            </td>
          </tr>
          <tr>
            <td class="nav-item" (click)="viewTabpanel('collections')">
              <a class="nav-link" [ngClass]="{'active': tabPanelView === 'collections'}" href="javascript:void(0)">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <br> Collections
              </a>
            </td>
          </tr>
        </table>
      </div>

      <div class="tab-content col  pdtop-15" *ngIf="tabPanelView == 'cod'">
        <div class=" ">
          <ul class="scrollheight  mgtop-5">
            <li class="nolist-style  messages-style" *ngFor="let payments of codPayments">
              <div *ngIf="payments.status=='confirm'">
                <i class="fa fa-check-circle success fs-24" aria-hidden="true"></i>
              </div>
              <div *ngIf="payments.status=='rejected'">
                <i class="fa fa-times-circle danger fs-24" aria-hidden="true"></i>
              </div>
              <div *ngIf="payments.status=='received'">
                <i class="fa fa-gratipay warning fs-24" aria-hidden="true"></i>
              </div>
              <div class="mgbottom-10">
                <b> Dealer/Super-Supplier have {{payments.status}}ed Payment</b>
                <br>
                <small ca> Customer: {{payments.customer.firstname}} {{payments.customer.lastname}} have paid the amount of INR {{payments.amount_received}}
                  to Dealer/Supplier: {{payments.dealer.firstname}} {{payments.dealer.lastname}} </small>
                <div *ngIf="payments.status=='rejected'" class="mgbottom-10">
                  <small> Rejected By: {{payments.dealer.firstname}} {{payments.dealer.lastname}} </small>
                </div>
              </div>

              <div *ngIf="payments.status=='received'">
                <md-dialog-actions align="end">
                  <button md-raised-button class="btn-primary btn-small" (click)="changeStatus('confirm',payments)">CONFIRM</button>
                  <button md-raised-button class="btn-small" (click)="changeStatus('rejected',payments)">REJECT</button>&nbsp;
                </md-dialog-actions>
                <!-- <small>
                  <button type="submit" value="reject" (click)="changeStatus('rejected',payments)">REJECT</button>
                </small>
                <small>
                  <button type="submit" value="confirm" (click)="changeStatus('confirm',payments)">CONFIRM</button>
                </small> -->

              </div>
              <div class="row dateview-style">
                <small class="col-6 gray9">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  {{payments.modifieddate | utcDate}} </small>
                <small class="col-6 gray9">Order ID: #{{payments.orderid}}</small>
              </div>
            </li>

          </ul>
        </div>
      </div>


      <div class="tab-content col  pdtop-15" *ngIf="tabPanelView == 'credit'">
        <div class=" ">
          <ul class="scrollheight  mgtop-5">
            <li class="nolist-style  messages-style" *ngFor="let credit of creditPayments">
              <div>
                <i class="fa fa-check-circle success fs-24" aria-hidden="true"></i>
              </div>
              <div class="mgbottom-10">
              <b> Customer have done the Payment</b><br>
              <small *ngIf="credit.customer"> Customer: {{credit.customer.firstname}} {{credit.customer.lastname}} have paid the amount of INR {{credit.amount_received}}
                to Dealer/Supplier:{{credit.dealer.firstname}}{{credit.dealer.lastname}}</small>
              </div>
         
              <div class="row dateview-style">
                  <small class="col-6 gray9">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    {{credit.modifieddate | utcDate }} </small>
                  <small class="col-6 gray9">Order ID: # Order ID:{{credit.orderid}}</small>
                </div>
            </li>

          </ul>
        </div>
      </div>


      <div class="tab-content col  pdtop-15" *ngIf="tabPanelView == 'bill'">
        Bill Table
      </div>
      <div class="tab-content col  pdtop-15" *ngIf="tabPanelView == 'collections'">
        Collections Table

      </div>
    </div>
  </div>
</div>