<div class="row justify-content-between modal-title ">
  <div class="col-md-4 col-sm-4">
    <i class="fa fa-edit"></i> {{headerValue}}
  </div>
  <div class="col-md-1 col-sm-1 right">
    <strong>
      <i class="fa fa-times fs-20" aria-hidden="true" (click)="onCloseModal()"></i>
    </strong>
  </div>
</div>
<md-dialog-content layout="column">

  <div class="container-fluid pd-15x25 brd-bottom">
    <div class="row">
      <b class="label-style col">Personal Details
        <span></span>
      </b>
    </div>
    <!-- first row starts>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
    <div class="row">
      <div class="col-md-4 col-sm-6 ">
        <md-form-field class="">
          <input class="form-control" [formControl]="emailFormControl" mdInput placeholder="First Name" name="firstName" [(ngModel)]="customerInput.User.firstname"
            required maxlength='15'>
          <md-error *ngIf="emailFormControl.hasError('required')">
            First Name is
            <strong>required</strong>
          </md-error>
        </md-form-field>
      </div>
      <div class="col-md-4 col-sm-6 ">
        <md-form-field class="">
          <input class="form-control" mdInput placeholder="Last Name" name="lastname" [(ngModel)]="customerInput.User.lastname" maxlength='15'>
          <md-error>
            Last Name is
            <strong>required</strong>
          </md-error>
        </md-form-field>

      </div>
      <div class="col-md-4 col-sm-6 ">
        <md-form-field class="">
          <input class="form-control" mdInput placeholder="Alias Name" name="alias" [(ngModel)]="customerInput.User.aliasname" maxlength='15'>
          <md-error>
            Alias Name is
            <strong>required</strong>
          </md-error>
        </md-form-field>

      </div>
    </div>
    <!-- first row finished -->
    <div class="row">
      <div class="col-md-4 col-sm-6 ">
        <md-form-field class="">
          <input class="form-control" mdInput placeholder="Email Id" name="emailid" [(ngModel)]="customerInput.User.emailid" maxlength='50'>
          <md-error>
            Email Id is
            <strong>required</strong>
          </md-error>
        </md-form-field>

      </div>
      <div class="col-md-4 col-sm-6 ">
        <md-form-field class="">
          <input class="form-control" mdInput placeholder="Advance Amount" name="advancenumber" [(ngModel)]="customerInput.User.advamt" (keypress)="numberEvent($event)" maxlength="5"> 
          <md-error>
            Advance Amount is
            <strong>required</strong>
          </md-error>
        </md-form-field>
      </div>
      <div class="col-md-4 col-sm-6 ">
        <md-form-field class="">
          <input class="form-control" mdInput placeholder="Phone Number" name="phonenumber" maxlength="10" [formControl]="mobileFormControl"
            [(ngModel)]="customerInput.User.mobileno" required (keypress)="numberEvent($event)">
          <md-error *ngIf="mobileFormControl.hasError('required')">
            Mobile Number is
            <strong>required</strong>
          </md-error>
        </md-form-field>
      </div>
    </div>
    <!-- second row finished -->
    <div class="row">
      <div class="col-md-4 col-sm-6 ">
        <md-form-field class="">
          <input class="form-control" mdInput placeholder="Mobile no 1" name="mobile1" maxlength="10" [(ngModel)]="customerInput.User.mobileno_one" (keypress)="numberEvent($event)">
        </md-form-field>
      </div>
      <div class="col-md-4 col-sm-6 ">
        <md-form-field class="">
          <input class="form-control" mdInput placeholder="Mobile no 2" name="mobile 2" maxlength="10" [(ngModel)]="customerInput.User.mobileno_two" (keypress)="numberEvent($event)">
        </md-form-field>
      </div>
      <div class="col-4" *ngIf="this.Details" >
        <md-form-field class="wd-100pc">
          <input class="form-control" mdInput placeholder="Reference Code" name="ReferenceCode" maxlength="10">
        </md-form-field>
      </div>
    </div>
    <!-- third row finished -->
    <div class="row">
      <div class="col-4">
        <md-form-field class="wd-100pc">
          <input class="form-control" mdInput placeholder="Flat Number" name="flatNo" [(ngModel)]='customerInput.User.buildingname' maxlength="10">
        </md-form-field>
      </div>

      <div class="col-4 align-self-end">
        <md-form-field class="wd-100pc">
          <input class="form-control" mdInput placeholder="Landmark" name="landmark" [(ngModel)]='customerInput.User.locality' maxlength="50">
        </md-form-field>
      </div>
            <!-- <div class="col-md-4 col-sm-6">
        <md-form-field class="">
          <input class="form-control" mdInput placeholder="Promo Code" name="promocode" [(ngModel)]='customerInput.User.promocode'>
        </md-form-field>

      </div> -->
    </div>

    <div class="row form-group">
      <div class="col" *ngIf="this.Details.order_id">
        <md-form-field class="wd-100pc">
          <textarea class="form-control" mdInput placeholder="Order Address" name="Address" [(ngModel)]="customerInput.User.orderaddress" maxlength="150"></textarea>
        </md-form-field>
      </div>

      <div class="col">
        <md-form-field class="wd-100pc">
          <textarea class="form-control" mdInput placeholder="Profile Address" name="Address" [(ngModel)]="customerInput.User.address" maxlength="150"></textarea>
        </md-form-field>
      </div>

    </div>

    <!-- <div class="row">
      <md-form-field class="wd-100pc">
        <input class="form-control" mdInput placeholder="Reference Code" name="referencecode" [(ngModel)]='customerInput.User.referencecode'>
      </md-form-field>

    </div> -->
    <!-- forth row finished -->
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <md-select placeholder="Payment Type" class="wd-100pc" [(ngModel)]="customerInput.User.paymenttype">
            <md-option value="cod">COD</md-option>
            <md-option value="credit">CREDIT</md-option>
            <md-option value="paytm">PAYTM</md-option>
            <md-option value="online">ONLINE BANKING</md-option>
          </md-select>
        </div>


        <!-- <span width="30%" class="left capital">
            <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
              <input type="radio" [(ngModel)]="customerInput.User.paymenttype" class="custom-control-input" name="paymentType" value="credit">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">CREDIT</span>
            </label>
          </span> -->
      </div>

      <div *ngIf="customerInput.User.paymenttype=='credit'" class="row justify-content-around">
        <div class="col-5 row">
          <md-select name="day" id="day" [(ngModel)]="paymentDate" placeholder="Bill day">
            <md-option value="1">1</md-option>
            <md-option value="2">2</md-option>
            <md-option value="3">3</md-option>
            <md-option value="4">4</md-option>
            <md-option value="5">5</md-option>
            <md-option value="6">6</md-option>
            <md-option value="7">7</md-option>
            <md-option value="8">8</md-option>
            <md-option value="9">9</md-option>
            <md-option value="10">10</md-option>
            <md-option value="11">11</md-option>
            <md-option value="12">12</md-option>
            <md-option value="13">13</md-option>
            <md-option value="14">14</md-option>
            <md-option value="15">15</md-option>
            <md-option value="16">16</md-option>
            <md-option value="17">17</md-option>
            <md-option value="18">18</md-option>
            <md-option value="19">19</md-option>
            <md-option value="20">20</md-option>
            <md-option value="21">21</md-option>
            <md-option value="22">22</md-option>
            <md-option value="23">23</md-option>
            <md-option value="24">24</md-option>
            <md-option value="25">25</md-option>
            <md-option value="26">26</md-option>
            <md-option value="27">27</md-option>
            <md-option value="28">28</md-option>
          </md-select>
        </div>
        <div class="col-5">
          <md-select name="day" id="day" [(ngModel)]="paymentdueDate" placeholder="Due day">
            <md-option value="1">1</md-option>
            <md-option value="2">2</md-option>
            <md-option value="3">3</md-option>
            <md-option value="4">4</md-option>
            <md-option value="5">5</md-option>
            <md-option value="6">6</md-option>
            <md-option value="7">7</md-option>
            <md-option value="8">8</md-option>
            <md-option value="9">9</md-option>
            <md-option value="10">10</md-option>
            <md-option value="11">11</md-option>
            <md-option value="12">12</md-option>
            <md-option value="13">13</md-option>
            <md-option value="14">14</md-option>
            <md-option value="15">15</md-option>
            <md-option value="16">16</md-option>
            <md-option value="17">17</md-option>
            <md-option value="18">18</md-option>
            <md-option value="19">19</md-option>
            <md-option value="20">20</md-option>
            <md-option value="21">21</md-option>
            <md-option value="22">22</md-option>
            <md-option value="23">23</md-option>
            <md-option value="24">24</md-option>
            <md-option value="25">25</md-option>
            <md-option value="26">26</md-option>
            <md-option value="27">27</md-option>
            <md-option value="28">28</md-option>
          </md-select>
          <small class="red oneline">{{this.message}}</small>
          <!-- <md-error *ngIf="dueDateFormControl.hasError('required')">
                Select due date is
                <strong>required</strong>
              </md-error> -->
        </div>
      </div>

     <div class="col-4">
        <div class="form-group">
          <md-select placeholder="Customer Type" class="wd-100pc" [(ngModel)]="customerInput.User.registertype">
            <md-option value="residential">Residential</md-option>
            <md-option value="commercial">Commercial</md-option>
            <md-option value="corporate">Corporate</md-option>
          </md-select>
        </div>
      </div>
    </div>

    <h5 class="error center mgbottom-0 mgtop-10" *ngIf="messageError"><i class="fa fa-warning"></i> {{this.messageError}}</h5>

    <!-- <div class="col-7">
        <div class=" form-group">
          <b class="label-style"> Customer Type</b>
        </div> -->


    <!-- <span width="30%" class="left capital">
          <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
            <input type="radio" [(ngModel)]="customerInput.User.registertype" class="custom-control-input" name="customerType" value="residential">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Residential</span>
          </label>
        </span>

        <span width="30%" class="left capital">
          <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
            <input type="radio" [(ngModel)]="customerInput.User.registertype" class="custom-control-input" name="customerType" value="commercial">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Commercial</span>
          </label>
        </span>
        <span width="30%" class="left capital">
          <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
            <input type="radio" [(ngModel)]="customerInput.User.registertype" class="custom-control-input" name="customerType" value="corperate">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Corporate</span>
          </label>
        </span>
      </div> -->
  </div>
</md-dialog-content>

<h5 class="error center" *ngIf="duplicateUser"><i class="fa fa-warning"></i> User Already Exists!!</h5>

<div class="row float-right pdright-30">
  <md-dialog-actions align="end">
    <button type="submit" class="btn-primary" md-raised-button (click)="createUpdatecustomer()">SUBMIT</button>
    <button md-raised-button (click)="onCloseModal()">CANCEL</button>&nbsp;
  </md-dialog-actions>
</div>
