<!--The content below is only a placeholder and can be replaced.-->


<div style="text-align:center">

 <div class=''>
   <!--<app-side-menu></app-side-menu>-->

   <md-sidenav-container class="demo-sidenav-container">
     <md-sidenav #focusSidenav>
       <md-nav-list>
         <a md-list-item  routerLink="/distributor" (click)="focusSidenav.toggle()">Distributors</a>
         <a md-list-item routerLink="/coverage" (click)="focusSidenav.toggle()">Coverage</a>
       </md-nav-list>
     </md-sidenav>

     <div class="demo-sidenav-content" >
      <div *ngIf="!_router.url.includes('login'); else elseBlock">
        <button md-button (click)="focusSidenav.toggle()" class="btn-customMenu right-0 float-left" ><md-icon>menu</md-icon></button>
        <img src="../assets/images/logo.png" class="float-left" />
        <button class="float-right" md-button (click)="logOut()" >Logout</button>
      </div>
      <ng-template #elseBlock>
        <div id="app" class="">
          <nav class="navbar navbar-expand-lg navbar-light bg-faded">
              <a class="navbar-brand" href="#"> <img src="../assets/images/logo.png" class="img-responsive col-md-offset-3" /></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div id="navbarNavDropdown" class="navbar-collapse collapse justify-content-end">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item ">
                        <a class="nav-link" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">About us</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Shop</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Contact us</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
                        
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Place an order</a>
                  </li>

                  </ul>

              </div>
          </nav>
      </div>
      </ng-template>

      <router-outlet></router-outlet>
      <div>


      </div>
    </div>
    <footer class=" footer-style foot-pd  navbar-fixed-bottom pd-20">
      <div class="container">
     <div class="row ">
       <div class="col-6 footer-copyrights">
         <p>Copyright © 2017 developed by <a href="http://www.virtus-it.com/">Virtus-IT </a>India Pvt Ltd, All rights reserved. </p>
       </div>
       <div class="col-2">
        </div>
       <div class="col-4">
         <img src="../assets/images/powerby.png" class="img-responsive wd-60pc" />
         <!--<a href="http://www.virtus-it.com/"><img src="../assets/images/virtusit.png" alt="" class="img-responsive"></a>-->
       </div>

     </div>
      </div>
   </footer>
 </md-sidenav-container>


</div>

</div>

