.navbar {
  background-color: #fff !important;
  border-bottom: solid 1px #c5d6de;
}
/* .loginBg{
	background: url(../assest/images/powerby.png);
} */
.sidebar-nohover >.mat-list-item-content> .mat-list-item-ripple:hover{
  background: red !important;

}

.navbar-nav {
  margin: 10px !important;
}
.wd-60pc{
  width: 60%;
}
.pd-20{
  padding-top: 20px;
}
.btn-customMenu {
  right: 465px
}
.footer-style{
  background: #ddd;
  border-top: 1px  solid #c5d6de;
}

.right-0{
	right: 0px;
}
.navbar{
  padding: 0px 5% !important;
  box-shadow: 5px 5px 5px #ddd;
}
.navbar-light .navbar-nav .nav-link{
  color: #666;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #fff !important;
  background: #0f75bc;
}
.active a{
  color: #0f75bc !important;
}
.menu-style{
  margin: 20px;
  cursor: pointer;
}


.active a:hover{
  color: #fff !important;
  background: #0f75bc;
}
.logo-bg{
  background: #0f75bc;
}
.wd-40pc{
  width: 40%;
}
.right{
  text-align: right;
}
.badge1 {
  position:relative;
}
.badge1 span {
  content: attr(data-badge);
  position: absolute;
  top: -8px;
  left: 20px;
  font-size: 8px;
  background: #f79123;
  color: white;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 23px;
  border-radius: 50%;
  box-shadow: 0 0 2px #666;
}
.pdtpright-10x30{
  padding-right: 30px;
  padding-top: 10px;
}
.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
  color:#0f75bc !important;
}
.brd-bottom{
  border-bottom: 1px solid #c5d6de;
  box-shadow: 5px 5px 5px #c5d6de;
}
.brd-btm{
  border-bottom: 1px solid #c5d6de;
}
a{
  color: #0f75bc;
}
.btn{
  padding: .5rem 0.5rem !important;
}
.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
  background: #0f75bc !important;
}
.btn-link{
  color: #0f75bc;
}
.mgtop-12{
  margin-top: 12px;
}
.sidebar-style{
  width: 14%;
  }
  .pdtoprght-3x10{
    padding: 3px 0px 0px 10px;
  }
  
  .form-control{
    border-radius: 2px;
      }
  .btn{
    border-radius: 2px;   
  }
  table{
    table-layout: fixed;
  }


    header {
      background: #fff;
      width: 100%;
      height: 76px;
      position: fixed;
      top: 0;
      left: 0;
      border-bottom: 1px solid #4C9CF1;
      z-index: 100;
      box-shadow: 5px 5px 5px -1px #ddd;
    
    }
    
    #logo{
    
      margin-left:5%;
      float: left;
      display: block;
    
    }
    
    nav {
    
      float: right;
      padding: 15px 3%;	
    
    }
    
    #menu-icon {
    
      display: hidden;
      width: 40px;
      height: 40px;
      background:url(../assets/images/menu.png) center;
      
    }

    ul {
    
      list-style: none;
    
    }
    
    li {
    
      display: inline-block;
      float: left;
      padding: 10px;    
    }

    li a{
      color: #666 !important;
    }
    @media only screen and (max-width : 640px) {
      
        header {
      
          position: absolute;
      
        }
        #logo img{
          width: 90%;
        }
        #menu-icon {
          display:inline-block;
      
        }
   nav ul, nav:active ul { 
      
          display: none;
          position: absolute;
          padding: 10px;
          background: #fff;
          border: 1px solid #ddd;
          right: 20px;
          top: 60px;
          font-size: 14px;
          width: 34%;
          border-radius: 4px 0 4px 4px;
      
        }
      
        nav li {
      
          text-align: center;
          width: 100%;
          padding: 10px 0;
          margin: 0;
      
        }
      
        nav:hover ul {
      
          display: block;
      
        }
      }
    