<!-- 
<div class="row justify-content-between modal-title  nowrap ">
    <div class="col">
      <i class="fa fa-key"></i>  Update Password
    </div>
    <div class="col-2 right">
      <strong (click)="onCloseCancel()"><i class="fa fa-times fs-20" aria-hidden="true"></i>
            </strong>
    </div>
  </div>
  
  <md-dialog-content layout="column">
    <form class="example-form">
      <div class="container-fluid pd-15x25 brd-bottom">
        <div class="row">
        <div class="col">
            <md-form-field class="example-full-width wd-100pc">
              <input class="form-control" type="password" mdInput placeholder="Current Password" [(ngModel)]="checkPassword.oldpassword" name="oldpassword">
            </md-form-field>
        </div>
      </div>
  
      <div class="row">
        <div class="col">
            <md-form-field class="example-full-width wd-100pc">
                <input class="form-control"  type="password" mdInput placeholder="New Password" [(ngModel)]="checkPassword.newpassword" name="newpassword">
              </md-form-field>
            </div>
      </div>
      
      
      <div class="row">
          <div class="col">
              <md-form-field class="example-full-width wd-100pc">
                  <input  class="form-control"  type="password"   mdInput placeholder="Confirm Password" [(ngModel)]="checkPassword.confirmpassword" name="confirmpassword"> 
                </md-form-field>
              </div>
        </div>

        <div class="row">
              <h5 *ngIf="wrongPassword" class="warning center">Passwords do not match</h5>
              <h5 *ngIf="passwordUpdated" class="success center">Passwords updated successfully</h5>
</div>
      </div>
    </form>
  </md-dialog-content>
  <div class="row float-right pdright-30 mgbottom-20">
    <md-dialog-actions >
        <button type="submit" md-raised-button class="btn-primary" (click)="validatePassword()" >SUBMIT</button>
        &nbsp;
      <button md-raised-button (click)="onCloseCancel()">CANCEL</button>
    </md-dialog-actions>
</div> -->
<div class="row justify-content-between modal-title  nowrap ">
  <div class="col">
    <i class="fa fa-key"></i> Update Password
  </div>
  <div class="col-2 right">
    <strong (click)="onCloseCancel()">
      <i class="fa fa-times fs-20" aria-hidden="true"></i>
    </strong>
  </div>
</div>

<md-dialog-content layout="column">
  <form class="example-form">
    <div class="container-fluid pd-15x25 brd-bottom">
      <div class="row">
        <div class="col">
          <md-form-field class="example-full-width wd-100pc">
            <input class="form-control" type="text" mdInput placeholder="Current Password" [(ngModel)]="checkPassword.oldpassword" name="oldpassword"
              maxlength="16">
          </md-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <md-form-field class="example-full-width wd-100pc">
            <input class="form-control" type="text" maxlength="16" mdInput placeholder="New Password" [(ngModel)]="checkPassword.newpassword"
              name="newpassword">
          </md-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <md-form-field class="example-full-width wd-100pc">
            <input class="form-control" type="text" maxlength="16" mdInput placeholder="Confirm Password" [(ngModel)]="checkPassword.confirmpassword"
              name="confirmpassword">
          </md-form-field>
        </div>
      </div>

      <div class="center">
        <h5 *ngIf="wrongPassword" class="red">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{wrongPassword}}</h5>
        <h5 *ngIf="passwordUpdated" class="success">
          <i class="fa fa-hand" aria-hidden="true"></i>Passwords updated successfully</h5>
      </div>
    </div>
  </form>
</md-dialog-content>

<div class="row float-right pdright-30 mgbottom-20">
  <md-dialog-actions>
    <button type="submit" md-raised-button class="btn-primary" (click)="validatePassword()">SUBMIT</button>
    &nbsp;
    <button md-raised-button (click)="onCloseCancel()">CANCEL</button>
  </md-dialog-actions>
</div>