<div class="row justify-content-between modal-title ">
  <div class=" col-md-4  col-sm-4  col-lg-4">
    <i class="fa fa-edit"></i> Message
  </div>
  <div class=" col-md-1  col-sm-1  col-lg-1 right">
    <strong><i class="fa fa-times fs-20" aria-hidden="true" (click)='onCloseModal("cancel")'></i>
            </strong>
  </div>
</div>
<md-dialog-content layout="column">
  <div class="warning"><h5>{{MessageInfo}}</h5></div>
</md-dialog-content>
<div class="row float-right pdright-30 mgbottom-20">
  <md-dialog-actions align="end">
 
    <button md-raised-button (click)='onCloseModal("success")'>OK</button>
    
  </md-dialog-actions>
</div>