<!-- <div class="row">
<h2 md-dialog-title>Distributors</h2><br>

</div> -->
<div class="row justify-content-between modal-title ">
  <div class="col-md-4  col-sm-4  col-lg-4">
      <i class="fa fa-gift"></i>  Product List
  </div>
  <div class="col-md-1  col-sm-1  col-lg-1 right">
        <strong   (click)="onCloseCancel()"><i class="fa fa-times fs-20" aria-hidden="true"></i>
        </strong>         
  </div>
</div>

  <md-dialog-content layout="column">
      <div class="row pd-15x25 brd-bottom">
          <div class="col" >
            <h5 align="center" class="form-group"><i class="fa fa-sitemap"></i> 
        <!-- <span>Distributor Name :</span>  --> Distrirbutor  : 
        <span *ngIf="distributorDetails.distributorName" class="capitalize">{{distributorDetails.distributorName}}</span>
        <span *ngIf="!distributorDetails.distributorName" class="capitalize">{{distributorDetails.firstname}} {{distributorDetails.lastname}}</span> -
        <span class="gray8"> {{distributorDetails.mobileno}} </span></h5>
      </div>
          <table class="table table-hover table-striped table-fixedheader">
      <thead>
        <tr>
          <th width="11%">Product Name</th>
          <th width="11%">Product Type</th>
          <th width="8%">Priority</th>
          <th width="8%" title="Minimum Quantity">Min Qty</th>          
          <th width="7%">Cost</th>   
          <th width="8%" title="Expres Delivery">Exp Del</th>
          <th width="8%" title="Service Charge">Serv Chgs</th>   
          <th width="12%">Is Authorised ?</th>   
          <th width="8%">Stock</th>
          <th width="8%">Status</th>
          <th width="8%">Action</th>
           </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let prod of listOfProducts; let i = index" [attr.data-index]="i" >
          <td width="11%" class="left capital"><span class="{{prod.brandname}}" title="onhovertooltip-100">{{prod.brandname}}</span></td>
          <td width="11%" class="left capital"> <span class="{{prod.ptype}}" title="onhovertooltip-100">{{prod.ptype}}</span></td>
          <td width="8%" class="left capital">{{prod.priority}}</td>
          <td width="8%" class="left capital">{{prod.minorderqty}}</td>          
          <td width="7%" class="left capital">{{prod.pcost}}</td>      
          <td width="9%" class="left capital">{{prod.expressdeliverycharges}}</td> 
          <td width="8%" class="left capital">{{prod.servicecharge}}</td>  
          <td class="" width="11%">
            <span  *ngIf="prod.isauthorized == 'true'"> Yes </span>
            <span *ngIf="prod.isauthorized != 'true'">No</span>
          </td>  
          <td width="8%" class="left capital">{{prod.avaliable_stock}}</td>
          <td width="8%" class="left capital" [ngClass]="{'warn':prod.stockstatus == 'Soldout'}">{{prod.stockstatus}}</td>
          <td width="10%">
             <i class="fa fa-edit logo-color cursor" (click)="editProduct(prod)"></i>&nbsp;
             <i class="fa fa-plus logo-color cursor" title="Add stock" (click)="addStock(prod)"></i>&nbsp;
             <i class="fa fa-dot-circle-o logo-color cursor" title="Stock status" (click)="changeStockStatus(prod)"></i>&nbsp;
          <i class="fa fa-line-chart logo-color cursor" aria-hidden="true" title="Stock Histroy" (click)="stockHistory(prod, distributorDetails)"></i>
          </td>
          
         </tr>
      </tbody>
    </table>
  </div>
  </md-dialog-content>
  <div class="row float-right pdright-30 mgbottom-20">
      <md-dialog-actions align="end">
        <button md-raised-button (click)="onCloseCancel()">CANCEL</button>&nbsp;
      </md-dialog-actions>
    </div>


