<div class=" dist-style">
    <div class=" row justify-content-between distIcon-style">
    <div class="col-2">
        <h4><i class="fa fa-truck"></i> Suppliers</h4>
    </div>
  <div class="col-2">
      <button md-raised-button color="primary" ><i class="fa fa-plus fa-2" aria-hidden="true"></i></button>
      
  </div>
    </div>
    <div id="" class="row pd-15x10 mg-0">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 filter-style">
            <div class="filtercol-style height-500">
                <label class="float-left">Filter by</label><br>
                     <div class=" ">
                        <md-form-field class="example-full-width">
                          <input class="form-control" mdInput placeholder=" Name"  >
                        </md-form-field>
                      </div>
                        <div class=" f">
                          <md-form-field class="example-full-width">
                            <input class="form-control" mdInput placeholder="Mobile Number" >
                          </md-form-field>
                        </div> 
                        <div class=" form-group">
                          <md-form-field class="example-full-width">
                            <input class="form-control" mdInput placeholder="Area" >
                          </md-form-field>
                        </div> 
                        <div class=" form-group">
                            <button md-raised-button color="primary" >
                                <i class="fa fa-search" aria-hidden="true"></i> Search
                              </button>
                          <button md-raised-button color="primary" >
                      <i class="fa fa-filter" aria-hidden="true"></i> Clear Filter
                    </button>
                  </div>
                </div>
         </div>
  <div class="col-9 col-sm-9 col-md-9 col-lg-9">    
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th width="5%">S.No</th>
            <th width="15%">User</th>
            <th width="12%">Mobile no</th>
            <th width="20%">Address</th>
            <th width="15%">View Orders</th>
            <th width="12%">Set Areas</th>
            <th width="8%">Edit</th>
            <th width="8%">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td  class="left"></td>
            <td class="left"></td>
            <td class="left"></td>
            <td class="left"></td>
            <td  class="left">Orders</td>
            <td class="left">Assign Area</td>
            <td class="left"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
            <td class="left"><i class="fa fa-trash danger" aria-hidden="true"></i></td>      
        </tbody>
      </table>
  </div>
  </div>
  </div>  
