table thead {
    background: #0f75bc;
    color: #fff;
  }
  .table td, .table th{
    padding: 8px;
    vertical-align:unset;
    border-top: none;
  }
  .dist-style{
    border: 1px solid #ddd;
    margin: 20px;
  }
  .distIcon-style{
    padding: 15px;
    margin: 0px;
    border-bottom: 1px solid #c5d6de;
  }
  .pd-15x10{
    padding: 15px 10px;
  }
  .mg-0{
    margin: 0px !important;
  }
  .filter-style{
    border: 1px solid #c5d6de;
    padding: 20px 30px;
  }
  .mat-form-field{
    display: inline;
  }
  .left{
    text-align: left;
  }
  a{
    color: #0f75bc;
  }
  .pdleft-20{
    padding-left: 20px !important;
  }
  .btn-link{
    color: #0f75bc;
  }
 .disabled{
   color: grey;
 }
  
  /* .mat-dialog-container{
    height: 90% !important;
  } */