<!-- <button (click)="addPreorder()">ADD</button> -->
<div class="dist-style minheight-500">
  <div class=" row justify-content-between distIcon-style">
    <div class="col-md-2  col-sm-2  col-lg-2 left">
      <h4>
        <i class="fa fa-file-text"></i> Preorder</h4>
    </div>
    <!-- 
    search starts here -->
    <div class="col-sm-2 col-md-2 col-lg-2 align-self-center right">
      <a class="cursor logo-color mgleft-10">
        <i aria-hidden="true" class="fa fa-sliders logo-color fs-20" title="Filter" (click)="filterDailogToggle()"></i>
        <div class="filterView" *ngIf="showFilterDailog">
          <div class="">
            <br>
            <div class="form-group">
              <md-select placeholder="Filter By" [(ngModel)]="filterInput.root.searchtype" name="type" class="full-width left" (change)="onChangeType()">
                <md-option *ngFor="let type of FilterTypeDetails" [value]="type.value">
                  {{type.viewValue}}
                </md-option>
              </md-select>
            </div>
            <div class="form-group" *ngIf="filterInput.root.searchtype == 'alias' || filterInput.root.searchtype == 'mobile' || filterInput.root.searchtype == 'name' || filterInput.root.searchtype == 'address' ">
              <md-form-field class="example-full-width">
                <input class="form-control" mdInput placeholder="Value" [(ngModel)]="filterInput.root.searchtext">
              </md-form-field>
            </div>
            <div class="form-group" *ngIf="filterInput.root.searchtype == 'paymenttype'">
              <md-select placeholder="Filter By" name="paymenttype" class="full-width left" [(ngModel)]="filterInput.root.searchtext">
                <md-option value="cod">COD</md-option>
                <md-option value="credit">CREDIT</md-option>
                <md-option value="codwithpending">Cod with Pending</md-option>
                <md-option value="advlesscans">Advance Amt
                  < Available Cans</md-option>
              </md-select>
            </div>
            <div class="form-group" *ngIf="filterInput.root.searchtype == 'customertype'">
              <md-select placeholder="Filter By" name="customertype" class="full-width left" [(ngModel)]="filterInput.root.searchtext">
                <md-option value="residential">Residential</md-option>
                <md-option value="corperate">Corporate</md-option>
                <md-option value="commercial">Commercial</md-option>
              </md-select>
            </div>
            <div class="form-group" *ngIf="filterInput.root.searchtype == 'followupdate'">
              <md-form-field class="inline">
                <input mdInput [mdDatepicker]="picker" placeholder="Next FollowUp Date" name="fromdate" [(ngModel)]="followUpdate">
                <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                <md-datepicker #picker></md-datepicker>
              </md-form-field>
            </div>
            <div class=" form-group">
              <button md-raised-button color="primary" (click)="getCustomerByFilter('true')">
                <i class="fa fa-search" aria-hidden="true"></i> Search
              </button>
              <button md-raised-button color="primary" (click)="clearFilter()">
                <i class="fa fa-filter" aria-hidden="true"></i> Clear Filter
              </button>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- search ends here -->
  </div>

  <div class="pd-15 ">
    <div class="row brd-box-box" *ngFor="let preorder of customerList">
      <div class="col-4 left bg-color-bg">
        <div class="row align-items-center">
          <div class="col-2  pd-10 " align-self-center>
            <span *ngIf="preorder.isappdownloaded" class="joined-style">
              <i class="fa fa-thumbs-up success" title="Joined"></i>
            </span>
            <span *ngIf="!preorder.isappdownloaded" class="joined-style">
              <i class="fa fa-thumbs-down danger" title="Not Joined"></i>
            </span>
          </div>

          <div class="col">
            <div class="row">
              <b class="capital col-3 left">Customer: </b>
              <span class="onhovertooltip-150 left col capital" title=" {{preorder.firstname}} {{preorder.lastname}}"> {{preorder.firstname}} {{preorder.lastname}}</span>
            </div>
            <div class="row">
              <b class="capital col-3 left">Mobile: </b>
              <span class="onhovertooltip-100 col left capital" title="{{preorder.mobileno}} {{preorder.mobileno_one}} {{preorder.mobileno_two}}">{{preorder.mobileno}}
                <span *ngIf="preorder.mobileno_one || preorder.mobileno_two">{{preorder.mobileno_one}} {{preorder.mobileno_two}}</span>
              </span>
            </div>
            <div class="row">
              <b class="capital col-3 left">Email id: </b>
              <span class="onhovertooltip-100 left col" title="{{preorder.emailid}}">{{preorder.emailid}}</span>
            </div>
            <div class="row">
              <b class="capital col-3 left">Address: </b>
              <span class="onhovertooltip-150 col capitalize left" title="{{preorder.address}}">{{preorder.address}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4 align-self-center pdleft-40">
        <div class="row">
          <b class="capital col-3 left">Distributor: </b>
          <span class="onhovertooltip-150 left col capital" *ngIf="preorder.dealers" title="{{preorder.dealers.firstname}}{{preorder.dealers.lastname}}'s customer">{{preorder.dealers.firstname}}{{preorder.dealers.lastname}}'s customer </span>
        </div>
        <div class="row">
          <b class="capital col-3 left">Supplier: </b>
          <span class="onhovertooltip-150 col left" *ngIf="preorder.enable_autoassign=='true' && preorder.supplier" title="{{preorder.supplier.suppliername}}">{{preorder.supplier.suppliername}}</span>
        </div>
        <div class="row">
          <b class="capital col-3 left">Mode: </b>
          <div *ngIf="preorder.payments left" class="col left capitalize" >
            <span class="onhovertooltip-50" title="{{preorder.payments.paymenttype}} {{preorder.payments.days}}" *ngIf="preorder.payments.paymenttype=='credit'">
              {{preorder.payments.paymenttype}} , Bill Date: {{preorder.payments.days}}</span>
            <span *ngIf="preorder.payments.paymenttype=='cod'">{{preorder.payments.paymenttype}}</span>
          </div>
        </div>
      </div>

      <div class="col-2  align-self-center">
        <div class="row">
          <b class="capital col left">Deposit Amt: </b>
          <span class="success col-5 left" *ngIf="preorder.payments">{{preorder.payments.advance_amount}} </span>
        </div>
        <div class="row">
          <b class="capital col  left">Due Amt: </b>
          <span class="danger col-5 left" *ngIf="preorder.payments">{{preorder.payments.amount_pending}} </span>
        </div>
        <div class="row">
          <b class="capital col left">Type: </b>
          <span class="left capital col-5">{{preorder.registertype}}</span>
        </div>
      </div>
      <div class="col-2  align-self-center">
        <div class="">
          <i class="fa fa-pencil-square-o btn-link fs-20" aria-hidden="true" title="Edit" (click)="showEditCustomer(preorder)"></i>&nbsp;&nbsp;&nbsp;
          <i class="fa fa-cart-plus btn-link fs-20" aria-hidden="true" (click)="addPreorder(preorder)" title="Create Pre-Order"></i>
        </div>
      </div>
    </div>
  </div>

  <h4 class="warning  capitalize">
    <a href="javascript:void(0);" (click)=getcustomerByPaging(); *ngIf="preOrderClickMore">
      <i class="fa fa-cloud-upload" aria-hidden="true"></i> click for more data</a>
  </h4>
  <h4 *ngIf="!preOrderClickMore" class="warning">Record Not Available</h4>
</div>