<div class="dist-style  minheight-500">
  <div class=" row justify-content-between distIcon-style">
    <div class="col-md-2  col-sm-2  col-lg-2 left">
      <h4>
        <i class="fa fa-gift"></i> Products</h4>
    </div>
    <div class="col-md-4  col-sm-4  col-lg-4 right">
      <!-- <button md-raised-button color="primary" (click)='addInvoice()'>
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Invoice
      </button>-->
      <!-- <button md-raised-button color="primary" (click)='stockHistory()'>
        <i class="fa fa-line-chart" aria-hidden="true"></i> Stock History
      </button>  -->
      <a class="cursor logo-color " title="Add Product" (click)='addEditProduct()' *ngIf="superDealer">
        <i class="fa fa-plus fa-2 plus-style" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div>
    <table class="table table-hover">
      <tbody *ngFor="let products of productList">
        <tr class="border-topbottom bg-eee">
          <td class="">
            <b class="capital"><i class="fa fa-gift" aria-hidden="true"></i> 
               Product Name : {{products.brandName}} <b class="capital"> &nbsp;&nbsp; |  &nbsp;&nbsp;
                <span class=""><i class="fa fa-bars" aria-hidden="true"></i>
                   Category : {{products.category}}</span></b>
            </b>
          </td>
        </tr>

        <tr>
          <td colspan="3">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th width="22%">Type</th>
                  <th width="8%">Priority </th>
                  <th width="8%">Min Qty </th>
                  <th width="8%">Cost </th>
                  <th width="8%">Stock</th>
                  <th width="10%">Return cans</th>
                  <th width="12%">Status</th>
                  <th width="12%" class="no-th-arrow">Cans Returnable</th>
                  <th width="12%" class="no-th-arrow">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let details of products.data">
                  <td>
                    <b class="">{{details.ptype}}</b>
                  </td>
                  <td>
                    <b class="gray9">{{details.priority}}</b>
                  </td>
                  <td>
                    <b class="danger">{{details.minorderqty}}</b>
                  </td>
                  <td>
                    <b class="">{{details.pcost}}</b>
                  </td>
                  <td>
                    <b class="warning">{{details.avaliable_stock}}</b>
                  </td>
                  <td>
                    <b class="">{{details.avaliable_emptycans}}</b>
                  </td>

                  <td>
                    <span class="info capital">{{details.stockstatus}} </span>
                  </td>
                  <td>
                    <span class="success " *ngIf="details.iscanreturnable == 'true'">Yes </span>
                    <span class="danger " *ngIf="details.iscanreturnable != 'true'">No </span>
                  </td>
                  <td>
                    <i class="fa fa-edit logo-color cursor" aria-hidden="true" title="Edit Product" *ngIf="superDealer" (click)="editProduct(details)"></i>&nbsp;
                    <i class="fa fa-cart-plus logo-color cursor" aria-hidden="true" title="Add Stock" (click)="addStock(details)"></i>&nbsp;
                    <i class="fa fa-cart-plus logo-color cursor" aria-hidden="true" title="Update Status" (click)="UpdateStatus(details)"></i>&nbsp;
                    <i class="fa fa-line-chart logo-color cursor" aria-hidden="true" title="Stock Histroy" (click)="stockHistory(details)"></i>
                  </td>
                </tr>
              </tbody>
            </table>

          </td>
        </tr>
      </tbody>
      <!-- <tfoot>
        <tr>
          <td></td>
          <td>
            <h5 class="warning  capitalize">
              <a href="javascript:void(0);" (click)=getPagingOrderDetails(false,tabPanelView);>
                <i class="fa fa-upload" aria-hidden="true"></i> click for more data</a>
            </h5>
            <h4 class="warning">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Record Not Available</h4>


          </td>
        </tr>
      </tfoot> -->
    </table>
  </div>