<div id="" class="mgtop-5pc col-md-12 ">

  <table class="table userlist table-hover table-striped">

    <thead >

      <tr>
        <th>User</th>
        <th> Mobile no</th>
        <th >Address</th>
         <th>Service Area</th>
      </tr>

    </thead>

    <tbody>

      <tr id="Preordrlist" *ngFor="let dist of distributors"> 
        <td>
          {{dist.firstname}}
        </td>

        <td>{{dist.mobileno}}</td>

        <td>{{dist.address}}</td>
        <td> <button md-button (click)="openMapDialog(dist)">Add service area</button></td>
      </tr>

    </tbody>

  </table>



</div>

