<div class="row dist-style">
<div (window:scroll)="onScrollFunction($event)" >
  <div class=" row justify-content-between distIcon-style">
  <div class="col-2">
      <h4><i class="fa fa-sitemap"></i> Distributor</h4>
  </div>
<div class="col-2">
    <button md-raised-button color="primary" (click)="openCreateDialog()"><i class="fa fa-plus fa-2" aria-hidden="true"></i></button>
    
</div>
  </div>
  <div id="" class="row pd-15x10 mg-0">
      <div class="col-3 filter-style">
          <div class="filtercol-style height-500">
              <label class="float-left">Filter by</label><br>
                   <div class=" ">
                      <md-form-field class="example-full-width">
                        <input class="form-control" mdInput placeholder="First Name"  name="firstName">
                        <md-error >
                           Name is <strong>required</strong>
                        </md-error>
                      </md-form-field>
                    </div>
                    <div class=" form-group">
                        <md-form-field class="example-full-width">
                          <input class="form-control" mdInput placeholder="Mobile Number"  name="mobile">
                          <md-error >
                            Mobile No is <strong>required</strong>
                          </md-error>
                        </md-form-field>
                      </div> 
                <div class="input-group pd-10  ">
                  <button md-raised-button color="primary" ng-click="clearSearch()">
                    <i class="fa fa-filter" aria-hidden="true"></i> Clear Filter
                  </button>
                </div>
              </div>
       </div>
<div class="col-9">      
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>S.No</th>
          <th>User</th>
          <th>Mobile no</th>
          <th>Address</th>
          <th>Area</th>
          <th>List</th>
          <th>Service Area</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr id="Preordrlist" *ngFor="let dist of distributors; let i = index" [attr.data-index]="i">
          <th scope="row">{{i+1}}</th>
          <td>{{dist.firstname}} {{dist.lastname}}</td>
          <td>{{dist.mobileno}}</td>
          <td>{{dist.address}}</td>
          <td>
            <span *ngFor="let area of dist.areainfo; let isLast=last">
              {{area.areaname}}{{isLast ? '' : ', '}}
            </span>
          </td>
          <td><button md-button >Products</button></td>
          <td><button md-button (click)="openMapDialog(dist)">Add service area</button></td>
          <td><button md-button (click)="openUpdateDialog(dist)">Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>