<div class="row justify-content-between modal-title">
  <div class="col-sm-4 col-md-4 col-lg-4 ">
    <i class="fa fa-calendar-plus-o"></i>Payments Reports Preview
  </div>
  <div class="col-md-1  col-sm-1  col-lg-1 right">
    <strong>
      <i class="fa fa-times fs-20" aria-hidden="true" (click)="onCloseCancel()"></i>
    </strong>
  </div>
</div>

<!-- this is the table for customer order reports -->
<div id="" class="container-fluid pd-15x25 brd-bottom" *ngIf="Details.type == 'customersPaymentReports'">
  <div class="well">
      <div class="row justify-content-between">
      <div class="col-5">
        <div class="row">
          <b class="col-sm-4">Invoice number: </b>
          <!-- <div class="col-sm-8">
            <span>{{invoiceNumber}} </span>
          </div> -->
        </div>
        <div class="row">
          <b class="col-sm-4">Subject: </b>
          <!-- <div class="col-sm-8">
            <span>Customers Orders Invoice </span>
          </div> -->
        </div>
        <div class="row">
          <b class="col-sm-4">Total Quantity: </b>
          <!-- <div class="col-sm-8">
            <span>{{totalQuantity}} </span>
          </div> -->
        </div>
        <div class="row">
          <b class="col-sm-4">Total Amount: </b>
          <!-- <div class="col-sm-8">
            <span>{{totalAmount}} </span>
          </div> -->
        </div>
      </div>
        <div class="col-5">
          <div class="row">
            <b class="col-sm-4">Name: </b>
            <!-- <div class="col-sm-8">
              <span *ngIf="Details.data[0].orderby_firstname" class="capitalize">
                {{Details.data[0].orderby_firstname}} </span>
              <span *ngIf="!Details.data[0].orderby_firstname">
                - </span>
            </div> -->
          </div>

          <div class="row">
            <b class="col-sm-4">Mobile number: </b>
            <!-- <div class="col-sm-8">
              <span *ngIf="Details.data[0].orderby_mobileno">
                {{Details.data[0].orderby_mobileno}} </span>
              <span *ngIf="!Details.data[0].orderby_mobileno">
                - </span>
            </div> -->
          </div>
          <div class="row">
            <b class="col-sm-4">Address: </b>
            <!-- <div class="col-sm-8">
              <span *ngIf="Details.data[0].orderby_address" class="capitalize">
                {{Details.data[0].orderby_address}} </span>
              <span *ngIf="!Details.data[0].orderby_address">
                - </span>
            </div> -->
          </div>
        </div>
      
    </div>
  </div>

  <md-dialog-content layout="column">
    <table class="table table-hover table-fixedheader table-striped">
      <thead>
        <tr>
          <th class="" width="15%">Order Id</th>
          <th class="" width="25%">Product</th>
          <th class="" width="20%">Amount</th>
          <th class="" width="20%">Paid</th>
        </tr>
      </thead>
      <!-- <tbody>
        <tr *ngFor="let customerOrders of customersOrdersReports">
          <td class="" width="15%">
            <span *ngIf="customerOrders.order_id">#{{customerOrders.order_id}}</span>
            <span *ngIf="!customerOrders.order_id"> - </span>
          </td>
          <td class="" width="25%">
            <span *ngIf="customerOrders.category || customerOrders.brandname">{{customerOrders.category}} {{customerOrders.brandname}}</span>
            <span *ngIf="!customerOrders.category"> - </span>
          </td>
          <td class="" width="20%">
            <span *ngIf="customerOrders.bill_amount">{{customerOrders.bill_amount}}</span>
            <span *ngIf="!customerOrders.bill_amount"> - </span>
          </td>
          <td class="" width="20%">
            <span *ngIf="customerOrders.orderby_paymenttype">{{customerOrders.orderby_paymenttype}}</span>
            <span *ngIf="!customerOrders.orderby_paymenttype"> - </span>
          </td>

      </tbody> -->
    </table>
  </md-dialog-content>
</div>

<!-- this is the table for customer order reports ends here -->

<!-- this is the table for distributors order reports     -->


<div id="" class="container-fluid pd-15x25 brd-bottom"  *ngIf="Details.type == 'distributorPaymentReports'">
  <div class="well">
    <div class="row justify-content-between" >

      <div class="col-6">
        <div class="row">
          <b class="col-sm-4">Distributors Name: </b>
          <div class="col-sm-8">
            <span *ngIf="Details.data[0].distributorname" class="capitalize">{{Details.data[0].distributorname}}</span>
            <span *ngIf="!Details.data[0].distributorname">- </span>
          </div>
        </div>
        <div class="row">
          <b class="col-sm-4">Enterprise Name: </b>
          <div class="col-sm-8">
            <span *ngIf="Details.data[0].companyname" class="capitalize">
              {{Details.data[0].companyname}}</span>
            <span *ngIf="!Details.data[0].companyname">- </span>
          </div>
        </div>

        <div class="row">
          <b class="col-sm-4">Mobile number: </b>
          <div class="col-sm-8">
            <span *ngIf="Details.data[0].distributormobile" class="capitalize">
              {{Details.data[0].distributormobile}}</span>
            <span *ngIf="!Details.data[0].distributormobile">- </span>
          </div>
        </div>
        <div class="row">
          <b class="col-sm-4">Address: </b>
          <div class="col-sm-8">
            <span *ngIf="Details.data[0].distributoraddress" class="capitalize">
              {{Details.data[0].distributoraddress}} </span>
            <span *ngIf="!Details.data[0].distributoraddress">- </span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="" class="container-fluid pd-15x25 brd-bottom">
  <md-dialog-content layout="column">
    <table class="table table-hover table-fixedheader">
      <thead>
        <tr>
          <th class="" width="15%">Order Id</th>
          <th class="" width="20%">Product</th>
          <th class="" width="15%">Amount</th>
          <th class="" width="20%">Paid</th>
          <th class="" width="20%">Payment Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let distributorPayment of distributorsPaymentReports">
          <td class="" width="15%">
            <span *ngIf="distributorPayment.order_id">#{{distributorPayment.order_id}}</span>
            <span *ngIf="!distributorPayment.order_id"> - </span>
          </td>
          <td class="" width="20%">
            <span *ngIf="distributorPayment.category || distributorPayment.brandname" class="capitalize">{{distributorPayment.category}} {{distributorPayment.brandname}}
            </span>
            <span *ngIf="!distributorPayment.category"> - </span>
          </td>
          <td class="" width="15%">
            <span *ngIf="distributorPayment.quantity">{{distributorPayment.quantity}}</span>
            <span *ngIf="!distributorPayment.quantity"> - </span>
          </td>
          <td class="" width="20%">
            <span *ngIf="distributorPayment.bill_amount">{{distributorPayment.bill_amount}}</span>
            <span *ngIf="!distributorPayment.bill_amount"> - </span>
          </td>
          <td class="" width="20%">
            <span *ngIf="distributorPayment.paymenttype">{{distributorPayment.paymenttype}}</span>
            <span *ngIf="!distributorPayment.paymenttype"> - </span>
          </td>
          

      </tbody>
    </table>
  </md-dialog-content>
</div>


<!-- this is the table for distributor order reports ends here -->



<div class="row float-right pdright-30 mgbottom-20">
    <md-dialog-actions align="end">
      <button md-raised-button (click)='onCloseCancel()'>CANCEL</button>&nbsp;
    </md-dialog-actions>
  </div>
