.table-scroll{
    overflow-x: hidden;
    height: 300px;
    overflow-y: auto;
}
.bg-ddd{
    background: #0f75bc;
    color: #fff;
}

.wd-50pc{
    width: 50%;
}

.head-color{
    background: #ddd;
}

.bgcolor-fade-blue{
    box-shadow: 0px 0px 50px #0f75bc inset !important;
}