.table-scroll{
    overflow-x: hidden;
    max-height:65vh;
    overflow-y: auto;
}
.bg-ddd{
    background: var(--logo-color);
    color: #fff;
}

.wd-50pc{
    width: 50%;
}

.head-color{
    background: #ddd;
}

.bgcolor-fade-blue{
    box-shadow: 0px 0px 50px var(--logo-color) inset !important;
}
.table{
    margin-bottom: 0px !important;
}