
table.table-fixedheader>tbody {
    overflow-y: auto !important;
    max-height: 250px;
    overflow-x: hidden;
}
  .assign-style{
  border-top: 1px solid #ddd;
  text-align: center;
  padding-top: 12px;
}
table{
  margin-bottom: 0px !important;
}