
table.table-fixedheader>tbody {
    overflow-y: auto !important;
    max-height: 45vh;
    overflow-x: hidden;
}
  .assign-style{
  border-top: 1px solid #ddd;
  text-align: center;
  padding-top: 12px;
}
table{
  margin-bottom: 10px !important;
}
.DistList-height table.table-fixedheader>tbody {
  overflow-y: auto !important;
  max-height: 50vh;
  overflow-x: hidden;
}