<div class="row justify-content-between modal-title ">
  <div class="col-md-4  col-sm-4  col-lg-4">
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    Assigning Order
  </div>
  <div class="col-md-1  col-sm-1  col-lg-1 right">
    <strong (click)="onCloseCancel()">
      <i class="fa fa-times fs-20" aria-hidden="true"></i>
    </strong>
  </div>
</div>

<md-dialog-content layout="column">
  <nav class="nav nav-pills flex-column flex-sm-row  mgtopbottom-10 center">
    <a class="offset-md-4 flex-sm-fill text-sm-center nav-link " [ngClass]="{'active': tabPanelView === 'suppliers'}" href="javascript:void(0)"
      (click)="showTabPanel('suppliers')">Suppliers</a>
    <a class="flex-sm-fill text-sm-center nav-link  " [ngClass]="{'active': tabPanelView === 'distributors'}" href="javascript:void(0)"
      (click)="showTabPanel('distributors')" *ngIf="superDealer">Distributors</a>
    <!-- <a class="left" type=checkbox value=autoassign>Auto-assign</a> -->
  </nav>
  <div class="container-fluid brd-bottom" *ngIf="tabPanelView === 'suppliers'">
    <span class="fa fa-search"></span>

    <md-form-field class="wd-96pc">
      <input mdInput class="form-control" placeholder="Search Name" [(ngModel)]="searchSupplierTerm" (ngModelChange)="searchSupplier()"
        name="searchSupplierTerm">
    </md-form-field>
    <table class="table table-hover table-fixedheader table-striped">
      <thead>
        <tr>
          <th width="30%">Name</th>
          <th width="14%">Mobile </th>
          <th width="24.5%">Area Name</th>
          <th width="30%">Address</th>
        </tr>
      </thead>
      <tbody>

        <!-- bug fix (ngModelChange)="changed($event)" for showing already assigned supplier in auto assign-->

        <tr *ngFor="let supplier of suppliers; let i = index" [attr.data-index]="i">
          <td width="30%" class="left capital">
            <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0" *ngIf="supplier.userid">
              <input type="radio" [(ngModel)]="supplierID" class="custom-control-input" name="{{supplier.userid}}" [value]="supplier.userid"
                (change)="autoAssignChange(supplier, $event)">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{supplier.firstname}} {{supplier.lastname}}</span>
            </label>
          </td>
          <!-- <td width="30%" class="left capital">  <input type="radio" [(ngModel)]="distributorID"  name="{{dist.userid}}" value="{{dist.userid}}">
              {{dist.firstname}} {{dist.lastname}}</td> -->
          <td width="15%" class="left capital">{{supplier.mobileno}}</td>
          <td width="25%" class="left capital">{{supplier.areaname}}</td>
          <td width="30%" class="left capital">
            <span class="onhovertooltip-200">{{supplier.address}}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-checkbox form-checkbox-inline assign-style" *ngIf="tabPanelView =='suppliers'">
      <label class="custom-control custom-checkbox mb-4 mr-sm-4 mb-sm-4">
        <input type="checkbox" class="custom-control-input" [(ngModel)]="this.autoAssign">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description logo-color"> Auto-Assign </span>
      </label>
    </div>

    <!-- <span> {{message}}</span>
        <br> -->

    <!-- <span *ngIf="this.orderDetail.supplierdetails.userid">This customer is already auto assigned to supplier</span> -->
  </div>
  
  <div class="container-fluid brd-bottom" *ngIf="tabPanelView === 'distributors'">
    <span class="fa fa-search"></span>
    <md-form-field class="example-full-width wd-96pc">
      <input mdInput class="form-control" placeholder="Search Name" [(ngModel)]="searchDistTerm" (ngModelChange)="searchDistrubutors()"
        name="searchSupplierTerm">
    </md-form-field>

    <div class="DistList-height">
    <table class="table table-hover table-fixedheader table-striped">
      <thead>
        <tr>
          <th width="30%">Name</th>
          <th width="14%">Mobile </th>
          <th width="24.5%">Area Name</th>
          <th width="30%">Address</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let dist of distributors; let i = index" [attr.data-index]="i">
          <td width="30%" class="left capital">
            <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
              <input type="radio" [(ngModel)]="distributorID" class="custom-control-input" name="{{dist.userid}}" value="{{dist.userid}}">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{dist.firstname}} {{dist.lastname}}</span>
            </label>
          </td>
          <!-- <td width="30%" class="left capital">  <input type="radio" [(ngModel)]="distributorID"  name="{{dist.userid}}" value="{{dist.userid}}">
          {{dist.firstname}} {{dist.lastname}}</td> -->
          <td width="15%" class="left capital">{{dist.mobileno}}</td>
          <td width="25%" class="left capital">{{dist.areaname}}</td>
          <td width="30%" class="left capital">
            <span class="onhovertooltip-200">{{dist.address}}</span>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</md-dialog-content>
<div class="row float-right pdright-30  mgbottom-20">
  <md-dialog-actions align="end">
    <p *ngIf="tabPanelView === 'suppliers'">{{message}}</p> &nbsp;&nbsp;&nbsp;
    <button type="submit" md-raised-button *ngIf="tabPanelView === 'suppliers'" [disabled]="!supplierID" (click)="assignOrder()"
      class="btn-primary">ASSIGN</button>
    <button type="submit" md-raised-button *ngIf="tabPanelView === 'distributors'" [disabled]="!distributorID" (click)="openProductAssingDialog()"
      class="btn-primary">FORWARD</button>&nbsp;
    <button md-raised-button (click)="onCloseCancel()">CANCEL</button>

  </md-dialog-actions>
</div>