<div class="row justify-content-between modal-title ">
  <div class="col-md-4 col-sm-4">
    <i class="fa fa-comments-o"></i> Messages
  </div>
  <div class="col-md-1 col-sm-1 right">
    <strong>
      <i class="fa fa-times fs-20" aria-hidden="true" (click)="onCloseModal()"></i>
    </strong>
  </div>
</div>
<md-dialog-content layout="column">

  <div class="container-fluid pd-15x25 brd-bottom">
    <!-- <div class="row">
      <b class="label-style col">Personal Details
        <span></span>
      </b>
    </div> -->
   
    <div class="row mg-top-10" >
      <div class="col-3">
          
      <md-select placeholder="Type" [(ngModel)]="createTemplateInput.temptype"  name="type">     
      <md-option value="message">message</md-option>
      <md-option value="Remainder">Remainder</md-option>
      <md-option value="status">status</md-option>
      <md-option value="sms">sms</md-option>

</md-select>
</div>


<div class="col-3">
 
    <md-select placeholder="Order status" [(ngModel)]="createTemplateInput.orderstatus" name="status">
      <md-option value="OrderCreated">Order Created</md-option>
      <md-option value="OrderAssigned">Order Assigned</md-option>      
      <md-option value="OutForDelivery">Out for delivery</md-option>
      <md-option value="Cancelled">Cancelled</md-option>
      <md-option value="Rejected">Rejected</md-option>
      <md-option value="Cantdeliver">Cant deliver</md-option>
      <md-option value="Distributorpending">Distributor pending</md-option>
    </md-select>
  </div>
  <div class="col-3">
      <md-form-field class="">
          <input class="form-control" mdInput placeholder="Template Name" name="tempname" [(ngModel)]="createTemplateInput.tempname">
        </md-form-field>
      </div>
</div>




<div class="row  form-group ">
<div class="col-5">

    <b class="label-style col">Audience </b>
  </div>  


  <div class="col-7">

      <b class="label-style col">Message type</b>
    </div>  

</div>



<div class="row mg-0">
 
    <div class="col-2 align-self-end">
       
        <span class="left capital">
            <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
              <input type="radio"  class="custom-control-input" name="customerType" value="Customer" [(ngModel)]= "createTemplateInput.type">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Customer</span>
            </label>
          </span>
          </div>
          <div class="col-3 align-self-end marleft">
          <span class="left capital">
            <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
              <input type="radio" class="custom-control-input" [(ngModel)]= "createTemplateInput.type" name="customerType" value="Distributor">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">distributor </span>
            </label>
          </span>
          </div>



          
          <div class="col-2 align-self-end pd-left-30">
       
              <span  class="left capital">
                  <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio"  class="custom-control-input" name="state" value="static" [(ngModel)]= "createTemplateInput.messagetype">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Static</span>
                  </label>
                </span>
                </div>
                <div class="col-2 align-self-end marleft">
                <span class="left capital">
                  <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input type="radio" class="custom-control-input" name="state" value="dynamic" [(ngModel)]= "createTemplateInput.messagetype">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Dynamic</span>
                  </label>
                </span>
                </div>


</div>
<div class="row">
<div class="col">
  <md-form-field class="wd-100pc">
      <textarea class="form-control" mdInput placeholder="Body" [(ngModel)]="createTemplateInput.template_desc" name="Address"></textarea>
    </md-form-field>
</div>
</div>




</div>







</md-dialog-content>
<div class="row float-right pdright-30 mgbottom-20">
  <md-dialog-actions align="end">
    <button type="submit" class="btn-primary" md-raised-button (click)="createUpdateTemplate()">SUBMIT</button>
    <button md-raised-button (click)="onCloseModal()">CANCEL</button>&nbsp;
  </md-dialog-actions>
</div>


