.minwid[_ngcontent-c7] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 173px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    margin-right: -48px;
}
.capital {
    text-transform: capitalize;
    margin-left: -27px;
}

.brd-bottom {
    border-bottom: 1px solid #ddd;
    border-radius: none;
    padding-top: 0px;
    padding-bottom: 0px;
}
.martop {
    margin-top: 20px;
}

.mg-0 {
    margin-right: 0px;
    margin-left: 5px;
}

.mg-top-10{
    margin-top: 10px !important;
}


.capital[_ngcontent-c7] {
    text-transform: capitalize;
    margin-left: -2px;
}

.pd-left-30{
    padding-left: 30px;
}
