<div class="row  modal-title ">
  <div class="col-md-3  col-sm-3  col-lg-3">
    <i class="fa fa-file-text-o"></i> Order Coverage
  </div>
  <div class="col center">
      <span class="capital">Customer :{{orderDetail.orders.customer.firstname}}</span>  
      <span class="mgleft-10 capital">Brand : {{orderDetail.orders.brandname}}</span> 
      <span>{{orderDetail.orders.prod_type}}</span> - 
      <span>{{orderDetail.orders.quantity}}(qty)</span>
      </div>
  <div class="col-md-2 right">
    <span class="fa fa-search"></span>
    <strong (click)="onCloseCancel()">
      <i class="fa fa-times fs-20" aria-hidden="true"></i>
    </strong>
  </div>
</div>

<md-dialog-content layout="column">
    <form class="example-form" >
      <div class="row mg-10-5">
          <div class=" col-3 offset-1">
              <md-form-field class="wd-100pc">
                  <input class="form-control" [(ngModel)]="reasonOnHold" autocorrect="off" autocapitalize="off" spellcheck="off" mdInput placeholder="search for location" name="Return Cans"  class="form-control" #search [formControl]="searchControl" [disabled]="smallLoader == true">
            </md-form-field>
              <!-- <input placeholder="search for location"  type="text"> -->
            </div>
        <div class="col-2" >
            <md-select placeholder="Filter By" [(ngModel)]="filterInputkmvalue.kmvalue" name="type" class="full-width left" [disabled]="smallLoader == true">
              <md-option value="0.03">3 KM</md-option>
              <md-option value="0.05">5 KM</md-option>
              <md-option value="0.1">10 KM</md-option>
              <md-option value="all">Full Coverage</md-option>
            </md-select>

          </div>
          <div class=" col-3">
              <angular2-multiselect class="" [data]="categoryList"  [(ngModel)]="dropdownData.selectedItems" [settings]="dropdownSettings"
                name="selectedItem" [disabled]="smallLoader == true" ></angular2-multiselect>
            </div>
          <div class="col-3">
          <button md-raised-button color="primary" (click)="filterPolygon()" [disabled]="smallLoader == true" > Filter </button> 
          <button *ngIf="orderDetail.distId" md-raised-button color="primary" (click)="openMapDialog(orderDetail.distDetails)" [disabled]="smallLoader == true">Assign Area</button>
          
        </div>

        <div class=" col-sm-1  col-md-1  col-lg-1 align-self-center" *ngIf="smallLoader">
          <img src="assets/images/loader.gif" class="wd-60">
        </div>

        
      </div>
  <div class="container-fluid brd-bottom">
     
    <div class="row">
      <div class="col mgbottom-10">
          <div *ngIf="gpsMessage"><h4 class="warning"><span class="fa fa-globe"></span> {{gpsMessage}}</h4></div>        
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" class="">
          <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng"></agm-marker>
          <agm-polygon *ngFor="let p of displayPolygon; let i = index" [paths]="p.path" [fillColor]="'#0073e6'" [geodesic]="true" [strokeWeight]="1"
            [clickable]="true" (polyClick)="click($event,p)" [editable]="false" [polyDraggable]="false">
          </agm-polygon>
        </agm-map>
      
      </div>
      <div class="col-md-4" *ngIf="listOfDistributors.length">
          <table class="table table-hover table-striped table-fixedheader nofath">
              <thead>
            <tr>
              <!-- <th width="3%">S.No</th> -->
              <th width="25%"><small> Distributor</small></th>
              <th width="23%"><small>Create Date</small></th>
              <th width="22%"><small>Mobile</small></th>          
              <th width="30%" class="center"> <small>Action</small></th>
      
              <!-- <th width="0%" class=""  *ngIf="orderDetail.orders.OrderModifiedStatus != 'Delivered'" ></th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dist of listOfDistributors; let i = index" [attr.data-index]="i">
              <!-- <td width="3%" class="left" scope="row">{{i+1}}</td> -->
              <td width="25%" class="left capital"><small><span class="onhovertooltip-100" title="{{dist.distributorName}}">{{dist.distributorName}}</span></small></td>
              <td width="23%" class="left capital"><small> - </small></td>
              <td width="22%" class="left capital"><small>{{dist.mobileno}}</small>
              <small *ngIf="dist.mobileno1">{{dist.mobileno1}}</small>
              <small *ngIf="dist.mobileno2">{{dist.mobileno2}}</small>              
              </td>
              <td width="29%" class=" capital center">
                <span (click)="ViewProduct(dist)" class="logo-color"><i class="fa fa-gift fs-20" aria-hidden="true"></i></span>
                  <span (click)="DistrbutorHover(dist)" class="logo-color"><i class="fa fa-map" aria-hidden="true"></i></span>
                      <span class="logo-color" title="Orders"  (click)="distributorsOrders(dist)"><i class="fa fa-file-text-o" ></i> </span>
                <label class="logo-color" title="Assign" *ngIf="orderDetail.orders.OrderModifiedStatus != 'Delivered'" (click)="openProductAssingDialog(dist)" > <i class="fa fa-check-circle-o"></i>
                </label>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  </form>
</md-dialog-content>

<div class="row float-right pdright-30  mgbottom-20">

  
  <md-dialog-actions align="end">
     
      <button md-raised-button color="primary" (click)="ClearAllPolygons()"> CLEAR ALL</button> &nbsp;
    <button md-raised-button color="primary" (click)="ShowAllPolygons()"> SHOW ALL</button> &nbsp;
    <button md-raised-button color="primary" *ngIf="orderDetail.orders.OrderModifiedStatus != 'Delivered'" (click)="ViewDistributors()">ASSIGN</button>
  </md-dialog-actions>
</div>