<div class="row justify-content-between modal-title ">
  <div class="col-md-4  col-sm-4  col-lg-4">
    <i class="fa fa-file-text-o"></i> Order Coverage
  </div>
  <div class="col-md-1  col-sm-1  col-lg-1 right">
    <strong (click)="onCloseCancel()">
      <i class="fa fa-times fs-20" aria-hidden="true"></i>
    </strong>
  </div>
</div>

<md-dialog-content layout="column">
    <form class="example-form" >
      <div class="row mgtopleft-20" >
          <div class="form-group col-6 align-self-center">
              <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
            </div>
        <div class="form-group col-2" >
            <md-select placeholder="Filter By" [(ngModel)]="filterInputkmvalue.kmvalue" name="type" class="full-width left">
              <md-option value="0.03">3 KM</md-option>
              <md-option value="0.05">5 KM</md-option>
              <md-option value="0.1">10 KM</md-option>
              <md-option value="all">Full Coverage</md-option>
            </md-select>

          </div>
          <div class="form-group col-2">
              <angular2-multiselect class="" [data]="categoryList"  [(ngModel)]="dropdownData.selectedItems" [settings]="dropdownSettings"
                name="selectedItem"></angular2-multiselect>
            </div>
          <div class="col-2 align-self-center">
          <button md-raised-button color="primary" (click)="filterPolygon()"> Filter </button> 
          
        </div>
      </div>
  <div class="container-fluid brd-bottom mgtop-20">
     
    <div class="row">
      <div class="col">
          <div *ngIf="gpsMessage"><h4 class="warning">{{gpsMessage}}</h4></div>        
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" class="">
          <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng"></agm-marker>
          <agm-polygon *ngFor="let p of displayPolygon; let i = index" [paths]="p.path" [fillColor]="'#0073e6'" [geodesic]="true" [strokeWeight]="1"
            [clickable]="true" (polyClick)="click($event,p)" [editable]="false" [polyDraggable]="false">
          </agm-polygon>
        </agm-map>
      </div>
      <div class="col-md-3" *ngIf="listOfDistributors.length">
          <table class="table table-hover table-fixedheader nofath">
              <thead>
            <tr>
              <!-- <th width="3%">S.No</th> -->
              <th width="35%"><small> Distributor</small></th>
              <th width="28%"><small>Mobile</small></th>
              <th width="22%"><small>Products</small></th>
              <th width="15%" class="center"> <small>Areas</small></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dist of listOfDistributors; let i = index" [attr.data-index]="i">
              <!-- <td width="3%" class="left" scope="row">{{i+1}}</td> -->
              <td width="35%" class="left capital"><small>{{dist.distributorName}}</small></td>
              <td width="28%" class="left capital"><small>{{dist.mobileno}}</small></td>
              <td width="20%" class=" capital center">
                <label (click)="ViewProduct(dist)" class="logo-color"><i class="fa fa-gift fs-20" aria-hidden="true"></i>
                   </label>
              </td>
              <td width="15%" class=" capital center">
                  <label (click)="DistrbutorHover(dist)" class="logo-color"><i class="fa fa-map" aria-hidden="true"></i>
                     </label>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </form>
</md-dialog-content>

<div class="row float-right pdright-30  mgbottom-20">
  <md-dialog-actions align="end">
     
      <button md-raised-button color="primary" (click)="ClearAllPolygons()"> CLEAR ALL</button> &nbsp;
    <button md-raised-button color="primary" (click)="ShowAllPolygons()"> SHOW ALL</button> &nbsp;
    <button md-raised-button color="primary" *ngIf="orderDetail.orders.OrderModifiedStatus != 'Delivered'" (click)="ViewDistributors()">Assign</button>
  </md-dialog-actions>
</div>