#map {
  height: 550px;
}
.pd-5{
  padding: 5px;
}
.pd-leftright-0{
  padding-left: 0px;
  padding-right: 0px; 
}
.height-91pc{
  height: 91% !important;
}
.row {
    margin-right: 0px; 
    margin-left: 0px;
}