<div class="dist-style minheight-500">
    <div class=" row justify-content-between distIcon-style">
      <div class="col-md-2  col-sm-2  col-lg-2 left">
        <h4>
          <i class="fa fa-file-text"></i> Profile Update</h4>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 align-self-center right">
          <a class="cursor logo-color " title="Change Password" (click)='changePassword()'>
              <i class="fa fa-key" aria-hidden="true"></i><small>Change Password</small>
          </a>
      </div>
    </div>
      
    <div class="container-fluid contbg">
        <div class="jumbotron boxsdw">
          <div class="row">
            <div class="col-6 ">
              <md-form-field class="">
                <input class="form-control" mdInput placeholder="First Name" name="firstName" [(ngModel)]="profileUpdate.firstname" >
                <md-error>
                  First Name is
                  <strong>required</strong>
                </md-error>
              </md-form-field>

      
            </div>
            <div class="col-6">
              <md-form-field class="">
                <input class="form-control" mdInput placeholder="Last Name" name="lastname" [(ngModel)]="profileUpdate.lastname">
                <md-error>
                  Last Name is
                  <strong>required</strong>
                </md-error>
              </md-form-field>

              

              
     
            
            </div>
          </div>
          <div class="row">
              <div class="col-6 ">
            <md-form-field class="">
              <input class="form-control" mdInput placeholder="Phone Number" name="phonenumber" maxlength="10" [(ngModel)]="profileUpdate.mobileno" >
              <md-error>
                Phone Number is
                <strong>required</strong>
              </md-error>
            </md-form-field>
            </div>
            <div class="col-6 ">
                <md-form-field class="">
                    <input class="form-control" mdInput placeholder="Email id" name="emailid"   [(ngModel)]="profileUpdate.emailid">
                    <md-error>
                        Email id is
                        <strong>required</strong>
                      </md-error>
                  </md-form-field>
              </div>
          </div>

          <div class="row">
          <div class="col-6 ">
          <md-form-field class="">
            <input class="form-control" mdInput placeholder="Company Name" name="companyName" [(ngModel)]="profileUpdate.companyname"  >
          </md-form-field>
        </div>

          <div class="col-6 ">
          <md-form-field class="">
            <input class="form-control" mdInput placeholder="Reference Code" name="referenceCode" [(ngModel)]="profileUpdate.referCode" >
          </md-form-field>
          </div>
          </div>


          <div class="row">
            <div class="col">
              <div class="">
              <md-form-field class="wd-80pc">
                <textarea class="form-control" mdInput placeholder="Address" name="Address"  [(ngModel)]="profileUpdate.address"  ></textarea>
              </md-form-field>
            </div>
            <div class="smalltxt-style">
              <small class="">Characters Remaining :
                <span class="danger"> {{500 - profileUpdate.address.length}}</span>
              </small>
              </div>
              <div *ngIf="updateStatus">
                  <span >Profile Updated successfully</span>
                </div> 
            </div>

          </div>

          <div class="row">
              <div class="col align-self-center">
 <button md-raised-button class="btn-primary" (click)="updateProfile()">UPDATE</button>&nbsp;
</div>
</div>
</div>
</div>
</div>

          <!-- <div class="row">
            <div class="col-md-4 col-sm-6">
              <md-form-field class="">
                <input class="form-control" mdInput placeholder="city" name="city" [(ngModel)]="profileUpdate.city">
              </md-form-field>
                <md-form-field class="">
                    <input class="form-control" mdInput placeholder="State" name="state"   [(ngModel)]="profileUpdate.state">
                  </md-form-field>

            </div>
            
            
            <div class="col-md-4 col-sm-6">
                <md-form-field class="">
                  <input class="form-control" mdInput placeholder="Pin Code" name="pincode"   [(ngModel)]="profileUpdate.pincode">
                </md-form-field>
              
              </div>
            </div> -->


  