.bigicon{
    width: 24px !important;
    height: 24px !important;
}
.jumbotron {
    padding: 3rem 2rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    box-shadow: 1px 1px 2px 2px #ddd;
    background: #fff;
}
.smalltxt-style{
margin-top:  -20px;
margin-left: 65px;
    text-align: left;
}
.fa-key:before {
    content: "\F084";
    padding: 4px;
}

.boxsdw{
    box-shadow: 0 19px 41px -6px #777;
    border-radius: 0px;
}
.contbg{
    background-image: url(../../assets/images/bg_virtus.png);
    height: fit-content;
    padding-top: 26px;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
    padding: 4px;
}

.error{
    color: red;
}

/* .bg-imglogo{
    background-image:url(../assets/images/bg_virtus.png);
   } */