<div class=" dist-style minheight-500">
  <div class=" row justify-content-between distIcon-style left">
    <div class="col-sm-2 col-md-2 col-lg-2 ">
      <h4>
        <i class="fa fa-file-powerpoint-o"></i> Points</h4>


    </div>
    <div class="col-sm-1 col-md-1 col-lg-1 align-self-center right">
        <a class="cursor logo-color  mgleft-10" title="Add Points" (click)='addpoints()'>
            <i class="fa fa-plus-circle fs-20" aria-hidden="true"></i>
          </a>


    </div>
  </div>
  <div>

    <div class="row pd-15 mg-0">
        <table class="table table-hover table-striped" style="table-layout:fixed">
          <thead >
            <tr >
              <th width="20%">Feature</th>
              <th width="20%">Description</th>
              <th width="20%">Points</th>
              <th width="20%">Type</th>
              <th width="20%%">Action</th>


            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let points of allPoints">
              <td class="" width="">{{points.type}}</td>
              <td class="" width="">{{points.description}}</td>
              <td class="" width="">{{points.points}}</td>
              <td class="" width="">{{points.subtype}}</td>
              <td class="" width="">
                <i  *ngIf="points.isactive == 1 "class="fa fa-thumbs-up green" title="Active State" (click)="DeactivatePoints(points.type)" ></i>
                <i *ngIf="points.isactive == 0" class="fa fa-thumbs-down red" title="In-active State" (click)="ActivatePoints(points.type)" ></i>

                <i class="fa fa-edit logo-color" title="Edit points" (click)="editPoints(points)"></i> 
              </td>
            </tr>
          </tbody>
        </table>



   
    </div>
  </div>
</div>