<div class=" dist-style minheight-500">
  <div class=" row justify-content-between distIcon-style left">
    <div class="col-sm-2 col-md-2 col-lg-2 ">
      <h4>
        <i class="fa fa-file-powerpoint-o"></i> Points</h4>


    </div>
    <div class="col-sm-1 col-md-1 col-lg-1 align-self-center right">


    </div>
  </div>
  <div>

    <div class="row pd-15 mg-0">
      <div class="">
        <table class="table table-hover table-striped" style="table-layout:fixed">
          <thead>
            <tr>
              <th width="">Feature</th>
              <th width="">Description</th>
              <th width="">Points</th>
              <th width="5%">Action</th>


            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="" width=""> Sign up </td>
              <td class="" width=""> When user signs up the system</td>
              <td class="" width=""> 20 point to customer who signed up</td>
              <td class="" width="">
                <i class="fa fa-edit logo-color cursor" title="Edit Points" (click)="editpoints()" ></i>
              </td>
            </tr>
          </tbody>
        </table>



      </div>
    </div>
  </div>
</div>