<div class=" dist-style minheight-500">
  <div class=" d-flex  justify-content-between distIcon-style align-items-center">
    <div class="" style=" width: 28%;">
      <h4>
        <i class="fa fa-commenting-o"></i> Stock Notifications </h4>
    </div>

    <div class="" style="width:50%">
      <button type="submit" md-raised-button [ngClass]="{'btn-primary': tabPanelView === 'all'}" href="javascript:void(0)"
        (click)="showTabPanel('all')">All</button>

      <button type="submit" md-raised-button [ngClass]="{'btn-primary': tabPanelView === 'pending'}" href="javascript:void(0)"
        (click)="showTabPanel('pending')">Pending</button>

      <button type="submit" md-raised-button [ngClass]="{'btn-primary': tabPanelView === 'confirmed'}" href="javascript:void(0)"
        (click)="showTabPanel('confirmed')">Confirmed</button>

      <button type="submit" md-raised-button [ngClass]="{'btn-warning': pageView === 'grid'}" href="javascript:void(0)"
        (click)="showPanelType('grid')">GRID</button>

      <button type="submit" md-raised-button [ngClass]="{'btn-warning': pageView === 'map'}" href="javascript:void(0)"
        (click)="showPanelType('map')">MAP</button>
    </div>

    <div class="d-flex">
      <div class="flex-fill p-2 col-3">
        <md-select class="wd-100pc" placeholder="Filter By" [(ngModel)]="stockFilter.filterType">
          <md-option value="createdby">Created By</md-option>
          <md-option value="distributor">Distributor</md-option>
          <md-option value="category"> Category</md-option>
        </md-select>
      </div>

      <!-- <div class="row"> -->
      <div class="flex-fill p-2 col-3" *ngIf="stockFilter.filterType == 'createdby'">
        <md-form-field class="wd-100pc">
          <input mdInput placeholder="Created by name" aria-label="State" [mdAutocomplete]="auto" [formControl]="allUsersCtrl">
          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let user of filteredUsers | async" [value]="user.firstname">
              <span>{{ user.firstname }}</span>
            </md-option>
          </md-autocomplete>
        </md-form-field>
      </div>

      <div class="flex-fill p-2 col-3" *ngIf="stockFilter.filterType == 'distributor'">
        <md-form-field class="wd-100pc">
          <input mdInput placeholder="Distributor name" aria-label="State" [mdAutocomplete]="auto" [formControl]="allDistributorsCtrl">
          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let dist of filteredDistributors | async" [value]="dist.firstname">
              <span>{{ dist.firstname }}</span>
            </md-option>
          </md-autocomplete>
        </md-form-field>
      </div>

      <div class="flex-fill p-2 col-3" *ngIf="stockFilter.filterType == 'category'">
        <md-form-field class="wd-100pc">
          <input mdInput placeholder="Category name" aria-label="State" [mdAutocomplete]="auto" [formControl]="allCategoriesCtrl">
          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let cat of filteredCategories | async" [value]="cat.category">
              <span>{{ cat.category }}</span>
            </md-option>
          </md-autocomplete>
        </md-form-field>
      </div>

      <!-- </div> -->


      <div class="flex-fill p-2 ">
        <md-form-field class="wd-100pc">
          <input mdInput [mdDatepicker]="picker" placeholder="From Date" name="fromdate" [(ngModel)]="fromDate">
          <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
          <md-datepicker #picker></md-datepicker>
        </md-form-field>
      </div>

      <div class="flex-fill p-2 ">
        <md-form-field class="wd-100pc">
          <input mdInput [mdDatepicker]="picker1" placeholder="To Date" name="fromdate" [(ngModel)]="toDate">
          <md-datepicker-toggle mdSuffix [for]="picker1"></md-datepicker-toggle>
          <md-datepicker #picker1></md-datepicker>
        </md-form-field>
      </div>

      <div class="align-self-center p-2">
        <i class="fa fa-search logo-color" (click)="search()"></i>
      </div>
    </div>
  </div>

  <div class='pd-15' *ngIf="pageView == 'grid'">
    <div class="row brd-box-box" *ngFor="let stockrequest of allStockRequests">
      <div class="col-4 left bg-color-bg">
        <div class="d-flex">
          <b class="capital col-4 left">Req No.: </b>
          <span *ngIf="stockrequest.reqid">#{{stockrequest.reqid}}</span>
          <span *ngIf="!stockrequest.reqid"> - </span>
        </div>
        <div class="d-flex">
          <b class="capital col-4 left">Raised To: </b>
          <span *ngIf="stockrequest.distributor.firstname" class="capitalize onhovertooltip-120" title="{{stockrequest.distributor.firstname}} {{stockrequest.distributor.lastname}}">{{stockrequest.distributor.firstname}}
            {{stockrequest.distributor.lastname}}</span>
          <span *ngIf="!stockrequest.distributor.firstname"> - </span>
        </div>
        <div class="d-flex">
          <b class="capital col-4 left">Category: </b>
          <span *ngIf="stockrequest.products && stockrequest.products[0]" class="capitalize onhovertooltip-150" title="{{stockrequest.products[0].category}}">{{stockrequest.products[0].category}}</span>
          <span *ngIf="!stockrequest.products"> - </span>
        </div>
        <div class="d-flex">
          <b class="capital col-4 left">Raised By: </b>
          <span *ngIf="stockrequest.request_createdby && stockrequest.request_createdby" class="capitalize onhovertooltip-150" title="{{stockrequest.request_createdby}}">{{stockrequest.request_createdby}}</span>
          <span *ngIf="!stockrequest.products"> - </span>
        </div>
      </div>

      <div class="col-4 pd-10">
        <div class="row">
          <b class="capital col-5 left">Created Date: </b>
          <span *ngIf="stockrequest.reqdate">{{stockrequest.reqdate | utcDate}}</span>
          <span *ngIf="!stockrequest.reqdate" class="danger"> Pending </span>
        </div>
        <div class="row">
          <b class="capital col-5 left">Updated Date: </b>
          <span *ngIf="stockrequest.dealer_confirmdate">{{stockrequest.dealer_confirmdate | utcDate}}</span>
          <span *ngIf="!stockrequest.dealer_confirmdate" class="danger"> Pending </span>
        </div>
        <div class="row">
          <b class="capital col-5 left">Confirmed Date: </b>
          <span *ngIf="stockrequest.reqconfirmdate">{{stockrequest.reqconfirmdate | utcDate}}</span>
          <span *ngIf="!stockrequest.reqconfirmdate" class="danger">Pending </span>
        </div>
        <div class="row">
          <b class="capital col-5 left">Expected Delivery: </b>
          <span *ngIf="stockrequest.expected_deliverydate"> {{stockrequest.expected_deliverydate | utcDate}}</span>
          <span *ngIf="!stockrequest.expected_deliverydate"> - </span>
        </div>
      </div>

      <div class="col-2 pd-10 align-self-center">
        <div class="highlight-style">
          <span *ngIf="stockrequest.products && stockrequest.products[0]">
            <p class="success mgbottom-0">Stock: {{stockrequest.products[0].stock}}</p>
            <span class="warning">Emp Cans: {{stockrequest.products[0].returnemptycans}}</span>
          </span>
          <p *ngIf="!stockrequest.products" class="mgbottom-0">Stock: - </p>
          <span *ngIf="!stockrequest.products">Emp Cans: - </span>
        </div>
      </div>

      <div class="col-2  pd-10 align-self-center">
        <!-- <span class="btn btn-outline-primary btn-sm" (click)="viewDetails(stockrequest)">View Details</span> -->
        <button class="btn-primary " md-raised-button (click)="viewDetails(stockrequest)">View Details</button>
      </div>
    </div>


    <h4 class="error  center">
        <span *ngIf="noFilterData">
          <i class="fa fa-crown" aria-hidden="true"></i> Record not available</span>
      </h4>


    <h4 class="error  center">
      <span *ngIf="!allStockRequests">
        <i class="fa fa-crown" aria-hidden="true"></i> Record not available</span>
    </h4>
  </div>

  <div class="" *ngIf="pageView == 'map'">
    <div class="col">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" class="">
        <agm-marker *ngFor="let marker of stockPointMarkers" [latitude]="marker.lat" [longitude]="marker.lng">
          <agm-info-window>
            {{marker.name}}
            <br> {{marker.mobileno}}
          </agm-info-window>
        </agm-marker>

      </agm-map>
    </div>
  </div>
</div>