<div class=" dist-style minheight-500">
  <div class=" row justify-content-between distIcon-style left">
    <div class="col-sm-4 col-md-4 col-lg-4 ">
      <h4>
        <i class="fa fa-commenting-o"></i> Stock Notifications </h4>
    </div>

    <div class="col right">
      <button type="submit" md-raised-button [ngClass]="{'btn-primary': tabPanelView === 'all'}" href="javascript:void(0)" (click)="showTabPanel('all')">All</button>

      <button type="submit" md-raised-button [ngClass]="{'btn-primary': tabPanelView === 'pending'}" href="javascript:void(0)"
        (click)="showTabPanel('pending')">Pending</button>

      <button type="submit" md-raised-button [ngClass]="{'btn-primary': tabPanelView === 'confirmed'}" href="javascript:void(0)"
        (click)="showTabPanel('confirmed')">Confirmed</button>

      <button type="submit" md-raised-button [ngClass]="{'btn-warning': pageView === 'grid'}" href="javascript:void(0)" (click)="showPanelType('grid')">GRID</button>

      <button type="submit" md-raised-button [ngClass]="{'btn-warning': pageView === 'map'}" href="javascript:void(0)" (click)="showPanelType('map')">MAP</button>
    </div>

  </div>
  <div id="" class="row pd-15x10 mg-0" *ngIf="pageView == 'grid'">
    <div class="col">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th width="10%">Req No.</th>
            <th width="10%">Raised By</th>
            <th width="12%">Category | Product</th>
            <th width="12%">Stock / Empty Cans</th>
            <th width="14%">Created Date</th>
            <th width="14%">Updated Date</th>
            <th width="14%">Confirmed Date</th>
            <th width="14%" class="pdleft-20">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stockrequest of allStockRequests">
            <td>
              <span *ngIf="stockrequest.reqid">{{stockrequest.reqid}}</span>
              <span *ngIf="!stockrequest.reqid"> - </span>
            </td>
            <td>
              <span *ngIf="stockrequest.distributor.firstname">{{stockrequest.distributor.firstname}} {{stockrequest.distributor.lastname}}</span>
              <span *ngIf="!stockrequest.distributor.firstname"> - </span>
            </td>
            <td>
              <span *ngIf="stockrequest.products && stockrequest.products[0]">{{stockrequest.products[0].category}} | {{stockrequest.products[0].pname}}</span>
              <span *ngIf="!stockrequest.products"> - </span>
            </td>

            <td>
              <span *ngIf="stockrequest.products && stockrequest.products[0]">{{stockrequest.products[0].stock}} / {{stockrequest.products[0].returnemptycans}}</span>
              <span *ngIf="!stockrequest.products"> - </span>
            </td>


            <td>
              <span *ngIf="stockrequest.reqdate">{{stockrequest.reqdate | utcDate}}</span>
              <span *ngIf="!stockrequest.reqdate"> pending </span>
            </td>
            <td>
              <span *ngIf="stockrequest.dealer_confirmdate">{{stockrequest.dealer_confirmdate | utcDate}}</span>
              <span *ngIf="!stockrequest.dealer_confirmdate"> pending </span>
            </td>
            <td>
              <span *ngIf="stockrequest.reqconfirmdate">{{stockrequest.reqconfirmdate | utcDate}}</span>
              <span *ngIf="!stockrequest.reqconfirmdate"> pending </span>
            </td>
            <td>
                <span class="logo-color cursor" (click)="viewDetails(stockrequest)">View Details</span>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="" *ngIf="pageView == 'map'">
    <div class="col">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" class="">

        <agm-marker *ngFor="let marker of stockPointMarkers" [latitude]="marker.lat" [longitude]="marker.lng">

          <agm-info-window>
            {{marker.name}}
            <br> {{marker.mobileno}}
          </agm-info-window>
        </agm-marker>

      </agm-map>
    </div>
  </div>
</div>