.warning{
    background-color: orange;
}
.oneline{
    white-space: nowrap;
}
.heightgrid{
    height: auto;
          overflow-y: auto;
          padding: 0px 10px;
        }
.charStyle{
    position: absolute;
    bottom: 0px;
}
.scroll{
    overflow-x: hidden;
    height:280px;
    overflow-y: auto;
}