<div class="row justify-content-between modal-title ">
    <div class="col-md-4  col-sm-4  col-lg-4">
        <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
         Follow Up
    </div>
    <div class="col-md-1  col-sm-1  col-lg-1 right">
      <strong ><i class="fa fa-times fs-20" aria-hidden="true" (click)="onCloseCancel()"></i>
              </strong>
    </div>
  </div>
  <md-dialog-content layout="column">
    
    <form class="example-form" ngNativeValidate>
        <div class="container-fluid brd-bottom">
          <br>
            <h5 class="capitalize mgleft-15">
                <span><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                   {{details.firstname}} {{details.lastname}}</span> - <span>{{details.mobileno}}</span></h5>
            <div class=" ">
                <ul class="heightgrid  mgtop-5">
                    <li class="nolist-style  messages-style" *ngFor="let comments of followUpList">
                      <i class="fa fa-reply" aria-hidden="true"></i>
                      <small>{{comments.username}}</small>
                      <br>
                      <small>{{ comments.remarks}} </small>
                      <br>
                      <p class="right">
                        <small class="gray9">{{ comments.createddate | utcDate}} </small>
                      </p>
                      
                      <p *ngIf="comments.followupdate" class="right">Next Follow Up Date :
                        <small class="gray9"> {{ comments.followupdate  |  date: 'dd-MM-yyyy'}} </small>
                        
                      </p>                   
                    </li>
          
                  </ul>
              </div>
         </div>
      <div class="container-fluid pd-15x25 brd-bottom">
        
          <div class=" ">
              <!-- <label class=" pdtop-10 center">
                  </label> -->
                  <div class="row"> 
                    
                    <div class="col-4" *ngIf=" !followUpStatus || followUpStatus=='open'">
                        <md-select  placeholder="Select template &nbsp;&nbsp;" [(ngModel)]="followUpInput.User.remarks"  name="template" class="full-width left oneline" >
                          <md-option  *ngFor="let template of followUpTemplate" [value]="template.template_desc">{{template.template_name}}</md-option>
                        </md-select>
                    </div>
      
                  <div class="col-4" *ngIf=" !followUpStatus || followUpStatus=='open'">  
                    <md-form-field class="inline">
                        <input mdInput [mdDatepicker]="picker" placeholder="Next FollowUp Date" name="fromdate" [(ngModel)]="followupDate">
                        <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                        <md-datepicker #picker></md-datepicker>
                      </md-form-field>
                    </div>
                      <div class="col-4">  
                      <small><button class="btn-primary" *ngIf=" !followUpStatus || followUpStatus=='open'"   md-raised-button (click)="followUpCompleted()">FollowUp Completed</button> </small>
                      <small><button class="btn-primary" *ngIf="followUpStatus=='close'" md-raised-button  (click)="startFollowUp()">Start FollowUp </button></small>
                      <!-- <small><button class="btn warning" md-raised-button (clsick)="startFollowUp()">Start FollowUp</button></small> -->
                    </div>
                  </div>
                  <div class="row" *ngIf=" !followUpStatus || followUpStatus=='open'"> 
                    <div class="col-10">             
                        <md-form-field class="example-full-width inline ">
                          <textarea  maxlength="250" class="form-control" mdInput placeholder="Remarks" name="body" [(ngModel)]="followUpInput.User.remarks"></textarea>
            
                        </md-form-field>
                        <small class="charStyle">Characters Remanining : <span class="danger"> {{250 - followUpInput.User.remarks.length}}</span></small>
                      </div> 
                      </div>
          
       </div>
       </div>
    </form>
  </md-dialog-content>
  <div class="row float-right pdright-30 mgbottom-20" *ngIf=" !followUpStatus || followUpStatus=='open'">
    <md-dialog-actions align="end">
        <button type="submit" class="btn-primary" md-raised-button (click)="createFollowUp()">SAVE</button>      
      <button md-raised-button (click)="onCloseCancel()">CANCEL</button>&nbsp;
    </md-dialog-actions>
  </div>
