<div class="row justify-content-between modal-title ">
    <div class="col-md-4  col-sm-4  col-lg-4">
        <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
         Follow Up
    </div>
    <div class="col-md-1  col-sm-1  col-lg-1 right">
      <strong ><i class="fa fa-times fs-20" aria-hidden="true" (click)="onCloseCancel()"></i>
              </strong>
    </div>
  </div>
  <md-dialog-content layout="column">
    
    <form class="example-form" ngNativeValidate>
      <div class="container-fluid pd-15x25 brd-bottom">
        <h5 class="capitalize">
          <span><i class="fa fa-user-circle-o" aria-hidden="true"></i>
             {{details.firstname}} {{details.lastname}}</span> - <span>{{details.mobileno}}</span></h5>
          <div class=" ">
              <!-- <label class=" pdtop-10 center">
                  </label> -->
                  <md-form-field class="example-full-width inline ">
                      <textarea  maxlength="250" class="form-control" mdInput placeholder="Remarks" name="body" [(ngModel)]="followUpInput.User.remarks"></textarea>
        
                    </md-form-field>
                    <small >Characters Remanining : <span class="danger"> {{250 - followUpInput.User.remarks.length}}</span></small>
            </div>
       </div>
    </form>
  </md-dialog-content>
  <div class="row float-right pdright-30 mgbottom-20">
    <md-dialog-actions align="end">
        <button type="submit" class="btn-primary" md-raised-button (click)="createFollowUp()">SAVE</button>      
      <button md-raised-button (click)="onCloseCancel()">CANCEL</button>&nbsp;
    </md-dialog-actions>
  </div>
