/* You can add global styles to this file, and also import other style files css*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */



:root {
  --logo-color: #0f75bc;
  --warning:#f79123;
  --danger:#d43f3a;
  --gray6:#666;
  --gray9:#999;
  --grayb:#bbb;
  --grayd:#ddd;
  --white:#fff;
  --gray157:#f1f5f7;
  --success:#28a745;
  --red:#FF0000;
  }
/* .custom-control-input:checked~.custom-control-indicator{
  background: var( --logo-color) !important;
  color: var( --white) !important;
} */

/* .newTheme{
  color: whitesmoke !important;
  background-color: red !important;
}
.bold{
  font-weight: bold;
}
.newLogo{
  color: red;
} */
.wd-96pc{
  width: 96%;
}
.red{
  color: var( --red) !important;
}
.btn-link{
  color: var( --logo-color) !important;
}
.firstlettercap::first-letter{
  text-transform:uppercase;

}
table thead {
    background: var( --logo-color) !important;
    color: var( --white) !important;
  }
  .table td, .table th{
    padding: 8px;
   border-bottom: none !important;
    vertical-align: middle !important;
    border-top: none;
    text-align: left;
  }
  th{
    font-weight: 600;
  }
  .dist-style{
    border: 1px solid #ddd;
    margin: 20px;
    background: var( --white);
  }
  .distIcon-style{
    padding: 12px;
    margin: 0px;
    border-bottom: 1px solid #c5d6de;
  }
  .pd-15x10{
    padding: 15px 10px;
  }
  .mg-0{
    margin: 0px !important;
  }

  .mg-10{
    margin: 10px !important;
  }
  .pd-15x5{
    padding: 15px 5px 5px;
  }
  .filter-style{
    border: 1px solid #c5d6de;
    padding: 20px 30px;
    margin-top: 10px;
    background:#eceff4;
  }
  .mat-form-field{
    display: inline;
  }
  .left{
    text-align: left;
  }
  .mgbottom-5{
    margin-bottom: 5px;
  }
  a{
    color: var( --logo-color);
  }
  .pdleft-20{
    padding-left: 20px !important;
  }
  .mgleft-20{
  margin-left: 20px;
}
.mgbottom-15{
   margin-bottom: 14px;
}
  .btn-link{
    color: var( --logo-color);
    cursor: pointer;
  }
  .onhovertooltip-100{
    width:100px;
   text-overflow: ellipsis;
    white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  }
  .mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
    font-weight: 400 !important;
}
  .onhovertooltip-200{
    width:200px;
   text-overflow: ellipsis;
    white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  }
  .onhovertooltip-250{
    width:250px;
   text-overflow: ellipsis;
    white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  }
  .onhovertooltip-300{
    width:300px;
   text-overflow: ellipsis;
    white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  }
  .onhovertooltip-350{
    width:350px;
   text-overflow: ellipsis;
    white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  }
  .onhovertooltip-400{
    width:400px;
   text-overflow: ellipsis;
    white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  }
  
  .onhovertooltip-450{
    width:450px;
   text-overflow: ellipsis;
    white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  }

  .onhovertooltip-550{
    width:550px;
   text-overflow: ellipsis;
    white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  }

  .pageTitle-style{
    text-align: left;
    color: #333 !important;
    font-size: 18px !important;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #DDDDDD;
  }
  .width-80pc{
    width: 80%;
  }
  .pdright-30{
    padding-right: 30px;
  }
  .wd-60{
    width: 60px !important;
  }
  .mgright-20{
    margin-right: 20px !important;
  }
  .logo-color{
    color: var( --logo-color) !important;
    cursor: pointer;
  }

  .logo-color:hover{
    color: var( --warning) !important;
    cursor: pointer;
  }
  .pdtopbottom-15{
    padding: 15px 0px;
  }
  .mat-dialog-container{
    padding: 0px !important;
    max-height: 620px;
    max-width: 100% !important;
    overflow: hidden !important;
  }
  .wd-80pc{
    width: 80%;
  }
  .bg-eee{
    background: #eceff4 !important;
    }
  .mg-30{
      margin: 30px;
  }
  .active{
    color: var( --logo-color) !important;
  }
.capital{
    text-transform: capitalize;
}
.brd-top{
    border-top: 2px solid #eea236;
}
.mgbottom-20{
    margin-bottom: 20px;
}
.sidebar-list{
border-bottom: 1px solid var( --logo-color);
color: var( --logo-color) !important;

}
.mgleft-10{
  margin-left: 10px;
}
.filterView{
  position: absolute;
  width: 300px;
  z-index: 100;
  right: 0px;
  top: 37px;
  color: #666666;
  background: #eceff4;
  border: 1px solid #c5d6de;
  padding: 20px 30px;
}
.filterView::before {
  z-index: -1;
  position: absolute;
  top: -10px;
  content:'';
  width: 0;
  height: 0;
  border-bottom: solid 10px #eceff4;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
  background: var( --logo-color) ; 
  color: var( --white);
}
.btn-primary{
  background: var( --logo-color) !important; 
  color: var( --white);
}
.pdtopbottom-12{
  padding: 12px 0px;
}
.modal-title{
padding: 15px;
font-weight: 600;
font-size: 18px;
color: var( --white);
line-height: 1.2;
background: var( --logo-color) ;
}
.nobg{
background: transparent;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size:20px;
}
.capitalize{
  text-transform: capitalize;
}
.padding-0{
  padding: 0px;
}
.pd-15{
  padding: 15px;
}
.pd-15x25{
    padding: 15px 25px;
}
.pdright-5{
  padding-right: 5px;
}
.pdright-10{
  padding-right: 10px;
}
.no-th-arrow::after{
  content:"" !important;
}
.pdright-20{
    padding-right: 20px;
}
.pdright-30{
    padding-right: 30px;
}
.brd-bottom{
    border-bottom: 1px solid #ddd;
    border-radius: none;
}
.allcaps{
  text-transform: uppercase !important;
}
.fs-20{
  font-size: 20px !important;
}
.fs-24{
  font-size: 24px !important;
}
.right{
  text-align: right;
}
.height-150{
 height: 150px;
}
.pdtop-80{
  padding-top: 80px;
}
.bg-danger{
  background: #8B1210 !important;
  color: #fff !important;
}
.brd-logo{
  border:1px solid var( --logo-color);
}
.logo-bg{
  background: var( --logo-color);
}
.pdtop-5{
  padding-top: 5px;
}
.pdtop-15{
  padding-top: 15px;
}
.warning{
  color:var( --warning) !important;
}
.capitalize{
  text-transform: capitalize;
}

.inline{
  display: inline !important;
}
.mat-calendar-table-header {
  background: none !important;
}
.pdleft-10{
  padding-left:10px !important;
}
.mgtopbottom-10x15{
  margin-top: 10px;
  margin-bottom: 15px;
}
.btn-small{
  font-size: 10px !important;
  line-height: 30px !important;
  min-width: 75px !important;
    padding: 0 14px !important;
}

.pdleft-15{
  padding-left:15px !important;
}
.mgleft-15{
  margin-left: 15px;
}
.mgleft-5{
  margin-left: 5px;
}
.mgtop-10{
  margin-top: 10px !important;
}
.mgtop-15{
  margin-top: 15px;
}
.mgtop-20{
  margin-top: 20px;
}
.mgbottom-10 {
  margin-bottom: 10px;
}
.form-group{
  margin-bottom: 10px !important;
}
.btn{
  border-radius: 0px !important;
}
.btn-default{
  background: var( --white);
  color: var( --logo-color) !important;
}
.btn-primary{
  color: #fff !important;
}
.mgbottom-20{
  margin-bottom: 20px;
}
.wd-100pc{
  width: 100%;
}
.wd-90pc{
  width: 90%;
}
.full-width, .wd-100pc{
  width: 100%;
 }
b, strong {
  font-weight: 500;
}
.mgright-5{
  margin-right: 5px !important;
}
.brd-right{
  border-right: 1px solid #ddd;
}
.td-label{
  color: #59717d
}
.border-top{
  border-top:1px solid #ddd;
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid var( --white);
  border-right: 0 solid var( --white);
  border-bottom: 14px solid transparent;
  content: " ";
}
ul li small{
  list-style-type: none;
}
.border-right{
  border-right: 1px solid #ddd;
}
.border-left{
  border-left: 1px solid #ddd;
}
.no-border{
  border: 1px solid var( --white);
}
.timeline > li > .timeline-badge {
  color: #666;
  background: var( --white);
  width: 50px;
  height: 50px;
  line-height: 48px;
  font-size: 16px;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 15%;
  border-radius: 50%;
  border: 2px solid #ddd;
  margin-left: -25px;
  /* background-color: #999999; */
  z-index: 100;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}
.danger {
  color: #8B1210 !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}
.messages-style {
  padding: 5px 12px;
  margin: 5px 0px;
  background: rgb(236, 239, 244);
  border-radius: 10px;
  border: 1px solid #ddd;
}
.messages-style p{
  margin-bottom: 0px !important;
}
  .fa-send-style {
    color: rgb(117, 172, 193);
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    border-radius: 50%;
}
.fa-send-style:hover {
  color:var( --warning)
}
.label-style {
  color: #666;
  font-weight: 500;
}
.pdtop-10{
  padding-top: 10px;
}
.nolist-style{
  list-style: none;
}
.center{
  text-align: center !important;
}
.gray9{
  color: #999 !important;
}
.grayb{
  color: #bbb !important;
}
.grayd{
  color:#ddd !important;
}
.mgtop-5{
  margin-top: 5px;
}
.mgtopbottom-10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.pdbottom-5{
  padding-bottom: 5px;
}
.mgleftbottom-10x0{
  margin-bottom: 10px;
margin-left: 0px;
}
.border-topbottom{
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
table thead th::after{
  
      font-family: FontAwesome;
      /* content: "\2193"; */
      display: block;
     float: right;
  }
  /* table thead th::after::before{
    
        font-family: FontAwesome;
        content: "\2191";
        display: inline-block;
        float: right;
        vertical-align: middle;
    } */
    .fs-21{
      font-size: 21px;
    }
    .mat-calendar-table thead th::after{
          content: "" !important;
      }
      .mat-calendar{
border:2px solid var( --logo-color);
      }
      .mat-calendar-header{
        background: var( --logo-color);
        color: var( --white);
      }
      .mat-calendar-body-today{
        border-color: var( --logo-color);
        
      }
      .nofath thead th::after{
        content: "" !important;
      }
      .none{
        display: none;
      }
      .nav-pills .nav-link.active, .show>.nav-pills .nav-link{
        color: #fff !important;
        background-color: var( --logo-color);
      }
      .success{
        color: #4cae4c
      } 
      /* .onhovertext {text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
      .onhovertext:hover {
        overflow: visible;
    } */
    .mat-dialog-content{
      max-height: 100% !important;
    }
    .mat-list-item-content:hover{
      color: #fff !important;
      border-left: 5px solid var( --warning);
      /* border-right: 5px solid var( --warning); */
      background-color: var( --logo-color) !important;
        }
    .pdtopleft-80x25{
      padding: 80px 0px 0px 25px;
    }
    .mgleft-20{
      margin-left: 20px;
    }
    .fs-12{
      font-size: 12px;
    }
        .sidebar-nohover > .mat-list-item-content:hover{
          background: transparent !important;
          border-left: none !important;
        }
        .scrollheight {
          height: 290px;
          overflow-y: auto;
          padding: 6px;
        }
        table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>td {
          display: block;
        }
        .form-control:focus{
          background: transparent;
        }
        table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after {
          content:' ';
          display: block;
          visibility: hidden;
          clear: both;
        }
        table.table-fixedheader>tbody {
          overflow-y: auto;
          max-height: 300px;
        }
        table.table-fixedheader>thead {
          overflow-y: auto;    
        }
        table.table-fixedheader>thead::-webkit-scrollbar {
          background-color: inherit;
        }
        table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after {
          content:' ';
          display: table-cell;
          visibility: hidden;
          clear: both;
        }
        table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td {
          float: left;    
          word-wrap:break-word;     
        }
        .timeline[_ngcontent-c12]    > li[_ngcontent-c12]    > .timeline-badge[_ngcontent-c12]{
          top:3px !important;
        }
 .minheight-500{
   min-height: 500px;
 }  
 .info{
   color: #5bc0de;
 }
 .danger{
   color: #d9534f;
 }
 .white{
   color: #ddd;
 }
 .height-95pc{
    height: 95%;
  }
 .plus-style{
  background: var( --logo-color);
  padding: 5px 8px;
  color: var( --white);

  border-radius: 50%;
}
.mg-20{
  margin: 20px;
}
.onhovertext300 {
  width:300px !important;
 text-overflow: ellipsis;
  white-space: nowrap;
overflow: hidden;
display: block;
}

.onhovertext300:hover {
  padding: 0px 5px 0px;
  overflow: visible;
  position: relative;
left: -2px;
width: 100%;
/* background: var( --white);
box-shadow: 0 0 8px #bbb; */
}
.onhovertext {
  width:100px;
 text-overflow: ellipsis;
  white-space: nowrap;
overflow: hidden;
display: block;
}

.onhovertext:hover {
  padding: 0px 5px 0px;
  overflow: visible;
  position: relative;
left: -2px;
width: 100%;
/* background: var( --white);
box-shadow: 0 0 8px #bbb; */
}
.onhovertext150 {
  width:150px;
 text-overflow: ellipsis;
  white-space: nowrap;
overflow: hidden;
display: inline-block;
}
.onhovertooltip-100{
  width:100px;
 text-overflow: ellipsis;
  white-space: nowrap;
overflow: hidden;
display: inline-block;
}
.onhovertooltip-150{
  width:150px;
 text-overflow: ellipsis;
  white-space: nowrap;
overflow: hidden;
display: inline-block;
}
.onhovertooltip-300{
  width:300px;
 text-overflow: ellipsis;
  white-space: nowrap;
overflow: hidden;
display: inline-block;
}
.onhovertooltip {
  width:200px;
 text-overflow: ellipsis;
  white-space: nowrap;
overflow: hidden;
display: inline-block;
}

.onhovertext150:hover {
  padding: 0px 5px 0px;
  overflow: visible;
  position: relative;
left: -2px;
width: 100%;
z-index: 1;
width: auto;
background-color: var( --white);
/* background: var( --white);
box-shadow: 0 0 8px #bbb; */
}
.onhovertabletext-200 {
  width:200px;
 text-overflow: ellipsis;
  white-space: nowrap;
overflow: hidden;
display: inline-block;
}

.onhovertabletext-200:hover {
  padding: 0px 5px 0px;
  overflow: visible;
  position: relative;
left: -2px;
width: 100%;
z-index: 1;
width: auto;
background-color: var( --white);
/* background: var( --white);
box-shadow: 0 0 8px #bbb; */
}
.onhovertabletext-100 {
  width:100px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
overflow: hidden;
display: inline-block;
}

.onhovertabletext-100:hover {
  padding: 0px 5px 0px;
  overflow: visible;
  position: relative;
left: -2px;
z-index: 1;
width: auto !important;
background-color: var( --white);
}
.brd-top-gray{
  border-top:1px solid #ddd;
}
.fs-22{
  font-size: 22px;
}
.pdleft-20{
  padding-left: 20px;
}
.pdtop-20{
  padding-top: 20px;
}
.gray8{
  color: #888;
}
.gray7{
  color: #777777;
}
.top-post{
  position: absolute !important;
  top: 80% !important;
  }
  .wd-99pc{
    width: 99% !important;
  }
  .pdtop-0{
    padding-top: 0px;
  }
.fs-30{
  font-size: 30px;
}
.wd-85pc{
  width: 85%;
}
/* .paddingbtm-0 .mat-form-field-wrapper{
  padding-bottom: 0px !important;
  } */
/* .loader-style{
 background-image: url(assets/images/bg.png);
position: absolute;
left: 0;  
  top: 0;

height: 100%;
width: 100%;
}
.loader-style img{
  position: fixed;
  left: 50%;  
    top: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 8%;
} */

/* .loading {
  position: fixed;
text-align: center;
vertical-align: middle;
  width: 100px;
  height: 100px;
  z-index: 9999;
  opacity: .8;
} */

.font-12px{
  font-size: 12px;
}
.gray6{
  color:var( --gray6) !important; 
}