/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

table thead {
    background: #0f75bc;
    color: #fff;
  }
  .table td, .table th{
    padding: 8px;
    vertical-align:unset;
    border-top: none;
  }
  .dist-style{
    border: 1px solid #ddd;
    margin: 20px;
  }
  .distIcon-style{
    padding: 15px;
    margin: 0px;
    border-bottom: 1px solid #c5d6de;
  }
  .pd-15x10{
    padding: 15px 10px;
  }
  .mg-0{
    margin: 0px !important;
  }
  .filter-style{
    border: 1px solid #c5d6de;
    padding: 20px 30px;
  }
  .mat-form-field{
    display: inline;
  }
  .left{
    text-align: left;
  }
  a{
    color: #0f75bc;
  }
  .pdleft-20{
    padding-left: 20px !important;
  }
  .btn-link{
    color: #0f75bc;
  }
  .logo-color{
    color: #0f75bc !important;
    
  }
  .mat-dialog-container{
    padding: 0px !important;
    max-height: 500px;
    max-width: 100% !important;
    overflow: hidden !important;
  }

  .mg-30{
      margin: 30px;
  }
  .active{
    color: #0f75bc !important;
  }
.capital{
    text-transform: capitalize;
}
.brd-top{
    border-top: 2px solid #eea236;
}
.mgbottom-20{
    margin-bottom: 20px;
}
.sidebar-list{
border-bottom: 1px solid #0f75bc;
color: #0f75bc !important;

}
.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
  background: #0f75bc ; 
  color: #fff;
}
.btn-primary{
  background: #0f75bc ; 
  color: #fff;
}
.modal-title{
padding: 15px;
font-weight: 600;
font-size: 20px;
color: #fff;
background: #0f75bc ;
}
.nobg{
background: transparent;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size:20px;
}
.pd-15x25{
    padding: 15px 25px;
}
.pdright-20{
    padding-right: 20px;
}
.pdright-30{
    padding-right: 30px;
}
.brd-bottom{
    border-bottom: 1px solid #ddd;
}
.right{
  text-align: right;
}
.height-150{
 height: 150px;
}
.pdtop-80{
  padding-top: 80px;
}
.brd-logo{
  border:1px solid #0f75bc;
}
.logo-bg{
  background: #0f75bc;
}
.pdtop-5{
  padding-top: 5px;
}
.pdtop-15{
  padding-top: 15px;
}
.warning{
  color:#f79123;
}
.capitalize{
  text-transform: capitalize;
}

.inline{
  display: inline !important;
}
.mat-calendar-table-header {
  background: none !important;
}
.pdleft-15{
  paddding-left:15px !important;
}
.mgleft-15{
  margin-left: 15px;
}
.mgleft-5{
  margin-left: 5px;
}
.mgtop-15{
  margin-top: 15px;
}
.mgtop-20{
  margin-top: 20px;
}
.btn-primary{
  color: #fff !important;
}