<div class=" dist-style minheight-500">
  <div class=" row justify-content-between distIcon-style left">
    <div class="col-sm-2 col-md-2 col-lg-2 ">
      <h4>
        <i class="fa fa-barcode"></i> Promo code</h4>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5">
      <button type="submit" md-raised-button [ngClass]="{'btn-primary': tabPanelView === 'promoCode'}" (click)="showTabPanel('promoCode')">
        Promo Code </button>
      <button type="submit" md-raised-button [ngClass]="{'btn-primary': tabPanelView === 'redeemSetting'}" (click)="showTabPanel('redeemSetting')">Redeem Settings</button>
      <button type="submit" md-raised-button [ngClass]="{'btn-primary': tabPanelView === 'redeemDetails'}" (click)="showTabPanel('redeemDetails')">Redeem Details</button>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1 align-self-center right">
      <a class="cursor logo-color " title="Add Promocode" *ngIf="tabPanelView === 'promoCode'">
        <i class="fa fa-plus fa-2 plus-style" aria-hidden="true" *ngIf="superDealer" title="Add promo code" (click)="addPromoCode()"></i>
      </a>     &nbsp; &nbsp;

      <a class="cursor logo-color " title="Add new Redeem Settings" *ngIf="tabPanelView === 'redeemSetting'">
        <i class="fa fa-gears" aria-hidden="true" *ngIf="superDealer" title="Redeem Settings" (click)="redeemSettingsDialog()"></i>
      </a>
 
      <a class="align-self-center cursor">
        <i aria-hidden="true" class="fa fa-sliders logo-color fs-20" title="Filter" (click)="filterDailogToggle()"></i>
        <div class="filterView" *ngIf="showFilterDailog">
          <div class="height-500">
            <div class="form-group">
              <md-select placeholder="Filter By" [(ngModel)]="filterInput.searchtype" name="type" class="full-width left">
                <md-option value="date">DATE</md-option>
                <md-option value="type">TYPE</md-option>
                <md-option value="mobile">Mobile Number</md-option>
              </md-select>
            </div>
            <div class="mgtop-5" *ngIf="filterInput.searchtype == 'date'">
              <div class="">
                <md-form-field class="wd-100pc">
                  <input mdInput [mdDatepicker]="picker" placeholder="Start Date" [(ngModel)]="filterType.startdate" required>
                  <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                  <md-datepicker #picker></md-datepicker>
                </md-form-field>
              </div>

              <div class="">
                <md-form-field class="wd-100pc">
                  <input mdInput [mdDatepicker]="pickers" placeholder="End Date" [(ngModel)]="filterType.enddate">
                  <md-datepicker-toggle mdSuffix [for]="pickers"></md-datepicker-toggle>
                  <md-datepicker #pickers></md-datepicker>
                </md-form-field>
              </div>


              <!-- <md-form-field class="inline">
                    <input mdInput [mdDatepicker]="picker" placeholder="Start Date" name="fromdate" [(ngModel)]="filterType.startdate">
                    <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                    <md-datepicker #picker></md-datepicker>
                  </md-form-field>

                  <md-form-field class="inline">
                      <input mdInput [mdDatepicker]="pickers" placeholder="End Date" name="todate" [(ngModel)]="filterType.enddate">
                      <md-datepicker-toggle mdSuffix [for]="pickers"></md-datepicker-toggle>
                      <md-datepicker #pickers></md-datepicker>
                    </md-form-field> -->
            </div>


            <div class="mgtop-5" *ngIf="filterInput.searchtype == 'type'">
                <div class="">

                    <md-select placeholder="Filter By" [(ngModel)]="filterInput.status" name="type" class="full-width left">
                        <md-option value="completed">Completed</md-option>
                        <md-option value="inprocess">Inprocess</md-option>
                      </md-select>
                </div>

              </div>

              <div class="" *ngIf="filterInput.searchtype == 'mobile'">
                  <md-form-field class="example-full-width">
                      <input class="form-control" mdInput placeholder="Enter Mobile Number" [(ngModel)]="filterText" maxlength="10">
                    </md-form-field>
              </div>


            <div class="row">
              <div class="col right">
                <button md-raised-button color="primary"  (click)="searchFilter()">
                  <i class="fa fa-search" aria-hidden="true"></i> Search
                </button>&nbsp;
                <button md-raised-button class="bg-warning" (click)="clearFilter()">
                  <i class="fa fa-filter" aria-hidden="true"></i> Clear
                </button>
              </div>
            </div>
          </div>
        </div>
      </a>&nbsp;
   </div>
  </div>

  <div id="" class="row pd-15 mg-0" *ngIf="tabPanelView === 'promoCode'">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th width="10%">Type</th>
          <th width="10%">Promo Code</th>
          <!-- <th width="7%">Cust count</th> -->
          <th class="" width="30%">Description</th>
          <th class="" width="10%">Value</th>
          <th width="10%">Start date</th>

          <th width="10%">End date</th>
          <th width="10%">Offer Type</th>
          <th width="10%" *ngIf="superDealer">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let promo of allPromoCodes">
          <td class="left capitalize" width="10%" *ngIf="promo.offertype">{{promo.offertype}}</td>
          <td class="left capitalize" width="10%" *ngIf="promo.promocode">{{promo.promocode}}</td>
          <td class="left capitalize" width="30%">
            <span *ngIf="promo.description"> {{promo.description}} </span>
            <span *ngIf="promo.description === null || promo.description == ''"> - </span>
          </td>
          <td class="left" width="10%">
            <span *ngIf="promo.discountinpercent">{{promo.discountinpercent}} </span>
            <span *ngIf="promo.discountinpercent == '' || promo.discountinpercent === null"> - </span>
          </td>
          <td class="left" width="10%" *ngIf="promo.startdate">
            <span class="onhovertooltip-100" title="{{promo.startdate | utcDate}}">{{promo.startdate | utcDate}}</span>
          </td>
          <td class="left" width="10%">
            <span class="onhovertooltip-100" *ngIf="promo.enddate" title="{{promo.enddate | utcDate}}">{{promo.enddate | utcDate}}</span>
            <span *ngIf="promo.enddate === null || promo.enddate == ''"> - </span>
          </td>
          <td class="left capitalize" width="10%" *ngIf="promo.promotype">{{promo.promotype}}</td>
          <td class="left capitalize" width="10%" *ngIf="superDealer">
            <!-- <span class="fa fa-plus-circle fs-20" title="Add promo code"></span>                 -->
            <span class="fa fa-pencil-square-o btn-link fs-18" title="Edit promo code" (click)="editPromoCode(promo)"></span> &nbsp;&nbsp;
            <span class="fa fa-trash danger fs-18 cursor" title="Delete Promo code" (click)="deletePromoCodeDialog(promo)"></span>
          </td>
          <!-- *ngFor="let promo of allPromoCodes" -->
        </tr>
      </tbody>
    </table>
  </div>
  <div id="" class="row pd-15 mg-0" *ngIf="tabPanelView === 'redeemSetting'">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th width="20%">Points</th>
          <th width="20%">Type</th>
          <th width="20%">Amount</th>
          <th width="20%">Created date</th>
          <th width="20%">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let settings of redeemSettingsDetails">

          <td class="left capitalize" width="20%">
            <span *ngIf="settings.points"> {{settings.points}} </span>
            <span *ngIf="settings.points === null || settings.points == '' "> - </span>
          </td>

          <td class="left capitalize" width="20%">
            <span *ngIf="settings.type"> {{settings.type}} </span>
            <span *ngIf="settings.type === null || settings.type == '' "> - </span>
          </td>

          <td class="left" width="20%">
            <span *ngIf="settings.amount"> {{settings.amount}} </span>
            <span *ngIf="settings.amount === null || settings.amount == '' "> - </span>
          </td>

          <td class="" width="20%">
            <span *ngIf="settings.createddate"> {{settings.createddate | utcDate}}</span>
            <span *ngIf="settings.createddate === null || settings.createddate == ''"> - </span>
          </td>

          <td class="" width="20%">
            <span>
              <i class="fa fa-pencil-square-o btn-link fs-18" title="Change redeem settings" (click)="changeSettings(settings)"></i>
            </span>
            &nbsp;&nbsp;&nbsp;
            <span>
              <i class="fa fa-trash danger cursor fs-18" title="Delete redeem setting" (click)="deleteRedeemSettingDialog(settings)"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- ends second table -->

  <div class=""  *ngIf="tabPanelView === 'redeemDetails'">

      <button type="submit" md-raised-button [ngClass]="{'btn-primary': userView === 'customer'}" (click)="showUserView('customer')">
        Customers </button>
      <button type="submit" md-raised-button [ngClass]="{'btn-primary': userView === 'dealer'}" (click)="showUserView('dealer')">Distributors</button>


  </div>
  <div id="" class="row pd-15 mg-0" *ngIf="tabPanelView === 'redeemDetails' && noRecords == false">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th width="10%">Name</th>
          <th width="10%">Number</th>
          <th width="10%">Points</th>
          <th width="10%">Type</th>
          <th width="10%">Amount</th>
          <th width="10%">Paytm Number</th>
          <th width="10%">Ack. Id</th>
          <th width="10%">Created date</th>
          <th width="10%">Transaction date</th>
          <th class="" width="10%">Status</th>
          <th class="" width="10%">Action</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let redeem of redeemDetails"> 
          <td class="left" width="10%">
            <span *ngIf="redeem.fullname">{{redeem.fullname}}</span>
            <span *ngIf="redeem.fullname == '' || redeem.fullname === null"> - </span>
          </td>

          <td class="left" width="10%">
              <span *ngIf="redeem.orginalmobileno">{{redeem.orginalmobileno}}</span>
              <span *ngIf="redeem.orginalmobileno == '' || redeem.orginalmobileno === null"> - </span>
            </td>


          <td class="left capitalize" width="10%">{{redeem.points}}</td>
          <td class="left capitalize" width="10%">{{redeem.type}}</td>
          <td class="left" width="10%">{{redeem.amount}}</td>
          <td class="left" width="10%">{{redeem.typedetails}}</td>
          <span *ngIf="redeem.acknowledgementnumber">
            <td class="left" width="10%">{{redeem.acknowledgementnumber}}</td>
          </span>
          <span *ngIf="!redeem.acknowledgementnumber">
            <td class="left" width="10%">-</td>
          </span>
          <td class="left" width="10%">{{redeem.createddate | utcDate}}</td>
          <td class="left" width="10%">{{redeem.modifieddate | utcDate}}</td>
          <td class="left" width="10%">
            <span *ngIf="redeem.status">{{redeem.status}} </span>
            <span *ngIf="redeem.status === null || redeem.status == ''"> - </span>
          </td>

          <td class="" width="10%">
            <span *ngIf="redeem.status == 'inprocess'" class="fa fa-money active" title="Process payment" (click)="processPaymentDialog(redeem)"></span>
            <span *ngIf="redeem.status != 'inprocess'" class="fa fa-money disabled" title="Process payment"></span> &nbsp; &nbsp;
            <span class="	fa fa-file-text-o active" title="paymentDetails" (click)="viewProcessedDetails(redeem)"></span>
          </td>

        </tr>
      </tbody>
    </table>


    <h4 class="error  center">
      <a href="javascript:void(0);" (click)=getRedeemDetails(false); *ngIf="detailsClickMore">
        <i class="fa fa-cloud-upload" aria-hidden="true"></i> Click for more data</a>
      <span *ngIf="!detailsClickMore">
        <i class="fa fa-frown-o" aria-hidden="true"></i> Record not available</span>
    </h4>

  </div>

  <div class=""  *ngIf="tabPanelView === 'redeemDetails' && noRecords == true">
    <h3> No records exists</h3>
  </div>
  <!-- ends third table  -->
</div>