<div class=" dist-style minheight-500">
  <div class=" row justify-content-between distIcon-style left">
    <div class="col-sm-2 col-md-2 col-lg-2 align-self-center">
      <h4>
        <i class="fa fa-envelope"></i> Inbox</h4>
    </div>
    <div class="col-2 offset-md-4 ">
      <md-form-field class="inline">
        <input mdInput [mdDatepicker]="picker" placeholder="From Date" name="fromdate" [(ngModel)]="filterInput.fromDate">
        <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
        <md-datepicker #picker></md-datepicker>
      </md-form-field>
    </div>
    <div class="col-2">
      <md-form-field class="inline">
        <input mdInput [mdDatepicker]="pickers" placeholder="To Date" name="todate" [(ngModel)]="filterInput.toDate">
        <md-datepicker-toggle mdSuffix [for]="pickers"></md-datepicker-toggle>
        <md-datepicker #pickers></md-datepicker>
      </md-form-field>
    </div>
    <div class="col-2 align-self-center">
      <button class="" color="primary" md-raised-button (click)="filterMessages()">FILTER</button>
      <button class="bg-warning" md-raised-button (click)="clearFilter()">CLEAR</button>
    </div>
  </div>

  <div class="">
        
    <button class="btn-sm"  [ngClass]="{'btn-primary': viewType === 'customer'}" md-raised-button (click)="messages('customer')">CUSTOMER</button>
    <button class="btn-sm" [ngClass]="{'btn-primary': viewType === 'all'}" md-raised-button (click)="messages('all')">ALL</button>
</div>


  <div id="" class="row pd-15x10 mg-0" *ngIf="this.viewType == 'all'">
    <div class="col">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th width="13%">Order id</th>
            <th width="10%">Type</th>
            <th width="10%">Senders Name</th>
            <th width="12%">Created Date</th>
            <th width="25%">Mesage</th>
            <!-- <th width="19%" class="no-th-row">Action</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let message of AllMessages">
            <td class="" width="10%">
              <span *ngIf="message.orderid">{{message.orderid}} </span>
              <span *ngIf="!message.orderid"> - </span>
            </td>

            <td class="" width="10%">
              <span *ngIf="message.ispublic == 2">Compliant</span>
              <span *ngIf="message.ispublic == 0">Message</span>
            </td>
            <td class="" width="10%">
              <span *ngIf="message.userdetails && message.userdetails.fullname" class="capitalize">{{message.userdetails.fullname}}</span>
              <span *ngIf="!message.userdetails"> - </span>

            </td>
            <td class="" width="10%">
              <span *ngIf="message.createddate">{{message.createddate | utcDate}}</span>
              <span *ngIf="!message.createddate"> - </span>
            </td>
            <td class="" width="10%">
              <span *ngIf="message.message">{{message.message}}</span>
              <span *ngIf="!message.message"> - </span>
            </td>
          </tr>
        </tbody>
      </table>

      <h4 *ngIf="noMessages" class="error center mgtop-10">
        <i class="fa fa-frown-o" aria-hidden="true"></i> No Messages</h4>

    </div>
  </div>


  <div id="" class="row pd-15x10 mg-0" *ngIf="this.viewType == 'customer'">
    <div class="col">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th width="13%">Order id</th>
            <th width="10%">Type</th>
            <th width="10%">Senders Name</th>
            <th width="12%">Created Date</th>
            <th width="25%">Mesage</th>
            <!-- <th width="19%" class="no-th-row">Action</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let message of customerMessages">
            <td class="" width="10%">
              <span *ngIf="message.orderid">{{message.orderid}} </span>
              <span *ngIf="!message.orderid"> - </span>
            </td>

            <td class="" width="10%">
              <span *ngIf="message.ispublic == 2">Compliant</span>
              <span *ngIf="message.ispublic == 0">Message</span>
            </td>
            <td class="" width="10%">
              <span *ngIf="message.userdetails && message.userdetails.fullname" class="capitalize">{{message.userdetails.fullname}}</span>
              <span *ngIf="!message.userdetails"> - </span>

            </td>
            <td class="" width="10%">
              <span *ngIf="message.createddate">{{message.createddate | utcDate}}</span>
              <span *ngIf="!message.createddate"> - </span>
            </td>
            <td class="" width="10%">
              <span *ngIf="message.message">{{message.message}}</span>
              <span *ngIf="!message.message"> - </span>
            </td>
          </tr>
        </tbody>
      </table>

      <h4 *ngIf="noMessages" class="error center mgtop-10">
        <i class="fa fa-frown-o" aria-hidden="true"></i> No Messages</h4>

    </div>
  </div>


  <!-- <h4 *ngIf="!NoRecords"  class="warning" > <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Record Not Available</h4> -->
</div>