<!-- <div class="row">
<h2 md-dialog-title>Distributors</h2><br>

</div> -->
<div class="row justify-content-between modal-title ">
    <div class="col-md-4  col-sm-4  col-lg-4">
        <i class="fa fa-file-text-o"></i>  
        Order List
    </div> 
    <div class="col-md-4  col-sm-4  col-lg-4 capitalize">
        <i class="fa fa-sitemap"></i>  
        Dist Name: {{Detail.data.firstname}} {{Detail.data.lastname}}
    </div> 
    <div class="col-md-1  col-sm-1  col-lg-1 right">
          <strong  ><i class="fa fa-times fs-20" (click)='onCloseCancel()' aria-hidden="true"></i>
          </strong>         
    </div>
  </div>
  
    <md-dialog-content layout="column">
        <div class="row pd-15x25 brd-bottom">
                <div class="col ">    
                    <table class="table table-hover table-fixedheader">
                        <thead>
                        <tr>
            <th width="10%"> Order Id</th>
            <th width="12%">Product </th>
            <th width="8%">Quantity</th>
            <th width="8%">Cost</th>
            <th width="10%">Status</th>
            <th width="8%">Mode</th>
            <th *ngIf="Detail.type == 'supplierOrder'" width="10%"> Supplier</th>
            <!-- <th width="">Request Data</th> -->
            <th width="12%">Customer </th>
            <th width="12%"> Cust Mobile</th>
           
          </tr>
        </thead>
        <tbody>
          <!-- <tr>
            <td colspan="10">
            <h4 *ngIf="noRecords" class="warning oneline center"><i class="fa fa-frown-o" aria-hidden="true"></i> Record Not Available</h4>
          </td> </tr> -->
            <tr  *ngFor= "let supplierOrder of SupplierOrderList" >
            <td width="10%" class="left" class="cellpadding" scope="row"> #{{supplierOrder.order_id}}</td>
            <td width="12%" class="left" class="cellpadding" scope="row"> {{supplierOrder.brandname}}</td>
            <td width="8%"  class="left" class="cellpadding" scope="row"> {{supplierOrder.quantity}}</td>
            <td width="8%"  class="left" class="cellpadding" scope="row">{{supplierOrder.prod_cost}}</td>   
            <td width="10%"  class="left" class="cellpadding" scope="row">{{supplierOrder.status}}</td>
            <td width="8%" class="left" class="cellpadding" scope="row">{{supplierOrder.paymenttype}}</td>
            <td *ngIf="Detail.type == 'supplierOrder'"  class="left" class="cellpadding" width="10%">
            <span *ngIf="supplierOrder.supplierdetails"> {{supplierOrder.supplierdetails.firstname}} </span>
          <span> - </span>
          </td>
            <td width="12%" class="left" class="cellpadding" scope="row">{{supplierOrder.customer.firstname}}</td>
            <td width="12%" class="left" class="cellpadding" scope="row">{{supplierOrder.customer.mobileno}}</td>
           
           </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="8">
              <h4 class="warning  capitalize center">
                <a href="javascript:void(0);" (click)=getOrdersByPaging(); *ngIf="ordersClickMore">
                  <i class="fa fa-cloud-upload" aria-hidden="true"></i> click for more data</a>
                <span *ngIf="!ordersClickMore">Record Not Available</span>
              </h4>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
            </div>
            </md-dialog-content>
    
    <div class="row float-right pdright-30 mgbottom-20">
        <md-dialog-actions align="end">
          <button md-raised-button (click)='onCloseCancel()'>CANCEL</button>&nbsp;
        </md-dialog-actions>
      </div>
  
      
  
  