.cellpadding {
    padding-left: 5px;
    padding-right: 5px;
 }
 .oneline{
    white-space: nowrap;
 }
 .scroll{
    overflow-x: auto !important;
    height: 350px !important;;
  }
  .table{
    margin-bottom: 0px !important;
  }
  .cap{
    text-transform: capitalize;
  }
  table.table-fixedheader>tbody {
    overflow-y: auto;
    max-height: 55vh !important;
}
