<div class="row justify-content-between modal-title ">
  <div class="col-4">
    <i class="fa fa-file-text-o"></i> Order Details
  </div>
  <div class="col-1 right">
    <strong (click)="onCloseCancel()"><i class="fa fa-times fs-20" aria-hidden="true"></i>
        </strong>
  </div>
</div>

<md-dialog-content layout="column">
  <div class="row pd-15x25 brd-bottom">
    <div class=" col-md-5 col-5 col-sm-5 brd-right">
      <div class="container-fluid">
        <b> Order Details</b>
        <div class="row form-group">
          <div class="col-md-5 col-5 col-sm-5">
            <small class="gray" id="name"> Order Id: #listview.order_id</small><br>
            <small class="black firstlettercap">brandname prod_type (Qty)</small>
          </div>
          <div class="col-md-7 right">
            <small><span class="gray">Delivery Date : </span> listview.delivery_exceptedtime </small><br>
            <small><span class="gray">Modified Date : </span> listview.modifieddate</small>
          </div>
        </div>
      </div>
      <div class="container-fluid  border-top pdtop-15">
        <div class="row form-group">
          <div class=" col-md-6"><span>Customer Details </span>
          </div>
          <div class="col-md-6 right">
            <button class="btn btn-primary btn-sm float-right" (click)='showCustomerDetails()'> View More</button>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-8">
            <small><i class="fa fa-user" aria-hidden="true"></i> firstname lastname</small><br>
            <small><i class="fa fa-map-marker" aria-hidden="true"></i> address</small>
          </div>
          <div class="col-md-4 right">
            <small><i class="fa fa-phone" aria-hidden="true"></i> orderby_mobileno</small><br>
            <small><i class="fa fa-location-arrow" aria-hidden="true"></i> orderby_areaname</small>
          </div>
        </div>
        <div class="row  border-top pdtop-15  form-group ">
          <div class="col-md-3">
            <small class="control-label success">Advance Amt</small><br>
            <small class="control-label success">Rs. listview.customerpaymentdts.advance_amount</small>
          </div>

          <div class="col-md-3 center">
            <small class="control-label warning"> Due Amount</small><br>
            <small class="control-label warning">Rs. listview.customerpaymentdts.amount_pending</small>
          </div>

          <div class="col-md-3 center">
            <small class="control-label gray"> Payment Type</small><br>
            <small class="control-label gray uppercase">listview.customerpaymentdts.paymenttype</small>
          </div>

          <div class="col-md-3 right">
            <small class="control-label black">Total</small><br>
            <small class="control-label black">Rs.<b></b></small>
          </div>
        </div>
      </div>
      <div class="container-fluid  border-top pdtop-15">
        <div class="row  form-group">
          <div class=" col-lg-6 col-md-6"><span ng-show="canstext">#of Cans with Customer </span>
            <!-- <span class="warning">noCansText</span> -->
          </div>
          <div class="col-md-6 right">
            <i class="fa fa-edit logo-color" aria-hidden="true" (click)='editCan()'></i><br>
          </div>
        </div>
        <div class="row form-group" ng-show="cansList">

          <table class="table table-fixed table-striped">
            <thead>
              <tr>
                <th width="15%"><small>Sno.</small></th>
                <th width="55%"><small>Product Name</small></th>
                <th width="30%" class=""><small>Empty Cans</small></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cans in ListofEmptyCans">
                <td width="15%"><small>$index + 1</small></td>
                <td width="55%"> <small>cans.product.productname + " "+ cans.product.product_type </small></td>
                <td width="30%"><small class="col-md-5 col-5 col-sm-5">cans.avaliablecans</small></td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="container-fluid">
      <div class="row">
        <label class="mgbtm-10">Order Status</label>
        <div class="row mgtop-15pc">
          <div class="col-lg-6 col-md-6" ng-show="hideOnhold">
            <button class="control-label btn btn-link btn-sm" ><b>On-hold Order</b></button></div>
            <div class="col-lg-6 col-md-6 align-right" ng-show="statusDetails">
              <button class="control-label btn btn-link btn-sm" ><b>Edit Status</b></button></div>
            </div>
      </div>
    </div>
  </div>
    <div class="col-md-4 form-group border-left">
      <label>Messages</label>
      <ul class="scrollheight">
        <li class="nolist-style row">
          <div class="messages-style">
            <i class="fa fa-reply" aria-hidden="true"></i> <small> messages.user.firstname messages.user.lastname </small><br>
            <small>messages.message </small><br>
            <span class="float-right"><small class="gray">messages.createddate</small></span>
          </div>
        </li>
      </ul>
      <div class="row border-top pdtop-15">
        <div class=" col-lg-10 col-md-10 col-sm-10 ">
          <textarea rows="4" cols="50" type="text" class="no-border form-control" placeholder="Type your message here"></textarea>
        </div>
        <div class="col-md-1 right">
          <i class="fa fa-send fa-send-style"  aria-hidden="true"></i>
        </div>

      </div>
    </div>
  </div>
</md-dialog-content>