<div class="row justify-content-between modal-title ">
  <div class="col">
    <!-- <i class="fa fa-file-text-o"></i>  -->
    Order Details
  </div>
  <div class="col-2 right">
    <strong (click)="onCloseModel()">
      <i class="fa fa-times fs-20" aria-hidden="true"></i>
    </strong>
  </div>
</div>

<md-dialog-content layout="column">
  <div class="container-fluid brd-bottom mgtop-10">
    <div class="row m-body">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 brd-right">
        <div class="container-fluid">
          <div class="d-flex">
            <b class="p-0 mr-auto">
              <i class="fa fa-file-text-o"></i> Order Details</b>

            <span class="ml-auto p-0 mgright-15  logo-color" *ngIf="dailogOrderDetails.status != 'delivered'">
              <b class="float-right fs-12" (click)="editQuantity(dailogOrderDetails)">
                <i class="fa fa-edit" aria-hidden="true"> </i> Edit Quantity</b>
            </span>
            <span class="logo-color mgright-15" (click)="assignOrder(this.orderDetail)" *ngIf="dailogOrderDetails.status == 'not_broadcasted' || dailogOrderDetails.status == 'backtodealer' || dailogOrderDetails.status == 'assigned'">
              <b class="float-right fs-12" (click)='assignOrder(dailogOrderDetails)'>
                <i class="fa fa-reply-all logo-color"></i> Assign Order</b>
            </span>
            <span class="mgright-15 logo-color" *ngIf="!dailogOrderDetails.isforwarded || orderDetail.OrderModifiedStatus == 'Re-Assign' || orderDetail.OrderModifiedStatus == 'Door Locked' || orderDetail.OrderModifiedStatus == 'Not Reachable'|| orderDetail.OrderModifiedStatus == 'Cant Deliver' || orderDetail.OrderModifiedStatus == 'Cancelled' || orderDetail.OrderModifiedStatus == 'Assign' ">
              <!-- <i class="fa fa-hand-paper-o logo-color" aria-hidden="true"
               (click)='onHoldStatus(dailogOrderDetails)' 
               *ngIf="dailogOrderDetails.OrderModifiedStatus !='On Hold'"
                title="Onhold"></i> -->
              <b class=" float-right fs-12" (click)='onHoldStatus(dailogOrderDetails)' *ngIf="dailogOrderDetails.OrderModifiedStatus !='On Hold'">
                <i class="fa fa-hand-paper-o" aria-hidden="true"> </i> Onhold</b>
              <!-- <i class="fa fa-edit logo-color"  aria-hidden="true"> </i> -->
            </span>
            <span class="logo-color">
              <b class="float-right fs-12" (click)='editStatus(dailogOrderDetails)'>
                <i class="fa fa-dot-circle-o" aria-hidden="true" title="Edit Status"></i> Edit Status</b>
            </span>
          </div>

          <div class="d-flex justify-content-between mgtop-5">
            <small class="gray" id="name">
              <b>Id: </b> #{{dailogOrderDetails.order_id}}</small>
            <small class=" capitalize">
              <b>Status: </b>
              <span [ngClass]="dailogOrderDetails.StatusColor"> {{dailogOrderDetails.OrderModifiedStatus}} </span>
            </small>
            <small >
              <b class="gray">Delivery Date: </b> <span class="danger">{{dailogOrderDetails.delivery_exceptedtime}}</span> </small>
          </div>

          <div class="row">
            <div class="col-md-6 col-6 col-sm-12">
              <small class="black capital">
                <b *ngIf="dailogOrderDetails.productdetails && dailogOrderDetails.productdetails.category">{{dailogOrderDetails.productdetails.category}}</b>
              </small>
            </div>
            <div class="col-md-6 col-6 col-sm-12 right">
              <small>
                <span class="gray">
                  <b>Modified Date: </b>
                </span>{{dailogOrderDetails.modifieddate | utcDate}}</small>
            </div>

          </div>
          <div class="row mgbottom-5">
            <div class="col-md-6 col-6 col-sm-12 mgtop-5">
              <small>
                <span class="onhovertooltip-230 capitalize" title="{{dailogOrderDetails.brandname}} {{dailogOrderDetails.prod_type}} {{dailogOrderDetails.quantity}}(Qty)">{{dailogOrderDetails.brandname}} {{dailogOrderDetails.prod_type}}
                  <span class="badge badge-pill bg-warning">{{dailogOrderDetails.quantity}}(Qty)</span>
                </span>
              </small>
            </div>
            <div class="col-md-6 col-6 col-sm-12 right">
              <small *ngIf="dailogOrderDetails.dealerdetails" class="capitalize info">
                <i class="fa fa-sitemap info" title="Distributor"></i>
                {{dailogOrderDetails.dealerdetails.firstname}} {{dailogOrderDetails.dealerdetails.lastname}} ({{dailogOrderDetails.dealerdetails.mobileno}})
              </small>

              <small *ngIf="dailogOrderDetails.dealerdetails == '' || dailogOrderDetails.dealerdetails === null " class="info">
                <i class="fa fa-sitemap " title="Distributor"></i> - </small>

            </div>

          </div>
        </div>
        <div class="container-fluid  border-top pdtop-5">
          <div class="row mgbottom-5">
            <div class=" col-md-6">
              <b>Customer Details </b>
            </div>

            <div class="col-md-6 right">
              <b class="logo-color float-right" (click)='showCustomerDetails(dailogOrderDetails)'>
                <i class="fa fa-chevron-circle-down" aria-hidden="true"> </i>
                More Orders</b>
            </div>
            <!-- <button class="btn btn-link btn-sm float-right" (click)='showOrderDetails(forward)'> -->

          </div>
          <div class="row form-group">
            <div class="col-md-6">
              <small class="capital ">
                <i class="fa fa-user" aria-hidden="true"></i> {{dailogOrderDetails.orderby_firstname}} {{dailogOrderDetails.orderby_lastname}} </small>
              <br>
              <small class="capital ">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span class="">Order Address</span>
                <br>
                <b class="gray9">
                  <span> {{dailogOrderDetails.locality}} </span>
                  <span *ngIf="dailogOrderDetails.locality == '' || dailogOrderDetails.locality === null"> - </span>

                </b>
                <b class="gray9">
                  <span> {{dailogOrderDetails.buildingname}}
                  </span>
                  <span *ngIf="dailogOrderDetails.buildingname == '' || dailogOrderDetails.buildingname === null"> - </span>
                </b>
                <br>
                <span class="gray9"> {{dailogOrderDetails.orderby_address}}</span>
              </small>
              <br>

            </div>
            <div class="col-md-6 right">
              <small class="capital ">
                <i class="fa fa-phone" aria-hidden="true"></i> {{dailogOrderDetails.orderby_mobileno}} </small>
              <br>
              <small class="capital">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span class="">Profile Address</span>
                <br>
                <b class="gray9">
                  <span>{{dailogOrderDetails.locality}} </span>

                  <span *ngIf="dailogOrderDetails.locality == '' || dailogOrderDetails.locality === null"> - </span>
                </b>
                <b>
                  <span class="gray9">{{dailogOrderDetails.buildingname}} </span>
                  <span *ngIf="dailogOrderDetails.buildingname == '' || dailogOrderDetails.buildingname === null"> - </span>
                </b>
                <br>
                <span class="gray9"> {{customerAddressDetails}}</span>
              </small>
              <!-- <small>
                  <i class="fa fa-location-arrow" aria-hidden="true"></i>
                  {{dailogOrderDetails.orderby_areaname}}</small> -->
            </div>
          </div>
          <div class="row  border-top pdtop-10  form-group " *ngIf="dailogOrderDetails.customerpaymentdts">
            <div class="col-md-3">
              <small class="control-label ">
                <b>Advance Amt</b>
              </small>
              <br>
              <small class="control-label success">Rs. {{dailogOrderDetails.advance_amount}}</small>
            </div>

            <div class="col-md-3 center">
              <small class="control-label ">
                <b> Due Amount</b>
              </small>
              <br>
              <small class="control-label warning">Rs. {{dailogOrderDetails.customerpaymentdts.amount_pending}}</small>
            </div>

            <div class="col-md-3 center">
              <small class="control-label gray">
                <b> Payment Type</b>
              </small>
              <br>
              <small class="control-label gray uppercase">{{dailogOrderDetails.customerpaymentdts.paymenttype}}</small>
            </div>

            <div class="col-md-3 right">
              <small class="control-label ">
                <b>Total</b>
              </small>
              <br>
              <small class="control-label danger">Rs.{{dailogOrderDetails.bill_amount}}
                <b></b>
              </small>
            </div>
          </div>
        </div>
        <div class="container-fluid  border-top pdtop-5">
          <div class="row  form-group">
            <div class=" col-lg-6 col-md-6 col-xl-6 col-sm-6">
              <b ng-show="canstext">#of Cans with Customer </b>
              <!-- <span class="warning">noCansText</span> -->
            </div>
            <div class="col-md-6 right" *ngIf="customerProductDetails.length > 0">
              <i class="fa fa-edit logo-color" aria-hidden="true" title="Edit Can" (click)='editCan(dailogOrderDetails)'></i>
              <br>
            </div>
          </div>
          <div class="form-group">

            <table class="table table-hover table-striped table-fixedheader">
              <thead>
                <tr>
                  <th width="50%">
                    <small>Product Name</small>
                  </th>
                  <th width="30%">
                    <small>Category</small>
                  </th>
                  <th width="20%">
                    <small>Empty Cans</small>
                  </th>
                </tr>
              </thead>
              <tbody class="tab-heigt center">
                <h5 *ngIf="customerProductDetails.length == 0" class="warning mgtop-10">
                  <span class="fa fa-frown-o"></span> There are no available cans for this customer</h5>
                <tr *ngFor="let canDetails of customerProductDetails; let i = index" [attr.data-index]="i">
                  <td width="50%">

                    <small>
                      <span class="onhovertooltip-350" title="{{canDetails.product.productname}} {{canDetails.product.product_type}}">{{canDetails.product.productname}} {{canDetails.product.product_type}}</span>
                    </small>
                  </td>

                  <!-- <td class=""> {{canDetails.product.category}}</td> -->

                  <td class="" width="30%">
                    <small>
                      <span class="">{{canDetails.product.category}}</span>
                    </small>
                  </td>
                  <td width="20%">
                    <small class="col-md-5 col-5 col-sm-5"> {{canDetails.avaliablecans}}</small>
                    <a *ngIf="canDetails.showIcon">
                      <small>
                        <i class="fa fa-exclamation-triangle yellow" title="Customer given extra {{canDetails.avaliablecans}} can to you"></i>
                      </small>
                    </a>

                  </td>

                </tr>

              </tbody>

            </table>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="container-fluid">

          <div class="row  ">
            <ul class="timeline">
              <li>
                <div class="timeline-badge">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <small class="timeline-title warning">
                      <b>Order Created </b>
                    </small>

                  </div>
                  <div class="timeline-body">
                    <ul class="pdleft-10">
                      <li>
                        <div class="d-flex">
                          <div class="p-0">
                            <small class="capital ng-binding">
                              <i class="fa fa-user" aria-hidden="true"></i>
                              {{dailogOrderDetails.orderby_firstname}} {{dailogOrderDetails.orderby_lastname}} </small>
                          </div>
                          <div class="ml-auto p-0">
                            <small class="ng-binding gray9">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              {{dailogOrderDetails.ordered_date | utcDate}}</small>
                          </div>
                        </div>

                      </li>
                      <!-- <li>
                          <small class="ng-binding">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> {{dailogOrderDetails.ordered_qty}}(Qty)</small>
                        </li> -->
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-badge info">
                  <i class="fa fa-check-square-o white" aria-hidden="true"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <small class="timeline-title warning">
                      <b> Order Forwarded</b>
                    </small>
                  </div>
                  <div class="timeline-body">
                    <ul class="pdleft-15" *ngIf="dailogOrderDetails.supplierdetails">
                      <li>
                        <div class="d-flex">
                          <div class="p-0">

                            <small class="capital ng-binding">
                              <i class="fa fa-user" aria-hidden="true"></i>
                              {{dailogOrderDetails.supplierdetails.firstname}} {{dailogOrderDetails.supplierdetails.lastname}}</small>
                          </div>
                          <div class="ml-auto p-0">
                            <small class="ng-binding gray9">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              {{dailogOrderDetails.order_assigneddate | utcDate}}</small>
                          </div>
                        </div>
                      </li>
                      <li>
                        <small class="ng-binding">
                          <i class="fa fa-phone" aria-hidden="true"></i> {{dailogOrderDetails.supplierdetails.mobileno}}</small>
                      </li>
                    </ul>


                    <ul class="pdleft-15" *ngIf="!dailogOrderDetails.supplierdetails && dailogOrderDetails.forwardeddetails">
                      <li>
                        <div class="d-flex">
                          <div class="p-0">

                            <small class="capital ng-binding">
                              <i class="fa fa-user" aria-hidden="true"></i>
                              {{dailogOrderDetails.forwardeddetails.fullname}}</small>
                          </div>
                          <!-- <div class="ml-auto p-0">
                            <small class="ng-binding gray9">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              {{dailogOrderDetails.order_assigneddate | utcDate}}</small>
                          </div> -->
                        </div>
                      </li>
                      <li>
                        <small class="ng-binding">
                          <i class="fa fa-phone" aria-hidden="true"></i> {{dailogOrderDetails.forwardeddetails.mobileno}}</small>
                      </li>
                    </ul>

                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-badge success">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <small class="timeline-title warning">
                      <b> Order Completed </b>
                    </small>
                  </div>
                  <div class="timeline-body" *ngIf="this.deliveredStatus">
                    <ul class="pdleft-15" *ngIf="dailogOrderDetails.supplierdetails">
                      <li>
                        <div class="d-flex">
                          <div class="p-0">
                            <small class="capital ng-binding">
                              <i class="fa fa fa-check-square-o" aria-hidden="true"></i>
                              {{dailogOrderDetails.supplierdetails.firstname}} {{dailogOrderDetails.supplierdetails.lastname}}</small>
                          </div>

                          <div class="ml-auto p-0">
                            <small class="ng-binding gray9">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              {{dailogOrderDetails.order_delivereddate | utcDate}}</small>
                          </div>
                        </div>
                      </li>
                      <li>
                        <small class="ng-binding">
                          <i class="fa fa-arrow-right" aria-hidden="true"></i> {{dailogOrderDetails.delivered_quantity}}(Qty)</small>

                        <small class="ng-binding">
                          <i class="fa fa-arrow-right" aria-hidden="true"></i> {{dailogOrderDetails.return_cans}}(Qty)</small>
                      </li>
                    </ul>

                    <ul class="pdleft-15" *ngIf="!dailogOrderDetails.supplierdetails">
                      <li>
                        <div class="d-flex">
                          <div class="p-0">
                            <small class="capital ng-binding" *ngIf="dailogOrderDetails.dealerdetails">
                              <i class="fa fa fa-check-square-o" aria-hidden="true"></i>
                              {{dailogOrderDetails.dealerdetails.firstname}} {{dailogOrderDetails.dealerdetails.lastname}}</small>
                          </div>

                          <div class="ml-auto p-0">
                            <small class="ng-binding gray9">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              {{dailogOrderDetails.order_delivereddate | utcDate}}</small>
                          </div>
                        </div>
                      </li>

                      <li>
                        <small class="ng-binding">
                          <i class="fa fa-arrow-right" aria-hidden="true"></i> {{dailogOrderDetails.delivered_quantity}}(Qty)</small>

                        <small class="ng-binding">
                          <i class="fa fa-arrow-right" aria-hidden="true"></i> x{{dailogOrderDetails.return_cans}}(Qty)</small>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <!-- notification buttons -->
          <div class="row">
            <!-- <div class="col">
  <button class="mat-raised-button mat-primary"   (click)="getTemplates(dailogOrderDetails)"  > Read notification</button> 
  </div> -->
            <div class="pad-btn row" *ngIf="superDealer || customerCare || salesTeamLogin">
              <button class="mat-raised-button mat-primary orderbtncol" (click)="getTemplates(dailogOrderDetails)">Customer Quick notification</button>
            </div>

            <div class="templ" *ngIf="notificationHistory">
              <div class="container-fluid messages-style" *ngFor="let history of notificationHistory">
                <div class="row">
                  <div class="col">
                    <small *ngIf="history.notificationsendedby && history.notificationsendedby.fullname" class="capitalize">
                      <i aria-hidden="true" class="fa fa-reply rotate-180"></i> {{history.notificationsendedby.fullname}}</small>
                    <small *ngIf="!history.notificationsendedby"> - </small>
                  </div>

                  <div class="col">
                    <small class="gray9">{{history.createddate | utcDate}}</small>
                  </div>
                </div>
                <div class="">
                  <small *ngIf="history.message" class="firstLetterCap" title="{{history.message}}">{{history.message}}</small>
                  <small *ngIf="!history.message"> - </small>
                </div>
              </div>
              <!-- <table class="table table-hover table-fixedheader ">
                <thead>
                  <tr>
                    <th width="14%">
                      <small>Sent by</small>
                    </th>
                    <th width="38.5%">
                      <small>Template Name</small>
                    </th>
                    <th width="46%">
                      <small>Date</small>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let history of notificationHistory">
                    <td width="14%">
                      <small *ngIf="history.notificationsendedby && history.notificationsendedby.fullname" >{{history.notificationsendedby.fullname}}</small>
                      <small *ngIf="!history.notificationsendedby" > - </small>
                    </td>

                    <td width="40%">
                      <small *ngIf="history.message" class="onhovertooltip-100" title="{{history.message}}">{{history.message}}</small>
                      <small *ngIf="!history.message"> - </small>
                    </td>

                    <td width="46%">
                      <small>{{history.createddate | utcDate}}</small>
                    </td>
                  </tr>
                </tbody>
              </table> -->
            </div>


            <!-- <small class="" *ngIf="this.notificationDetails.templatename">{{this.notificationDetails.templatename}}</small> &nbsp; &nbsp; &nbsp;
              <small *ngIf="this.notificationDetails.templatename"> {{this.notificationDetails.status}}</small> -->

            <!-- <div class="row mgtop-10">
      <div class="col">
  <button class="mat-raised-button mat-primary" (click)="getTemplates(dailogOrderDetails)" >Remainder 3</button>
  </div>
  <div class="col">
  <button class="mat-raised-button mat-primary" (click)="getTemplates(dailogOrderDetails)" >Remainder 4</button> 
  </div>
  </div> -->
            <!-- <div class="row mgtop-10">
      <div class="col">
  <button class="mat-raised-button mat-primary" (click)="getTemplates(dailogOrderDetails)" >Delivered</button>
  </div></div> -->
            <!-- radio, checkbox, website , slide , playstore 
  
  (click)="notification('radio')"
   (click)="notification('checkbox')"
    (click)="notification('website')"
     (click)="notification('slide')"
      (click)="notification('playstore')"
  -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 border-left">
        <div class=" form-group ">
          <b class="">
            <i class="fa fa-comments-o" aria-hidden="true"></i> Messages</b>
          <ul class="scrollheight-pop">
            <li class="nolist-style  messages-style" [ngClass]="{'highlight':msg.ispublic == 2 , 'dist-msg' : msg.ispublic == 1 , 'followupmessage':msg.typeid }"
              *ngFor="let msg of orderbyallMessages | sorting : 'createddate'">
              <div class="row" *ngIf="msg.user">
                <div class="col">
                  <i class="fa fa-reply" aria-hidden="true"></i>
                  <!-- <span *ngIf="msg.ispublic == 2"> <i class="  red fa fa-asterisk"  title="Complaint has been raised"></i></span> -->
                  <small *ngIf="msg.user" class="capitalize">&nbsp;
                    <b>{{msg.user.firstname}} {{msg.user.lastname}} </b>
                  </small>
                </div>
                <div class="col-5 right">
                  <small class="gray9">{{ msg.createddate | utcDate}} </small>
                </div>
              </div>
              <small>{{ msg.message}} </small>
              <div class="row" *ngIf="msg.typeid">
                <div class="col">
                  <i class="fa fa-reply" aria-hidden="true"></i>
                  <small *ngIf="msg.typeid">&nbsp; Follow Up by {{msg.username}}</small>
                  <br>
                  <small *ngIf="msg.typeid">Next FollowUp Date {{msg.followupdate | utcDate24}}</small>
                </div>
                <div class="col-5 right">
                  <small class="">{{ msg.createddate | utcDate}} </small>
                </div>
              </div>
              <small>{{ msg.remarks}} </small>
            </li>

          </ul>
          <div class=" border-top pdtop-10">
            <div class="form-group">
              <b class="">Select : &nbsp;</b>
              <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                <input type="radio" id="rem" class="custom-control-input" [(ngModel)]="messageInput.order.ispublic" name="status" value="0">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"> Customer</span>
              </label>
              <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                <input type="radio" id="rem" class="custom-control-input" [(ngModel)]="messageInput.order.ispublic" name="status" value="1">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"> Distributor</span>
              </label>

              <label>
                <i class="fa fa-envelope fa-20 logo-color" aria-hidden="true" title="Send Order details to customer" (click)="sendOrderDetailsMessage(orderDetail)"></i> 
              </label>

              <label>
                <i class="fa fa-envelope-open-o fa-20 logo-color" aria-hidden="true" title="Send Order details to distributor" (click)="sendOrderDetailsMessageToDistributor(orderDetail)"></i> 
              </label>

              <label class="float-right">
                <i class="fa fa-volume-control-phone fa-20 logo-color" aria-hidden="true" title="Internal Message" (click)="internalMessage(orderDetail)"></i> &nbsp;
                <i class="fa fa-commenting-o 	logo-color fs-24" aria-hidden="true" title="Message Template" *ngIf="superDealer || customerCare || salesTeamLogin"
                  (click)="messageTemplate(orderDetail)"></i> &nbsp;
                <i class="fa  fa-share-square-o logo-color  fs-20" title="Send Message" aria-hidden="true" (click)="sendMessage()"> </i>
              </label>
            </div>
            <div class=" ">
              <textarea rows="5" cols="20" type="text" maxlength="500" class="no-border form-control fs-12" placeholder="Type your message here"
                [(ngModel)]="messageInput.order.reason"> </textarea>
            </div>

            <div class="">
              <small class="">Characters Remaining :
                <span class="danger">{{500 - messageInput.order.reason.length}}</span>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</md-dialog-content>