<div class="row justify-content-between modal-title ">
    <div class="col-xs-7 col-sm-6 col-lg-8">
       <strong><i class="	fa fa-check-circle" aria-hidden="true" ></i> &nbsp; </strong>  Profile Update</div>
    <!-- <div class="col-md-1 col-sm-1 right">
      <strong (click)="onCloseCancel()"> <i class="fa fa-times fs-20" aria-hidden="true"></i>
              </strong>
    </div> -->
  </div>
  <div class="align " >
    <br>
    Profile updated successfully!!
  </div>
  <br>
  <div class="row float-right pdright-30 mgbottom-20">
    <md-dialog-actions align="end">  
      <button type="submit" class="btn-primary" md-raised-button (click)="onCloseCancel()">OK</button>&nbsp;
    </md-dialog-actions>
  </div>
  