/* table thead {
    background: var( --logo-color);
    color: var( --logo-color);
  } */
  .table td, .table th{
    padding: 8px;
    vertical-align:unset;
    border-top: none;
  }

  .hovernumbers{
    display:none;
  }
  
  .numbers:hover .hovernumbers {
    display:block
  }
  .dist-style{
    border: 1px solid #ddd;
    margin: 20px;
  }
  .distIcon-style{
    padding: 15px;
    margin: 0px;
    border-bottom: 1px solid #c5d6de;
  }
  .pd-15x10{
    padding: 15px 10px;
  }
  .mg-0{
    margin: 0px !important;
  }
  .filter-style{
    border: 1px solid #c5d6de;
    padding: 20px 30px;
  }
  .mat-form-field{
    display: inline;
  }
  .left{
    text-align: left;
  }
  a{
    color: var( --logo-color);
  }
  .pdleft-20{
    padding-left: 20px !important;
  }
  .btn-link{
    color: var( --logo-color);
  }
  
  /* .mat-dialog-container{
    height: 90% !important;
  } */

  .dropbtn {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}
.pd-12{
  padding: 12px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    color: var( --logo-color);
    cursor: pointer;    
    padding: 15px 20px;
    background-color: #f9f9f9;
    min-width: 380px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.dropdown-content label {
  cursor: pointer;   
}
.dropdown-content label:hover{
  cursor: pointer;  
  background: #f1f5f7;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
    visibility: visible;
    transition-delay: 1s;
}
.distIcon-style{
  padding: 15px;
  margin: 0px;
  border-bottom: 1px solid #c5d6de;
}
.brd-box-box {
  padding: 0px;
  border: 1px solid #ddd;
  border-radius: 1px;
  margin: 0px;
  margin-bottom: 15px; 
  box-shadow: 0 4px 20px -6px #777;
  border-radius: 0px;
}
.joined-style{
  background: #fff;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  margin-left: 10px;
}

@media only screen and (max-width : 640px) {  
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  color: var( --logo-color);   
  padding: 7px 10px;
  background-color: #f9f9f9;
  min-width: 170px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropbtn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var( --logo-color);
}

}

